[data-theme="dark"] {
  --base-color: #000;
  --text-color: #fff;
  --text-span: hsla(187, 45%, 67%, 0.74);
  --clr-neon: hsl(191, 9%, 35%);
  --clr-button: hsla(0, 0%, 100%, 0);
  --gradient: linear-gradient(90deg, #ced7e06e, #5daab9, #cda4ceb2, #cc77cc);

  --gradient-header: linear-gradient(90deg, #ced7e06e, #5daab956, #cda4ce2d, #413a41);

  --shadow: 0 30px 100px rgba(223, 223, 233, 0.671);
  --navbar-shadow: 0 30px 100px rgba(189, 159, 159, 0.863), 0 30px 100px rgba(204, 190, 190, 0.603);

  --text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.89), 0 0 0.45em currentColor;


  --background: linear-gradient(270deg, #ce85a9b9, #c4bbce, #c97ba2bd);

  --bars: #eee6e6;

  /* Light mode background gradient */
  --body-gradient-top: hsla(0, 0%, 0%, 0.95);
  /* almost white */
  --body-gradient-bottom: hsla(0, 0%, 0%, 0.35);
  /* light blue/gray */

  /* Light mode grid line color */
  --body-grid-line: rgba(255, 255, 255, 0.788);
  /* subtle dark lines */

  --shadow-color: #fff;
  --shadow-color2: #77d6e0;
  --shadow-color3: #7abec7fd;
}


[data-theme="light"] {
  --base-color: #fff;
  --text-color: #000000;
  --text-span: #000000;
  --clr-neon: hsla(189, 4%, 63%, 0.733);
  --clr-button: hsla(0, 0%, 100%, 0.671);
  --gradient: linear-gradient(45deg, #b8c1c910, #6c888f13, #cfd6db2c, #e3e4fa17);

  --gradient-header: linear-gradient(90deg, #ced7e06e, #5daab956, #cda4ce2d, #413a41);

  --shadow: 0 30px 100px rgba(223, 223, 233, 0);
  --navbar-shadow: 0 30px 100px rgba(14, 13, 13, 0.863), 0 30px 100px rgba(70, 64, 64, 0.021);

  /*--text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0), 0 0 0.45em var(--text-color);*/

  --text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.89), 0 0 0.45em currentColor;

  --background: linear-gradient(270deg, #ce85aa36, #c4bbce00, #6820449d);

  --bars: #000000;

  /* Light mode background gradient */
  --body-gradient-top: hsla(0, 0%, 100%, 0.692);
  --body-gradient-bottom: hsla(0, 0%, 100%, 0.212);

  /* Light mode grid line color */
  --body-grid-line: rgba(0, 0, 0, 1);
  /* Darker shadow colors for animation */
  --shadow-color: rgba(0, 0, 0, 0.85);
  --shadow-color2: rgba(0, 0, 0, 0.5);
  --shadow-color3: rgba(0, 0, 0, 0.3);
}

:root {
  --sp: 5s;
  --burger-thickness: 4px;
  --navigation__transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;


  /* Step -2: 10.1301px → 11.2556px */
  --step--2: clamp(0.6331rem, 0.6044rem + 0.1279cqi, 0.7035rem);
  /* Step -1: 13.5034px → 15.0038px */
  --step--1: clamp(0.844rem, 0.8056rem + 0.1705cqi, 0.9377rem);
  /* Step 0: 18px → 20px */
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273cqi, 1.25rem);
  /* Step 1: 23.994px → 26.66px */
  --step-1: clamp(1.4996rem, 1.4315rem + 0.303cqi, 1.6663rem);
  /* Step 2: 31.984px → 35.5378px */
  --step-2: clamp(1.999rem, 1.9081rem + 0.4038cqi, 2.2211rem);
  /* Step 3: 42.6347px → 47.3719px */
  --step-3: clamp(2.6647rem, 2.5435rem + 0.5383cqi, 2.9607rem);


  /* Space 7xs: 1px → 1px */
  --space-7xs: clamp(0.0625rem, 0.0625rem + 0cqi, 0.0625rem);
  /* Space 6xs: 2px → 2px */
  --space-6xs: clamp(0.125rem, 0.125rem + 0cqi, 0.125rem);
  /* Space 5xs: 3px → 3px */
  --space-5xs: clamp(0.1875rem, 0.1875rem + 0cqi, 0.1875rem);
  /* Space 4xs: 4px → 4px */
  --space-4xs: clamp(0.25rem, 0.25rem + 0cqi, 0.25rem);
  /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0cqi, 0.3125rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136cqi, 0.625rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136cqi, 0.9375rem);
  /* Space s: 18px → 20px */
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273cqi, 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409cqi, 1.875rem);
  /* Space l: 36px → 40px */
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545cqi, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818cqi, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091cqi, 5rem);
  /* Space 3xl: 90px → 100px */
  --space-3xl: clamp(5.625rem, 5.3693rem + 1.1364cqi, 6.25rem);
  /* Space 4xl: 108px → 120px */
  --space-4xl: clamp(6.75rem, 6.4432rem + 1.3636cqi, 7.5rem);
  /* Space 5xl: 126px → 140px */
  --space-5xl: clamp(7.875rem, 7.517rem + 1.5909cqi, 8.75rem);
  /* Space 6xl: 144px → 160px */
  --space-6xl: clamp(9rem, 8.5909rem + 1.8182cqi, 10rem);
  /* Space 7xl: 162px → 180px */
  --space-7xl: clamp(10.125rem, 9.6648rem + 2.0455cqi, 11.25rem);
  /* Space 8xl: 180px → 200px */
  --space-8xl: clamp(11.25rem, 10.7386rem + 2.2727cqi, 12.5rem);
  /* Space 9xl: 198px → 220px */
  --space-9xl: clamp(12.375rem, 11.8125rem + 2.5cqi, 13.75rem);
  /* Space 10xl: 216px → 240px */
  --space-10xl: clamp(13.5rem, 12.8864rem + 2.7273cqi, 15rem);

  /* One-up pairs */
  /* Space 7xs-6xs: 1px → 2px */
  --space-7xs-6xs: clamp(0.0625rem, 0.0369rem + 0.0900cqi, 0.125rem);
  /* Space 6xs-5xs: 2px → 3px */
  --space-6xs-5xs: clamp(0.125rem, 0.0994rem + 0.1136cqi, 0.1875rem);
  /* Space 5xs-4xs: 3px → 4px */
  --space-5xs-4xs: clamp(0.1875rem, 0.1619rem + 0.1136cqi, 0.25rem);
  /* Space 4xs-3xs: 4px → 5px */
  --space-4xs-3xs: clamp(0.25rem, 0.2244rem + 0.1136cqi, 0.3125rem);
  /* Space 3xs-2xs: 5px → 10px */
  --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682cqi, 0.625rem);
  /* Space 2xs-xs: 9px → 15px */
  --space-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818cqi, 0.9375rem);
  /* Space xs-s: 14px → 20px */
  --space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818cqi, 1.25rem);
  /* Space s-m: 18px → 30px */
  --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636cqi, 1.875rem);
  /* Space m-l: 27px → 40px */
  --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773cqi, 2.5rem);
  /* Space l-xl: 36px → 60px */
  --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273cqi, 3.75rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545cqi, 5rem);
  /* Space 2xl-3xl: 72px → 100px */
  --space-2xl-3xl: clamp(4.5rem, 3.7841rem + 3.1818cqi, 6.25rem);
  /* Space 3xl-4xl: 90px → 120px */
  --space-3xl-4xl: clamp(5.625rem, 4.858rem + 3.4091cqi, 7.5rem);
  /* Space 4xl-5xl: 108px → 140px */
  --space-4xl-5xl: clamp(6.75rem, 5.9318rem + 3.6364cqi, 8.75rem);
  /* Space 5xl-6xl: 126px → 160px */
  --space-5xl-6xl: clamp(7.875rem, 7.0057rem + 3.8636cqi, 10rem);
  /* Space 6xl-7xl: 144px → 180px */
  --space-6xl-7xl: clamp(9rem, 8.0795rem + 4.0909cqi, 11.25rem);
  /* Space 7xl-8xl: 162px → 200px */
  --space-7xl-8xl: clamp(10.125rem, 9.1534rem + 4.3182cqi, 12.5rem);
  /* Space 8xl-9xl: 180px → 220px */
  --space-8xl-9xl: clamp(11.25rem, 10.2273rem + 4.5455cqi, 13.75rem);
  /* Space 9xl-10xl: 198px → 240px */
  --space-9xl-10xl: clamp(12.375rem, 11.3011rem + 4.7727cqi, 15rem);


  --pt-serif-regular: "PT Serif",
    serif;
  --pt-serif-italic: "PT Serif Italic",
    serif;
  --font-weight-1: 400;
  --font-style-1: italic;

  --ff-monoton-regular: "Monoton",
    sans-serif;
  --font-weight-regular: 400;
  --font-style-regular: normal;
  --btn-border-radius: var(--space-s);
  /* global page padding variables */
  --page-pad-inline: var(--space-6xs-5xs);
  --page-pad-block: 0;
  --letter-space-content: var(--space-7xs-6xs);
  --word-space-content: var(--space-7xs-6xs);
}

@layer support.demo {
  * {
    box-sizing: border-box;
    margin: 0;
  }
}

@supports (selector(::view-transition)) {
  .support.view-transition {
    display: none;
  }
}

@container not style(--theme: dark) {
  .support.style-query {
    display: none;
  }
}

.support {
  background-color: var(--base-color);
  border-inline-start: 0.5rem solid var(--text-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  padding: 1em 2em;
}

::view-transition {
  background: #555;
}

::view-transition-image-pair(root) {
  perspective: 2500px;
  perspective-origin: center;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 100vw;
  filter: drop-shadow(0px 0px 6px hsl(180, 7%, 22%)) drop-shadow(0px 0px 25px hsla(180, 6%, 33%, 0.5));
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: 1.5s linear(0,
      0.324 9.1%,
      0.584 18.6%,
      0.782 28.6%,
      0.858 33.8%,
      0.92 39.2%,
      0.997 49.5%,
      1.021 55.1%,
      1.033 61%,
      1.035 71.7%,
      1);
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  /*   perspective: 800px; */
  transform: translateZ(-50vw) scale(var(--scale)) rotatey(var(--rotation)) translatez(50vw);
  backface-visibility: hidden;
}

::view-transition-old(root) {
  animation-name: reveal-out;
}

::view-transition-new(root) {
  animation-name: reveal-in;
}

@property --rotation {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --scale {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@keyframes reveal-in {
  from {
    --rotation: -90deg;
    animation-timing-function: ease-in-out;
  }

  15% {
    --scale: 0.8;
    --rotation: -90deg;
  }

  85% {
    --scale: 0.8;
    --rotation: 0deg;
    animation-timing-function: ease-in-out;
  }

  to {
    --rotation: 0deg;
  }
}

@keyframes reveal-out {
  from {
    --rotation: 0deg;
    animation-timing-function: ease-in-out;
  }

  15% {
    --scale: 0.8;
    --rotation: 0deg;
  }

  85% {
    --scale: 0.8;
    --rotation: 90deg;
    animation-timing-function: ease-in-out;
  }

  to {
    --rotation: 90deg;
  }
}

body,
html {
  letter-spacing: var(--letter-space-content);
  word-spacing: var(--word-space-content);
  padding: 0 var(--page-pad-inline);
}

body {
  background-color: var(--base-color);
  font-family: var(--pt-serif-italic);
  font-weight: var(--font-weight-1);
  font-style: var(--font-style-1);
  font-size: var(--step--1);
  color: var(--text-color);
}

body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
  z-index: 1000;
  isolation: isolate;
}

body::before {
  opacity: 1;
  pointer-events: none;
  content: "";
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  background:
    linear-gradient(to bottom,
      var(--body-gradient-top) 0%,
      var(--body-gradient-bottom) 100%),
    linear-gradient(90deg,
      var(--body-grid-line) 0 1px,
      transparent 1px 30px) 0 0 / 30px 30px repeat,
    linear-gradient(180deg,
      var(--body-grid-line) 0 1px,
      transparent 1px 30px) 0 0 / 30px 30px repeat;
  mask-image: linear-gradient(-100deg, transparent 0%, var(--body-grid-line) 100%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.7s ease-in-out,
    background-position 0.3s ease-in-out;
  z-index: 0;
  overflow: hidden;
}

body>* {
  /* Ensure all direct children of body are treated as containers */
  container-type: inline-size;
  margin-inline: auto;
}



/*------header-------*/
header {
  position: fixed;
  top: 0;
  left: var(--space-m);
  right: var(--space-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-7xs-6xs) var(--space-s-m);
  box-shadow: var(--navbar-shadow);

  background: var(--gradient-header);
  border-radius: var(--space-l);
  background-color: transparent;
  z-index: 1500;
}

/*------title-------*/

.h {
  padding: var(--space-7xs-6xs) var(--space-2xl-3xl);
}

.h span {
  color: var(--text-span);
  font-size: var(--step--1);
}

/*------navigation-------*/

.nav {
  position: relative;
  z-index: 1000;
}

.nav-links {
  margin-left: var(--space-3xl);
  display: flex;
  gap: var(--space-s-m);
  list-style: none;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.4s ease-in;
  z-index: 1000;
}

.nav-links.open {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-m-l);
  list-style: none;
  box-shadow: var(--shadow);
  z-index: 2000;
  opacity: 1;
  pointer-events: all;
  background-color: transparent;
  padding: var(--space-s-m) var(--space-xs-s);
}

.nav-links li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  user-select: none;
  list-style: none;
  background-color: transparent;
  border: 0;
  border-radius: var(--btn-border-radius);
  z-index: 1000;
  cursor: pointer;
  gap: var(--space-6xs-5xs);
  transition: transform 0.4s cubic-bezier(.4, 0, .2, 1), opacity 0.4s cubic-bezier(.4, 0, .2, 1);
}

.nav-links li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: var(--space-6xs-5xs);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  user-select: none;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  font-size: var(--step--1);
  letter-spacing: var(--letter-space-content);
  word-spacing: var(--word-space-content);
  text-align: center;
}

.nav-links li a span {
  font-size: var(--step--1);
  letter-spacing: var(--letter-space-content);
  margin-inline: auto;
}

.nav-links li svg {
  height: var(--space-m-l);
  width: var(--space-m-l);
  object-fit: cover;
  stroke-linecap: round;
  stroke-linejoin: miter;
  color: var(--text-color);
  background-color: transparent;
  opacity: 1;
  display: inline-block;
  transition: color 0.3s, background-color 0.3s;
  /* Add this line */
  user-select: none;
  pointer-events: none;
  /* Prevents SVG from capturing pointer events */
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
  stroke-width: var(--space-xs-s);
}

ul {
  @media (hover) {
    &>li {
      transform-origin: left center;
      transition:
        transform 1s var(--ease-spring-3),
        opacity .3s var(--ease-3);
    }

    &:hover>li:not(:hover) {
      opacity: .5;
      transform: scale(0.8);
    }
  }
}

/* Theme list styles remain unchanged */
.theme-list {
  position: absolute;
  padding: var(--space-7xs) var(--space-s);
  right: var(--space-s);
  top: var(--space-7xs);
  transition: opacity 0.3s ease-in-out;
  box-shadow: var(--shadow);
  border-radius: var(--btn-border-radius);
}

.theme-button {
  position: absolute;
  padding: var(--space-7xs) var(--space-s);
  right: var(--space-s);
  top: var(--space-7xs);
  background-color: var(--clr-button);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: all;
  border: none;
  border-radius: var(--btn-border-radius);
  box-shadow: var(--shadow);
}

.theme-button.active {
  display: none;
}

.theme-button:not(.active) {
  display: block;
}

.theme-button input[type="radio"] {
  display: none;
}

.theme-button label {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 1000;
  padding: var(--space-6xs-5xs) var(--space-s-m);
  gap: var(--space-6xs-5xs);
  align-items: center;
  text-decoration: none;
  background-color: var(--clr-button);
  color: var(--text-color);
  box-shadow: var(--shadow);
  font-size: var(--step--1);
  border: 0;
  border-radius: var(--btn-border-radius);
  user-select: none;
  transition: color 0.3s, box-shadow 0.3s;
}

.theme-button svg {
  width: var(--space-m-l);
  height: var(--space-m-l);
  vertical-align: middle;
  stroke-linecap: round;
  stroke-linejoin: miter;
  color: var(--text-color);
  background-color: var(--base-color);
  opacity: 1;
  display: inline-block;
  transition: color 0.3s, background-color 0.3s;
  /* Add this line */
}

.theme-button svg path {
  fill: var(--text-color);
  transition: fill 0.3s, stroke 0.3s;
  stroke: var(--space-xs);
  /* Add stroke if you want to animate it too */
}

.theme-button:hover svg {
  transform: scale(0.5);
  transition: transform 0.1s, color 0.3s, background-color 0.3s;
  color: var(--text-span);
  background-color: var(--base-color);
  /* Or another color if you want */
}

.theme-button:hover svg path {
  fill: var(--text-span);
  transition: fill 0.3s, stroke 0.3s;
}

/* Style SVGs inside theme-list items */
.theme-button label svg {
  width: var(--space-s-m);
  height: var(--space-s-m);
  margin-right: var(--space-xs-s);
  vertical-align: middle;
  color: var(--text-color);
  background-color: var(--base-color);
  opacity: 1;
  display: inline-block;
}

.theme-button span {
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--base-color);
  padding: 0 var(--space-2xs-xs);
}


/*------intro-------*/

.intro {
  display: block;
  text-align: center;
  margin-inline: 0 auto;
  margin-top: var(--space-4xl);
  background-color: transparent;
  opacity: 1;
  z-index: 1000;
}

.intro p {
  font-size: var(--step--1);
  white-space: nowrap;
}

.fancy span {
  display: inline-block;
  background: linear-gradient(270deg, #bb7ba1, #8482ac, #61a178, #70b4be, #6b85af, #8a5cf68f, #ec4899, #85b153);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 3s ease-in-out infinite alternate;
  animation-direction: alternate reverse;
  font-size: var(--step-0);
  letter-spacing: var(--letter-space-content);
  padding-left: var(--space-3xs-2xs);
  padding-right: var(--space-3xs-2xs);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.intro .ya {
  font-size: var(--step-0);
  white-space: nowrap;
  margin-block: var(--space-4xs-3xs);
}

/*------gradient text-------*/

.wrapper-gradient-text {
  font-size: var(--step-2);
  margin: 0;
  /* Remove default margins */
  padding: 0;
  /* Remove default padding */
  padding-top: var(--space-2xs-xs);
  text-align: center;
  /* Align text to the left */
  text-shadow: 100px 100px 100px rgb(255, 255, 255);
}

.text-layer {
  background: var(--gradient);
  background-size: 200% 200%;
  background-clip: text;
  color: transparent;
  animation: shadowDrip 3s infinite alternate ease-in-out;
  /* Use theme shadow for fallback */
  text-shadow: var(--text-shadow, 100px 150px 100px rgba(255, 255, 255, 0.853));
}

@keyframes shadowDrip {
  0% {
    text-shadow: 0px 0px 0px var(--shadow-color),
      0px 0px 0px var(--shadow-color2),
      0px 0px 0px var(--shadow-color3);
  }

  100% {
    text-shadow: 0px 50px 100px var(--shadow-color),
      0px 15px 20px var(--shadow-color2),
      0px 30px 5px var(--shadow-color3);
  }
}

@container (max-width: 600px) {

  .h {
    padding: var(--space-m) var(--space-s);
  }

  header .bars {
    display: block;
    top: var(--space-l);
    left: var(--space-s);
    height: 3px;
    width: 20px;
  }

  .theme-list,
  .theme-button {
    position: absolute;
    padding: 0 var(--space-s);
    right: var(--space-s);
    top: var(--space-xs);
    transition: opacity 0.3s ease-in-out;
    box-shadow: var(--shadow);
    border-radius: var(--btn-border-radius);
  }

  .nav-links.open {
    position: absolute;
    top: 0;
    left: 10%;
    margin-inline: auto;
    margin-block: var(--space-xl);
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-l-xl);
    list-style: none;
    border-radius: var(--btn-border-radius);
    z-index: 2000;
    overflow: hidden;
    color: var(--text-color);
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s;
  }

  .nav-links li {
    color: var(--text-color);
    transform: translateY(60px);
    opacity: 0;
    transition:
      transform 0.6s cubic-bezier(.22, .61, .36, 1),
      opacity 0.6s cubic-bezier(.22, .61, .36, 1);
  }

  .nav-links.open li {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001s;
    animation-iteration-count: 1;
    transition-duration: 0.001s;
    scroll-behavior: auto;
  }
}