:root {

	/*----------- Fluid typography with mobile scaling ------------- */
	--step-01: clamp(0.875rem, 0.8348rem + 0.1087vw, 1rem);
	--step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
	--step-1: clamp(1.25rem, 1.1632rem + 0.4341vw, 1.4996rem);
	--step-2: clamp(1.5625rem, 1.4107rem + 0.7591vw, 1.999rem);
	--step-3: clamp(1.9531rem, 1.7056rem + 1.2375vw, 2.6647rem);
	--step-4: clamp(2.4414rem, 2.0551rem + 1.9315vw, 3.552rem);
	--step-5: clamp(3.0518rem, 2.4663rem + 2.9271vw, 4.7348rem);
	--step-6: clamp(3.8147rem, 2.9462rem + 4.3423vw, 6.3115rem);
	--step-7: clamp(4.7684rem, 3.5006rem + 6.3389vw, 8.4132rem);

	/*----------Fluid spacing with mobile scaling ------------------ */

	--space-4xs: clamp(0.125rem, 0.1033rem + 0.1087vw, 0.1875rem);
	--space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
	--space-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
	--space-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
	--space-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
	--space-l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
	--space-xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
	--space-2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
	--space-3xl: clamp(6rem, 5.7391rem + 1.3043vw, 6.75rem);
	--space-4xl: clamp(7rem, 6.6957rem + 1.5217vw, 7.875rem);
	--space-5xl: clamp(8rem, 7.6522rem + 1.7391vw, 9rem);
	--space-6xl: clamp(9rem, 8.6087rem + 1.9565vw, 10.125rem);
	--space-7xl: clamp(10rem, 9.5652rem + 2.1739vw, 11.25rem);
	--space-8xl: clamp(11rem, 10.5217rem + 2.3913vw, 12.375rem);
	--space-9xl: clamp(12rem, 11.4783rem + 2.6087vw, 13.5rem);
	--space-10xl: clamp(13rem, 12.4348rem + 2.8261vw, 14.625rem);
	--space-11xl: clamp(14rem, 13.3913rem + 3.0435vw, 15.75rem);

	/*---------------- Button and padding settings ----------------- */

	--padding-inline: var(--space-4xs);


	/* Font families */
	--font-family-primary: 'wire_oneregular', monospace, sans-serif;

	--font-weight: normal;
	--font-style: normal;

	--font-family-secondary: 'monotonregular', sans-serif;

	/*----------- Animation and transition settings -------------- */

	--transition-speed: 0.3s ease-in-out;

	/*------------- letter and word spacing settings ---------------*/

	--measure: 70ch;
	--letter-spacing: var(--space-4xs);
	--word-spacing: var(--space-4xs);
	--sp: 4s;
}



/*------------------ Body styles  ------------------*/

html,
body {
	font-family: var(--font-family-primary);
	font-size: var(--step-0);
	font-style: var(--font-style);
	font-weight: var(--font-weight);
	word-spacing: var(--word-spacing);
	letter-spacing: var(--letter-spacing);
	color: var(--text-color);
}

.home {
	height: 100%;
	width: 100%;
}

/* ============= Navigation ======================== */

.overlay-navigation {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.8);
	transform: translateY(-100%);
}

.overlay-slide-down {
	transition: all .4s ease-in-out;
	transform: translateY(0)
}

.overlay-slide-up {
	transition: all .8s ease-in-out;
	transform: translateY(-100%)
}

nav,
nav ul {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	flex-basis: 20%;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
	transform: translateY(-100%);
}

nav li a {
	position: relative;
	top: 46%;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Work sans', sans-serif;
	font-weight: 300;
	letter-spacing: 4px;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 0.9rem;
}

nav li a:before {
	content: '';
	width: 70px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 100;
	transform: translateX(-100%);
	opacity: 0;
	transition: all .2s linear;
}

nav li a:after {
	content: attr(data-content);
	font-size: 0.7rem;
	transition: all .2s linear;
	opacity: 0;
	position: absolute;
	z-index: 100;
	color: #fff;
	display: block;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	bottom: -50px;
	text-transform: none;
	font-family: 'Open sans', serif;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 0;
}

nav li a:hover:before {
	transform: translateX(0);
	opacity: 1;
}

nav li a:hover:after {
	transform: translateY(15px);
	opacity: 1;
}

nav li:nth-of-type(1) {
	background-color: #29363B
}

nav li:nth-of-type(2) {
	background-color: #EA495F
}

nav li:nth-of-type(3) {
	background-color: #F4837D
}

nav li:nth-of-type(4) {
	background-color: #FDCEA9
}

nav li:nth-of-type(5) {
	background-color: #99B998
}

.slide-in-nav-item {
	animation: slide-in-nav-item 0.4s linear 1 .2s both;
}

.slide-in-nav-item-delay-1 {
	animation: slide-in-nav-item 0.4s linear 1 .4s both;
}

.slide-in-nav-item-delay-2 {
	animation: slide-in-nav-item 0.4s linear 1 .6s both;
}

.slide-in-nav-item-delay-3 {
	animation: slide-in-nav-item 0.4s linear 1 .8s both;
}

.slide-in-nav-item-delay-4 {
	animation: slide-in-nav-item 0.4s linear 1 1s both;
}

.slide-in-nav-item-reverse {
	animation: slide-in-nav-item-reverse .3s linear 1 .5s both;
}

.slide-in-nav-item-delay-1-reverse {
	animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
}

.slide-in-nav-item-delay-2-reverse {
	animation: slide-in-nav-item-reverse .3s linear 1 .3s both;
}

.slide-in-nav-item-delay-3-reverse {
	animation: slide-in-nav-item-reverse .3s linear 1 .2s both;
}

.slide-in-nav-item-delay-4-reverse {
	animation: slide-in-nav-item-reverse .3s linear 1 both;
}


/* =============  Burger king  ==================== */

.open-overlay {
	position: absolute;
	right: 5rem;
	top: 3.2rem;
	z-index: 100;
	width: 34px;
	display: block;
	cursor: pointer;
}

.open-overlay span {
	display: block;
	height: 1px;
	background-color: #fff;
	cursor: pointer;
	margin-top: 8px;
}

.animate-top-bar {
	animation: animate-top-bar .6s linear 1 both
}

.animate-bottom-bar {
	animation: animate-bottom-bar .6s linear 1 both
}

.animate-middle-bar {
	animation: animate-middle-bar .6s linear 1 both
}

.animate-out-top-bar {
	animation: animate-out-top-bar .6s linear 1 both
}

.animate-out-bottom-bar {
	animation: animate-out-bottom-bar .6s linear 1 both
}

.animate-out-middle-bar {
	animation: animate-out-middle-bar .6s linear 1 both
}


/* ===============  nimation keyframes  ================== */

@keyframes slide-in-nav-item {
	from {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%)
	}

	to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes slide-in-nav-item-reverse {
	from {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	to {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%)
	}
}

@keyframes animate-top-bar {
	0% {
		background-color: #fff;
	}

	50% {
		-webkit-transform: translateY(9px);
		transform: translateY(9px)
	}

	80% {
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
		background-color: #fff
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		background-color: #29363B;
	}
}

@keyframes animate-bottom-bar {
	0% {
		background-color: #fff;
	}

	50% {
		-webkit-transform: translateY(-9px);
		transform: translateY(-9px)
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
		background-color: #fff;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		background-color: #29363B;
	}
}

@keyframes animate-middle-bar {
	0% {
		background-color: #fff;
	}

	80% {
		background-color: #fff;
	}

	100% {
		background-color: #29363B;
	}
}

@keyframes animate-out-top-bar {
	0% {
		background-color: #29363B
	}

	50% {
		-webkit-transform: translateY(9px);
		transform: translateY(9px)
	}

	80% {
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
		background-color: #29363B
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		background-color: #FFF;
	}
}

@keyframes animate-out-bottom-bar {
	0% {
		background-color: #29363B
	}

	50% {
		-webkit-transform: translateY(-9px);
		transform: translateY(-9px)
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
		background-color: #29363B;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		background-color: #FFF;
	}
}

@keyframes animate-out-middle-bar {
	0% {
		background-color: #29363B
	}

	80% {
		background-color: #29363B;
	}

	100% {
		background-color: #fff;
	}
}

.home a {
	font-family: "Work Sans", sans-serif;
	color: #fff;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	z-index: 10;
	top: 50px;
	left: 50px;
	padding-bottom: 3px;
	border-bottom: 1px solid #fff;
}

@media (max-width: 640px) {
	nav ul li a {
		font-size: 11px;
	}

	nav li a:after {
		font-size: 0.6rem;
	}

	.open-overlay {
		right: 1rem;
	}

	nav li a:before {
		width: 15px;
	}
}

/*----------------  header styles  ---------------*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--gradient-header);
	margin-block-start: var(--space-2xs);
	margin-block-end: var(--space-2xs);
	margin-inline: var(--space-m);
	padding-block-start: var(--space-4xs);
	padding-block-end: var(--space-4xs);
	padding-inline-start: var(--space-m);
	padding-inline-end: var(--space-m);
	border-radius: var(--space-l);
	isolation: isolate;
	transition: var(--transition-speed);
}

/*------title-------*/

.title-header span {
	margin: 0;
	padding: 0;
	padding-inline-end: var(--space-xs);
	font-size: inherit;
	color: var(--text-span);
}

/*------------------ Theme switcher styles  ---------------*/

/* Visually hidden utility for accessibility */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	border: 0;
}

.theme-switcher {
	max-inline-size: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0;
	pointer-events: auto;
}

.theme-switcher span {
	font-size: var(--step--1);
	color: var(--text-color);
}

.theme-switcher input[type="radio"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	white-space: nowrap;
	border: 0;
}

.theme-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-width: 2.75rem;
	min-height: 2.75rem;
	background-color: transparent;
	color: var(--text-color);
	cursor: pointer;
	user-select: none;
	transition: transform 0.2s ease;
	isolation: isolate;
	z-index: 2000;
}

.theme-button svg {
	inline-size: var(--space-m);
	block-size: var(--space-m);
	transform: scale(1) rotate(0deg);
	transform-origin: center center;
	transition:
		transform 0.3s ease-in-out,
		background-color 0.3s ease-in-out,
		padding 0.3s ease-in-out;
}

.theme-switcher input[type="radio"]:checked+.theme-button {
	display: none;
}

.theme-button:hover svg,
.theme-button:focus svg {
	transform: scale(1.5) rotate(90deg);
	padding: 0;
	background-color: var(--text-span);
	border-radius: 50%;
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.main-content>*+* {
	margin-block: 0;
}

.p-small {
	font-size: var(--step-1);
	padding-block-start: var(--space-5xs);
	padding-block-end: var(--space-5xs);
}

.p-large {
	font-size: var(--step-2);
	padding-block: var(--space-5xs);
}

.fancy span {
	display: inline-block;
	background: linear-gradient(270deg, #645960, #3f3e44, #262726, #dde1e2, #e8ebee, #8180868f, #bdb5b9, #272926);
	background-size: 200% 200%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	animation: gradientAnimation 2s ease-in-out infinite alternate;
	animation-direction: alternate reverse;
	padding-inline-start: var(--space-2xs);
	padding-inline-end: var(--space-2xs);
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.wrapper-gradient-text {
	font-style: italic;
	font-size: var(--step-1);
	margin: 0;
	/* Remove default margins */
	padding: 0;
	/* Remove default padding */
	text-align: center;
}

.text-layer {
	background: var(--gradient);
	background-size: 200% 200%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	animation: shadowDrip 3s infinite alternate ease-in-out;
}

@keyframes shadowDrip {
	0% {
		text-shadow: 0px 0px 0px var(--shadow-color),
			0px 0px 0px var(--shadow-color2),
			0px 0px 0px var(--shadow-color3);
	}

	100% {
		text-shadow: 0px 50px 100px var(--shadow-color),
			0px 15px 20px var(--shadow-color2),
			0px 30px 5px var(--shadow-color3);
	}
}