.wrapper {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    font-size: var(--fs-0);
    color: var(--text-color);
}

header,
footer {
    min-block-size: var(--space-3xl);
    padding-block: var(--space-2xs-xs);
}

header {
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: var(--space-4xs-3xs);
    line-height: 1;
    text-align: center;
}

.header-text,
.header-break {
    font-family: var(--primary-font-secondary);
    font-style: italic;
    inline-size: 100%;
    max-inline-size: 100%;
    margin: 0;
    text-align: center;
    text-wrap: balance;
    white-space: nowrap;
}

.content {
    display: grid;
    place-content: safe center center;
    place-items: center;
    row-gap: var(--space-2xs);
    text-align: center;
   min-block-size: 0;
}

.text-with-animation {
    font-style: italic;
    text-wrap: balance;
    overflow-wrap: break-word;
    font-size: var(--fs-2);
    letter-spacing: clamp(0.02rem, 0.005rem + 0.08vw, 0.05rem);
}

.text-with-animation-1,
.text-with-animation-2 {
    font-size: var(--fs-3);
    font-style: italic;
    letter-spacing: var(--letter-spacing-wide);
    text-wrap: balance;
    overflow-wrap: break-word;
}

.text-with-animation span,
.text-with-animation-1 span,
.text-with-animation-2 span {
    opacity: 0;
    display: inline-flex;
    will-change: transform, opacity;
}

@media (min-width: 48rem) {
    .text-with-animation,
    .text-with-animation-1,
    .text-with-animation-2 {
        inline-size: fit-content;
        white-space: nowrap;
    }
}

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

footer {
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
    align-items: center;
}

@media (prefers-reduced-motion:reduce) {
    .btn,
    .btn svg {
        transition: none !important;
        transform: none !important
    }


    .btn:hover {
        box-shadow: 0 20px 10px 0 var(--text-color)
    }


    .btn:focus-visible {
        outline: 6px solid var(--focus-ring-color);
        background-color: var(--text-color);
        color: var(--base-color);
        box-shadow: 0 0 50px 10px var(--text-color)
    }
}