.wrapper {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-0);
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.header-text,
.header-break {
    font-family: var(--primary-font-secondary);
    font-style: italic;
    text-align: center;
    text-wrap: balance;
    white-space: nowrap;
}

main {
    flex: 1 1 auto;
    min-block-size: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe center;
    text-align: center;
}

.text-with-animation {
    font-style: italic;
    overflow-wrap: break-word;
    font-size: var(--fs-2);
    letter-spacing: clamp(0.02rem, 0.005rem + 0.08vw, 0.05rem);
}

.text-with-animation-1,
.text-with-animation-2 {
    font-size: var(--fs-3);
    font-style: italic;
    letter-spacing: var(--letter-spacing-wide);
    overflow-wrap: break-word;
}

.text-with-animation span,
.text-with-animation-1 span,
.text-with-animation-2 span {
    opacity: 0;
    display: inline-flex;
    will-change: transform, opacity;
}

/* --------------------------------------- */
/* ------------------ Footer ------------- */
/* --------------------------------------- */

footer {
    display: flex;
    justify-content: end;
    align-items: center;
}

@media (prefers-reduced-motion:reduce) {
    .btn,
    .btn svg {
        transition: none !important;
        transform: none !important
    }


    .btn:hover {
        box-shadow: 0 20px 10px 0 var(--text-color)
    }


    .btn:focus-visible {
        outline: 6px solid var(--focus-ring-color);
        background-color: var(--text-color);
        color: var(--base-color);
        box-shadow: 0 0 50px 10px var(--text-color)
    }
}