@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Custom properties */

:root {

  /* colors */
  --clr-dark: #000000;
  --clr-light: #55b6b6be;
  --clr-white: #ffffff;

  /* font-families */
  --ff-light: "Cormorant Garamond", serif;
  --ff-bold: "Cormorant Garamond", serif;
  --ff-light-italic: "Cormorant Garamond", serif;
  --ff-italic-bold: "Cormorant Garamond", serif;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

html {
  line-height: 1.3;
  text-rendering: optimizespeed;
}

/* Set core body defaults */

body {
  display: grid;
  color: var(--clr-white);
  font-family: var(--ff-light);
  background-color: var(--clr-dark);
  margin-inline: auto;
  min-height: 100svh;
  overflow: clip;
}


h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-family: var(--ff-italic-bold);
}

/************ Fonts *************/

.font-light {
  font-family: var(--ff-light);
  font-weight: 300;
  font-style: italic;
}

.font-bold {
  font-family: var(--ff-bold);
  font-weight: 700;
  font-style: normal;
}

.font-light-italic {
  font-family: var(--ff-light-italic);
  font-weight: 300;
  font-style: italic;
}

.font-italic-bold {
  font-family: var(--ff-italic-bold);
  font-weight: 600;
  font-style: italic;
}

.numbered-title {
  color: var(--clr-light);
  font-family: var(--ff-italic-bold);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

/*** Layout **********/

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  margin-inline: auto;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* Change 'cover' to 'contain' */
  background-size: cover;
  /* Ensure the background image covers the entire container */

}

/* First image (Logo. Full height) */

.bgimg-1 {
  min-height: 100svh;
}

.profile-imgage {
  width: 800px;
  height: 400px;
  /* different from width => ellipse */
  object-fit: cover;
  border-radius: 50%;
  margin-inline: auto;
}

/* Second image (Portfolio) */

.bgimg-2 {

  /* Add your image URL */
  min-height: 100svh;
}

/* Third image (Photos) */

.bgimg-3 {
  background-image: url("https://www.w3schools.com/w3images/parallax3.jpg");
  min-height: 100svh;
}

/* Fourth image (Contact) */

.bgimg-4 {
  background-image: url("https://www.w3schools.com/w3images/parallax3.jpg");
  min-height: 100svh;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1200px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4 {
    padding-inline: 0 7em;
    margin-inline: 0 7em;
    background-attachment: scroll;
    width: 80%;
    /* min-height: 100%; */
  }

}