@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Reset */

* {
  margin: 0;
  padding: 0;
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties */

:root {

  /* colors */
  --clr-dark: #000000;
  --clr-light: #55b6b6be;
  --clr-white: #ffffff;

  /* font-families */
  --ff-light: "Cormorant Garamond", serif;
  --ff-bold: "Cormorant Garamond", serif;
  --ff-light-italic: "Cormorant Garamond", serif;
  --ff-italic-bold: "Cormorant Garamond", serif;
}



/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

html {
  line-height: 1.3;
  text-rendering: optimizespeed;
}

/* Set core body defaults */

body {
  margin-inline: auto;
  overflow: hidden;
  font-size: 1.25rem;
  font-family: var(--ff-light);
}

.w3-bar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-white);
  color: var(--clr-dark);
  opacity: 0.9;
  z-index: -1;
}

/* .w3-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.w3-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  gap: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.w3-bar a {
 text-decoration: none;
  padding-inline: 1.5rem;
  color: var(--clr-white);
}

.w3-bar a svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--clr-white);
}

.w3-bar span {
  color: var(--clr-white);
  font-family: var(--ff-bold);
  font-size: 1.5rem;
  padding-inline: 0.5rem;
}

.w3-bar a:hover {
  color: var(--clr-dark);
  background-color: var(--clr-white);
  border-radius: 0.25rem;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  font-family: var(--ff-italic-bold);
}

/************ Fonts *************/

.font-light {
  font-family: var(--ff-light);
  font-weight: 300;
  font-style: italic;
}

.font-bold {
  font-family: var(--ff-bold);
  font-weight: 700;
  font-style: normal;
}

.font-light-italic {
  font-family: var(--ff-light-italic);
  font-weight: 300;
  font-style: italic;
}

.font-italic-bold {
  font-family: var(--ff-italic-bold);
  font-weight: 600;
  font-style: italic;
}

/*** Layout *********/

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  width: 100%;
  margin-inline: auto;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* Change 'cover' to 'contain' */
  background-size: cover;
  /* Ensure the background image covers the entire container */

}

/* First image (Logo. Full height) */

.bgimg-1 {
  margin-inline: auto;
  padding-inline: 2rem;
  overflow: hidden;
  padding-block-start: 4rem;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  min-height: 100svh;
}

/* Second image (Portfolio) */

.bgimg-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
  margin-inline: auto;
}

.about-header {
  font-family: var(--ff-bold);
  font-size: 1.75rem;
  color: var(--clr-white);
  margin-block-start: 2rem;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: var(--ff-light-italic);
  font-size: 1.5rem;
  gap: 2rem;
  margin-block: 2rem;
}

.bio>* {
  margin-inline: 2rem;
}

/* Third image (Photos) */

.bgimg-3 {
  background-image: url("https://www.w3schools.com/w3images/parallax3.jpg");
  min-height: 400px;
}

/* Fourth image (Contact) */

.bgimg-4 {
  background-image: url("https://www.w3schools.com/w3images/parallax3.jpg");
  min-height: 400px;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1200px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4 {
    padding-inline: 0 7em;
    margin-inline: 0 7em;
    background-attachment: scroll;
    width: 100%;
    /* min-height: 100%; */
  }

}