@property --fs-02 {
  syntax: "<length>";
  inherits: true;
  initial-value: 12px;
}

@property --fs-01 {
  syntax: "<length>";
  inherits: true;
  initial-value: 12.8px;
}

@property --fs-0 {
  syntax: "<length>";
  inherits: true;
  initial-value: 16px;
}

@property --fs-1 {
  syntax: "<length>";
  inherits: true;
  initial-value: 20px;
}

@property --fs-2 {
  syntax: "<length>";
  inherits: true;
  initial-value: 25px;
}

@property --fs-3 {
  syntax: "<length>";
  inherits: true;
  initial-value: 31.25px;
}

@property --fs-4 {
  syntax: "<length>";
  inherits: true;
  initial-value: 39.0624px;
}

@property --fs-5 {
  syntax: "<length>";
  inherits: true;
  initial-value: 48.8288px;
}

@property --fs-6 {
  syntax: "<length>";
  inherits: true;
  initial-value: 61.0352px;
}

@property --fs-7 {
  syntax: "<length>";
  inherits: true;
  initial-value: 76.2944px;
}

@property --space-4xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 3px;
}

@property --space-3xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 4px;
}

@property --space-2xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 8px;
}

@property --space-xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 12px;
}

@property --space-s {
  syntax: "<length>";
  inherits: true;
  initial-value: 16px;
}

@property --space-m {
  syntax: "<length>";
  inherits: true;
  initial-value: 24px;
}

@property --space-l {
  syntax: "<length>";
  inherits: true;
  initial-value: 32px;
}

@property --space-xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 48px;
}

@property --space-2xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 64px;
}

@property --space-3xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 80px;
}

@property --space-4xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 96px;
}

@property --space-5xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 112px;
}

@property --space-6xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 128px;
}

@property --space-7xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 128px;
}

@property --space-8xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 160px;
}

@property --space-9xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 176px;
}

@property --space-10xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 192px;
}

@property --space-11xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 208px;
}

@property --space-12xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 224px;
}

/* one step spacing */

@property --space-4xs-3xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 2px;
}

@property --space-3xs-2xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 3px;
}

@property --space-2xs-xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 4px;
}

@property --space-xs-s {
  syntax: "<length>";
  inherits: true;
  initial-value: 8px;
}

@property --space-s-m {
  syntax: "<length>";
  inherits: true;
  initial-value: 12px;
}

@property --space-m-l {
  syntax: "<length>";
  inherits: true;
  initial-value: 16px;
}

@property --space-l-xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 24px;
}

@property --space-xl-2xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 32px;
}

@property --space-2xl-3xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 48px;
}

@property --space-3xl-4xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 64px;
}

@property --space-4xl-5xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 96px;
}

@property --space-5xl-6xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 112px;
}

@property --space-6xl-7xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 128px;
}

@property --space-7xl-8xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 128px;
}

@property --space-8xl-9xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 160px;
}

@property --space-9xl-10xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 176px;
}

@property --space-10xl-11xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 192px;
}

@property --space-11xl-12xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 208px;
}

@property --letter-spacing-body {
  syntax: "<length>";
  inherits: true;
  initial-value: 3px;
}

@property --letter-spacing {
  syntax: "<length>";
  inherits: true;
  initial-value: 3.8px;
}

@property --letter-spacing-wide {
  syntax: "<length>";
  inherits: true;
  initial-value: 6px;
}

:root {

  /* font-sizes */
  --fs-01: clamp(0.8rem, 0.7853rem + 0.0733vw, 0.844rem);
  --fs-0: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
  --fs-1: clamp(1.25rem, 1.1668rem + 0.416vw, 1.4996rem);
  --fs-2: clamp(1.5625rem, 1.417rem + 0.7275vw, 1.999rem);
  --fs-3: clamp(1.9531rem, 1.7159rem + 1.1859vw, 2.6647rem);
  --fs-4: clamp(2.4414rem, 2.0712rem + 1.851vw, 3.552rem);
  --fs-5: clamp(3.0518rem, 2.4907rem + 2.8051vw, 4.7348rem);
  --fs-6: clamp(3.8147rem, 2.9824rem + 4.1614vw, 6.3115rem);
  --fs-7: clamp(4.7684rem, 3.5534rem + 6.0748vw, 8.4132rem);

  /* spacing-sizes */
  --space-5xs: clamp(0.125rem, 0.1042rem + 0.1042vw, 0.1875rem);
  --space-4xs: clamp(0.1875rem, 0.1667rem + 0.1042vw, 0.25rem);
  --space-3xs: clamp(0.25rem, 0.2292rem + 0.1042vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4792rem + 0.1042vw, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7083rem + 0.2083vw, 0.875rem);
  --space-s: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.4375rem + 0.3125vw, 1.6875rem);
  --space-l: clamp(2rem, 1.9167rem + 0.4167vw, 2.25rem);
  --space-xl: clamp(3rem, 2.875rem + 0.625vw, 3.375rem);
  --space-2xl: clamp(4rem, 3.8333rem + 0.8333vw, 4.5rem);
  --space-3xl: clamp(5rem, 4.7917rem + 1.0417vw, 5.625rem);
  --space-4xl: clamp(6rem, 5.75rem + 1.25vw, 6.75rem);
  --space-5xl: clamp(7rem, 6.7083rem + 1.4583vw, 7.875rem);
  --space-6xl: clamp(8rem, 7.6667rem + 1.6667vw, 9rem);
  --space-7xl: clamp(8rem, 7.6667rem + 1.6667vw, 9rem);
  --space-8xl: clamp(10rem, 9.5833rem + 2.0833vw, 11.25rem);
  --space-9xl: clamp(11rem, 10.5417rem + 2.2917vw, 12.375rem);
  --space-10xl: clamp(12rem, 11.5rem + 2.5vw, 13.5rem);
  --space-11xl: clamp(13rem, 12.4583rem + 2.7083vw, 14.625rem);
  --space-12xl: clamp(14rem, 13.4167rem + 2.9167vw, 15.75rem);
  --space-13xl: clamp(15rem, 14.375rem + 3.125vw, 16.875rem);

  /* One-up pairs */
  --space-5xs-4xs: clamp(0.125rem, 0.0833rem + 0.2083vw, 0.25rem);
  --space-4xs-3xs: clamp(0.1875rem, 0.1458rem + 0.2083vw, 0.3125rem);
  --space-3xs-2xs: clamp(0.25rem, 0.1458rem + 0.5208vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.375rem + 0.625vw, 0.875rem);
  --space-xs-s: clamp(0.75rem, 0.625rem + 0.625vw, 1.125rem);
  --space-s-m: clamp(1rem, 0.7708rem + 1.1458vw, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.25rem + 1.25vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.5417rem + 2.2917vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.5rem + 2.5vw, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 3.4583rem + 2.7083vw, 5.625rem);
  --space-3xl-4xl: clamp(5rem, 4.4167rem + 2.9167vw, 6.75rem);
  --space-4xl-5xl: clamp(6rem, 5.375rem + 3.125vw, 7.875rem);
  --space-5xl-6xl: clamp(7rem, 6.3333rem + 3.3333vw, 9rem);
  --space-6xl-7xl: clamp(8rem, 7.6667rem + 1.6667vw, 9rem);
  --space-7xl-8xl: clamp(8rem, 6.9167rem + 5.4167vw, 11.25rem);
  --space-8xl-9xl: clamp(10rem, 9.2083rem + 3.9583vw, 12.375rem);
  --space-9xl-10xl: clamp(11rem, 10.1667rem + 4.1667vw, 13.5rem);
  --space-10xl-11xl: clamp(12rem, 11.125rem + 4.375vw, 14.625rem);
  --space-11xl-12xl: clamp(13rem, 12.0833rem + 4.5833vw, 15.75rem);
  --space-12xl-13xl: clamp(14rem, 13.0417rem + 4.7917vw, 16.875rem);

  /* ---fonts and letter spacing--- */
  --primary-font: "poiret_oneregular", sans-serif;
  --primary-font-secondary: "cormorant_uprightlight", sans-serif;
  --letter-spacing-body: clamp(0.1875rem, 0.1771rem + 0.1042vw, 0.2rem);
  --letter-spacing: clamp(0.2375rem, 0.2292rem + 0.1042vw, 0.25rem);
  --letter-spacing-wide: clamp(0.375rem, 0.2917rem + 0.4167vw, 0.625rem);
}