@property --fs-01 {
  syntax: "<length>";
  inherits: true;
  initial-value: 14.4px;
}

@property --fs-0 {
  syntax: "<length>";
  inherits: true;
  initial-value: 18px;
}

@property --fs-1 {
  syntax: "<length>";
  inherits: true;
  initial-value: 22.5008px;
}

@property --fs-2 {
  syntax: "<length>";
  inherits: true;
  initial-value: 28.125px;
}

@property --fs-3 {
  syntax: "<length>";
  inherits: true;
  initial-value: 35.1552px;
}

@property --fs-4 {
  syntax: "<length>";
  inherits: true;
  initial-value: 43.9456px;
}

@property --fs-5 {
  syntax: "<length>";
  inherits: true;
  initial-value: 54.9312px;
}

@property --fs-6 {
  syntax: "<length>";
  inherits: true;
  initial-value: 68.664px;
}

@property --fs-7 {
  syntax: "<length>";
  inherits: true;
  initial-value: 85.8304px;
}

@property --fs-8 {
  syntax: "<length>";
  inherits: true;
  initial-value: 107.288px;
}

@property --fs-9 {
  syntax: "<length>";
  inherits: true;
  initial-value: 134.1104px;
}

@property --space-3xs-2xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 2px;
}

@property --space-2xs-xs {
  syntax: "<length>";
  inherits: true;
  initial-value: 5px;
}

@property --space-xs-s {
  syntax: "<length>";
  inherits: true;
  initial-value: 7px;
}

@property --space-s-m {
  syntax: "<length>";
  inherits: true;
  initial-value: 9px;
}

@property --space-m-l {
  syntax: "<length>";
  inherits: true;
  initial-value: 13.5px;
}

@property --space-l-xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 18px;
}

@property --space-xl-2xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 27px;
}

@property --space-2xl-3xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 36px;
}

@property --space-3xl-4xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 54px;
}

@property --space-4xl-5xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 63px;
}

@property --space-5xl-6xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 72px;
}

@property --space-6xl-7xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 81px;
}

@property --space-7xl-8xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 90px;
}

@property --space-8xl-9xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 99px;
}

@property --space-9xl-10xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 108px;
}

@property --space-10xl-11xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 117px;
}

@property --space-11xl-12xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 126px;
}

@property --space-12xl-13xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 135px;
}

@property --space-13xl-14xl {
  syntax: "<length>";
  inherits: true;
  initial-value: 144px;
}


@property --letter-spacing-body{
  syntax: "<length>";
  inherits: true;
  initial-value: 3px;
}

@property --letter-spacing{
  syntax: "<length>";
  inherits: true;
  initial-value: 3.8px;
}

@property --letter-spacing-wide{
  syntax: "<length>";
  inherits: true;
  initial-value: 6px;
}

:root {
  --fs-01: clamp(0.9rem, 0.8874rem + 0.0629cqi, 0.9377rem);
  --fs-0: clamp(1.125rem, 1.0833rem + 0.2083cqi, 1.25rem);
  --fs-1: clamp(1.4063rem, 1.3196rem + 0.4333cqi, 1.6663rem);
  --fs-2: clamp(1.7578rem, 1.6034rem + 0.7722cqi, 2.2211rem);
  --fs-3: clamp(2.1973rem, 1.9428rem + 1.2725cqi, 2.9607rem);
  --fs-4: clamp(2.7466rem, 2.3466rem + 2.0001cqi, 3.9467rem);
  --fs-5: clamp(3.4332rem, 2.824rem + 3.0461cqi, 5.2609rem);
  --fs-6: clamp(4.2915rem, 3.3844rem + 4.5354cqi, 7.0128rem);
  --fs-7: clamp(5.3644rem, 4.0365rem + 6.6394cqi, 9.3481rem);
  --fs-8: clamp(6.7055rem, 4.787rem + 9.5924cqi, 12.461rem);
  --fs-9: clamp(8.3819rem, 5.6391rem + 13.7142cqi, 16.6104rem);

  /* Spacing */
 --space-4xs: clamp(0.3125rem, 0.2917rem + 0.1042cqi, 0.375rem);
  --space-3xs: clamp(0.4375rem, 0.4167rem + 0.1042cqi, 0.5rem);
  --space-2xs: clamp(0.5625rem, 0.5417rem + 0.1042cqi, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8542rem + 0.1042cqi, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0833rem + 0.2083cqi, 1.25rem);
  --space-m: clamp(1.6875rem, 1.625rem + 0.3125cqi, 1.875rem);
  --space-l: clamp(2.25rem, 2.1667rem + 0.4167cqi, 2.5rem);
  --space-xl: clamp(3.375rem, 3.25rem + 0.625cqi, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3333rem + 0.8333cqi, 5rem);
  --space-3xl: clamp(6.75rem, 6.5rem + 1.25cqi, 7.5rem);
  --space-4xl: clamp(7.875rem, 7.5833rem + 1.4583cqi, 8.75rem);
  --space-5xl: clamp(9rem, 8.6667rem + 1.6667cqi, 10rem);
  --space-6xl: clamp(10.125rem, 9.75rem + 1.875cqi, 11.25rem);
  --space-7xl: clamp(11.25rem, 10.8333rem + 2.0833cqi, 12.5rem);
  --space-8xl: clamp(12.375rem, 11.9167rem + 2.2917cqi, 13.75rem);
  --space-9xl: clamp(13.5rem, 13rem + 2.5cqi, 15rem);
  --space-10xl: clamp(14.625rem, 14.0833rem + 2.7083cqi, 16.25rem);
  --space-11xl: clamp(15.75rem, 15.1667rem + 2.9167cqi, 17.5rem);
  --space-12xl: clamp(16.875rem, 16.25rem + 3.125cqi, 18.75rem);

  /* One-up pairs */
  --space-4xs-3xs: clamp(0.3125rem, 0.25rem + 0.3125cqi, 0.5rem);
  --space-3xs-2xs: clamp(0.4375rem, 0.375rem + 0.3125cqi, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4375rem + 0.625cqi, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.75rem + 0.625cqi, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.875rem + 1.25cqi, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4167rem + 1.3542cqi, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.75rem + 2.5cqi, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8333rem + 2.7083cqi, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.5rem + 5cqi, 7.5rem);
  --space-3xl-4xl: clamp(6.75rem, 6.0833rem + 3.3333cqi, 8.75rem);
  --space-4xl-5xl: clamp(7.875rem, 7.1667rem + 3.5417cqi, 10rem);
  --space-5xl-6xl: clamp(9rem, 8.25rem + 3.75cqi, 11.25rem);
  --space-6xl-7xl: clamp(10.125rem, 9.3333rem + 3.9583cqi, 12.5rem);
  --space-7xl-8xl: clamp(11.25rem, 10.4167rem + 4.1667cqi, 13.75rem);
  --space-8xl-9xl: clamp(12.375rem, 11.5rem + 4.375cqi, 15rem);
  --space-9xl-10xl: clamp(13.5rem, 12.5833rem + 4.5833cqi, 16.25rem);
  --space-10xl-11xl: clamp(14.625rem, 13.6667rem + 4.7917cqi, 17.5rem);
  --space-11xl-12xl: clamp(15.75rem, 14.75rem + 5cqi, 18.75rem);


  /* Typography */
  --primary-font: "poiret_oneregular",
    sans-serif;
  --primary-font-secondary: "cormorant_uprightlight",
    sans-serif;

  /* UI */
  --letter-spacing-body:clamp(0.1875rem, 0.1771rem + 0.1042cqi, 0.2rem);
  --letter-spacing: clamp(0.2375rem, 0.2292rem + 0.1042cqi, 0.25rem);
  --letter-spacing-wide: clamp(0.375rem, 0.2917rem + 0.4167cqi, 0.625rem);
}