      .text-with-animation {
        font-family: var(--font-family-secondary);
        font-size: var(--fs-400);
        text-align: center;
        display: block;
        letter-spacing: var(--letter-spacing-desktop);
        animation: main-text-animation 1.7s ease forwards;
      }

      .subtext-with-animation {
        font-size: var(--fs-200);
        text-align: center;
        letter-spacing: 4px;
        display: block;
      }

      .subtext-with-animation span:first-of-type {
        position: relative;
        opacity: 0;
        animation: word-animation 0.5s ease-out 1.5s forwards;
      }

      .subtext-with-animation span:nth-of-type(2) {
        position: relative;
        opacity: 0;
        animation: word-animation 0.5s ease-out 1.7s forwards;
      }

      .subtext-with-animation-1 {
        font-size: var(--fs-200);
        text-align: center;
        letter-spacing: 4px;
        display: block;
      }

      .subtext-with-animation-1 span:first-of-type {
        position: relative;
        opacity: 0;
        animation: word-animation 0.5s ease-out 1.5s forwards;
      }

      .subtext-with-animation-1 span:nth-of-type(2) {
        position: relative;
        opacity: 0;
        animation: word-animation 0.5s ease-out 1.7s forwards;
      }


      @keyframes main-text-animation {
        0% {
          letter-spacing: 5vw;
          word-spacing: 10vw;
          opacity: 0;
        }

        100% {
          letter-spacing: 4px;
          word-spacing: 1vw;
          opacity: 1;
        }
      }

      @keyframes word-animation {
        0% {
          top: 10vw;
          opacity: 0;
        }

        100% {
          top: 0;
          opacity: 1;
        }
      }

      .text-with-animation-3 {
        font-size: var(--fs-700);
        text-align: center;

        display: block;
      }