@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Roboto:700'); 

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Monoton&display=swap');



.root {
    --animation-speed: 1s;
    --ff-mono: "Monoton", cursive;
    --ff-serif: "Gochi Hand", serif;


    --ff-amatic {
        font-family: "Amatic SC", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      --ff-amatic-bold {
        font-family: "Amatic SC", serif;
        font-weight: 700;
        font-style: normal;
      }
      



    /* --------------------------------------- */
    /* ------------ Custom Colors ------------ */
    /* --------------------------------------- */

    --clr-dark: 0, 0%, 0%;
    --clr-light: 195, 70%, 90%;
    --clr-span: 195, 100%, 25%;
    --clr-white: 0, 0%, 100%;
    --clr-accent: 231, 77%, 90%;
   

   /* --------------------------------------- */
   /* --------- Custom Font Sizes  ---------- */
   /* --------------------------------------- */
    --fs-400: clamp(1.125rem, 1.125rem + 0cqi, 1.125rem);
    --fs-500: clamp(1.4063rem, 1.4063rem + 0cqi, 1.4063rem);
    --fs-600: clamp(1.7578rem, 1.7578rem + 0cqi, 1.7578rem);
    --fs-700: clamp(2.1973rem, 2.1973rem + 0cqi, 2.1973rem);
    --fs-800: clamp(2.7466rem, 2.7466rem + 0cqi, 2.7466rem);
    --fs-900: clamp(3.4333rem, 3.4333rem + 0cqi, 3.4333rem);
    --fs-1000: clamp(4.2916rem, 4.2916rem + 0cqi, 4.2916rem);

    
   /* --------------------------------------- */
   /* --------- Custom Margin Sizes  -------- */
   /* --------------------------------------- */
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174cqi, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261cqi, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348cqi, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522cqi, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696cqi, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043cqi, 7.5rem);
    --space-4xl: clamp(7.875rem, 7.5707rem + 1.5217cqi, 8.75rem);
    --space-5xl: clamp(9rem, 8.6522rem + 1.7391cqi, 10rem);
    --space-6xl: clamp(10.125rem, 9.7337rem + 1.9565cqi, 11.25rem);
    --space-7xl: clamp(11.25rem, 10.8152rem + 2.1739cqi, 12.5rem);

    /* --------------------------------------- */
    /* ------------ Custom Fonts ------------ */
    /* --------------------------------------- */
     }
    
.background {
    container-type: inline-size;
    inline-size: 100%;
    max-width:100%;
    display: table;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    height: 100vh;
    line-height: 100vh;
    overflow: hidden;
}

.quote {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure the container takes full width */
    max-width: 100%;
    margin: 0 auto;
}

.quote p {
    width: 100%; /* Ensure the paragraphs take full width */
    font-size: var(--fs-400);
    font-family: 'Caveat', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 0%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop var(--animation-speed) var(--animation-speed) ease-in-out infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
    &::after {
        animation-delay: 1s;
    }
}

.line:nth-child(3){
    margin-left: 25%;
    &::after {
        animation-delay: 1.5s;
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}
























@keyframes drop { 0% { top: -50%; } 100% { top: 110%; } }


.container { 
    container-type: inline-size;
    inline-size: 100%;
    max-width:100%;
    height: 100vh;
    line-height: 100vh;
    /*vertical-align: middle;*/

     } 

.text-with-animation { 
   font-family:var(--ff-amatic-bold);
   font-size:var(--fs-1000);
   text-align: center; 
   line-height: 100vh; 
   animation: main-text-animation 1.7s ease-in-out forwards;
   color: #ffffff;
   overflow: hidden;
   width: 500vw;
    margin-left: -200vw;
    opacity: .01;
} 
      
     .subtext-with-animation {
           position: absolute; 
        
            text-align: center; 
            line-height: 100vh;
             bottom: 0;
              width: 100%;
              font-size: var(--fs-700);
               font-family:var(--ff-amatic); 
               color: #fff;
                letter-spacing: 4px;
                /* user-select: none;*/
                  overflow: hidden;
                 
                   }

                   .subtext-with-animation-1 {
           position: absolute; 
           font-size: 3vw;
            text-align: center; 
            /*line-height: 100vh;*/
             bottom: 0;
              width: 100%;
               font-family: 'Gochi Hand', cursive; 
               color: #fff;
                letter-spacing: 4px;
                 /*ser-select: none;*/
                  overflow: hidden;
                 
                   }
                    .subtext-with-animation span:first-of-type { position: relative;
                       opacity: 0; animation: word-animation 0.5s ease-out 1.5s forwards; 
                      } 
                      .subtext-with-animation span:nth-of-type(2) {
                         position: relative; 
                         opacity: 0;
                          animation: word-animation 0.5s ease-out 1.7s forwards; 
                        }
                           body { 
                            overflow: hidden;
                             margin: 0;
                              background: linear-gradient(to bottom right, #3a3938 20%, #050505);
                             }
                               body, html { 
                                width: 100vw;
                                 max-width: 100vw; 
                                }
                                @keyframes main-text-animation 
                                {
                                   0% 
                                   { 
                                    letter-spacing: 10vw;
                                     word-spacing: 100vw; 
                                     opacity: 0; 
                                    }
                                     100% 
                                     { 
                                      letter-spacing: 4px;
                                       word-spacing: 1vw; 
                                       opacity: .2;
                                       }
                                       } 
                                       @keyframes word-animation
                                       { 
                                        0% 
                                        { top: 10vw; 
                                          opacity: 0;
                                         }
                                          100% 
                                          { 
                                            top: 3.5vw; 
                                            opacity: .2;
                                           } 
                                          }



