
[data-theme="dark"] html,
[data-theme="dark"] body {
  color-scheme: dark;
  --base-color: #000000;
  --text-color: #ffffff;
  --text-span: #49879c;
}

[data-theme="light"] html,
[data-theme="light"] body {
  color-scheme: light;
  --base-color: #ffffff;
  --text-color: #000000;
  --text-span: #49879c;
}

:root {
  --sp: 5s;
  --burger-thickness: 4px;
  --navigation__transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
  --gradient: linear-gradient(45deg, #3392ffa4, #6bdfff00, #8f88bb, #e3e4fa);
  --shadow: 0 30px 100px rgba(148, 151, 189, 0.966);

  --step--1: clamp(0.8854rem, 0.8553rem + 0.1508cqi, 1rem);
  --step-0: clamp(1.0625rem, 1.0132rem + 0.2467cqi, 1.25rem);
  --step-1: clamp(1.275rem, 1.1993rem + 0.3783cqi, 1.5625rem);
  --step-2: clamp(1.53rem, 1.4187rem + 0.5567cqi, 1.9531rem);
  --step-3: clamp(1.836rem, 1.6767rem + 0.7966cqi, 2.4414rem);

  --space-3xs: clamp(0.25rem, 0.2336rem + 0.0822cqi, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5461rem + 0.0822cqi, 0.625rem);
  --space-xs: clamp(0.8125rem, 0.7796rem + 0.1645cqi, 0.9375rem);
  --space-s: clamp(1.0625rem, 1.0132rem + 0.2467cqi, 1.25rem);
  --space-m: clamp(1.625rem, 1.5592rem + 0.3289cqi, 1.875rem);
  --space-l: clamp(2.125rem, 2.0263rem + 0.4934cqi, 2.5rem);
  --space-xl: clamp(3.1875rem, 3.0395rem + 0.7401cqi, 3.75rem);
  --space-2xl: clamp(4.25rem, 4.0526rem + 0.9868cqi, 5rem);
  --space-3xl: clamp(6.375rem, 6.0789rem + 1.4803cqi, 7.5rem);
  --space-4xl: clamp(7.4375rem, 7.0921rem + 1.727cqi, 8.75rem);
  --space-5xl: clamp(8.5rem, 8.1053rem + 1.9737cqi, 10rem);
  --space-6xl: clamp(9.5625rem, 9.1184rem + 2.2204cqi, 11.25rem);
  --space-7xl: clamp(10.625rem, 10.1316rem + 2.4671cqi, 12.5rem);
  --space-8xl: clamp(12.5rem, 12.5rem + 2.5cqi, 15rem);
  --space-9xl: clamp(15rem, 15rem + 2.5cqi, 18rem);

  --pt-serif-regular: "PT Serif", serif;
  --pt-serif-italic: "PT Serif Italic", serif;
  --font-weight-1: 400;
  --font-style-1: italic;

  --ff-monoton-regular: "Monoton", sans-serif;
  --font-weight-regular: 400;
  --font-style-regular: normal;
}


@supports (selector(::view-transition)) {
  .support.view-transition {
    display: none;
  }
}

@container not style(--theme: dark) {
  .support.style-query {
    display: none;
  }
}

.support {
  background-color: var(--base-color);
  border-inline-start: 0.5rem solid var(--text-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  padding: 1em 2em;
}

::view-transition {
  background: #555;
}

::view-transition-image-pair(root) {
  perspective: 2500px;
  perspective-origin: center;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 100vw;
  filter: drop-shadow(0px 0px 6px hsl(180, 7%, 22%)) drop-shadow(0px 0px 25px hsla(180, 6%, 33%, 0.5));
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: 1.5s linear(0,
      0.324 9.1%,
      0.584 18.6%,
      0.782 28.6%,
      0.858 33.8%,
      0.92 39.2%,
      0.997 49.5%,
      1.021 55.1%,
      1.033 61%,
      1.035 71.7%,
      1);
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  /*   perspective: 800px; */
  transform: translateZ(-50vw) scale(var(--scale)) rotatey(var(--rotation)) translatez(50vw);
  backface-visibility: hidden;
}

::view-transition-old(root) {
  animation-name: reveal-out;
}

::view-transition-new(root) {
  animation-name: reveal-in;
}

@property --rotation {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --scale {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@keyframes reveal-in {
  from {
    --rotation: -90deg;
    animation-timing-function: ease-in-out;
  }

  15% {
    --scale: 0.8;
    --rotation: -90deg;
  }

  85% {
    --scale: 0.8;
    --rotation: 0deg;
    animation-timing-function: ease-in-out;
  }

  to {
    --rotation: 0deg;
  }
}

@keyframes reveal-out {
  from {
    --rotation: 0deg;
    animation-timing-function: ease-in-out;
  }

  15% {
    --scale: 0.8;
    --rotation: 0deg;
  }

  85% {
    --scale: 0.8;
    --rotation: 90deg;
    animation-timing-function: ease-in-out;
  }

  to {
    --rotation: 90deg;
  }
}

body {
  color-scheme: light;
  --base-color: #ffffff;
  --text-color: #000000;
  --text-span: #49879c;

  @container style(--theme: dark) {
    color-scheme: dark;
    --base-color: #000000;
    --text-color: #ffffff;
    --text-span: #49879c;
  }
}

html,
body {
  font-family: var(--pt-serif-italic);
  font-weight: var(--font-weight-1);
  font-style: var(--font-style-1);
  color: var(--text-color);
  background-color: var(--base-color);
  overflow-x: hidden;
  overflow-y: hidden;
}

body>* {
  /* Ensure all direct children of body are treated as containers */
  container-type: inline-size;
  margin-inline: auto;
  /* Allow them to be sized based on their content */
  /* Center content within the body */

}

.wrapper {
  margin-inline: auto;
  padding-inline: var(--space-2xs);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  word-spacing: var(--space-2xs);
  padding-top: var(--space-xl);
  font-size: var(--step--1);
  text-align: center;
  margin-inline: auto;
}

.color-picker {
  position: absolute;
  top: var(--space-2xs);
  right: var(--space-2xl);
  view-transition-name: match-element;
}

.color-picker>fieldset {
  display: flex;
  flex-direction: row;
  padding: 0 var(--space-3xs);
  gap: var(--space-3xs);
  margin-inline: auto;
  border: 0;
  background: transparent;
  gap: var(--space-xs);
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

label {
  position: relative;
  padding: var(--space-3xs);
  isolation: isolate;
  display: grid;
  place-items: center;

  &::before {
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    z-index: 1000;
    inset: 0px;
  }
}

label:has(+ input:checked) {
  color: var(--text-span);

  &::before {
    content: "";
  }
}

.curve-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding-top: var(--space-l);
  font-size: var(--step-2);
  color: var(--text-color);
}

.content,
.content-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content div,
.content-1 div {
  position: absolute;
  display: flex;
  animation: show-hide var(--sp) ease 0s infinite;
  mix-blend-mode: plus-darken;
}

.content div span,
.content-1 div span {
  margin-inline: auto;
  animation-duration: 3s;
  padding: 0;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  animation-fill-mode: both;
  animation-name: main-text-animation;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  text-shadow: 0 0 7px var(--text-color),
    0 0 10px var(--text-color),
    0 0 21px var(--text-color);
}

@keyframes show-hide {

  0%,
  100% {
    opacity: 0;
    transform: scale(.3)
  }

  20%,
  80% {
    opacity: 1;
    transform: scale(.6)
  }
}

.down:before,
.up:before {
  width: 100%;
  height: var(--space-3xs);
  background: radial-gradient(ellipse at 100% 100%, var(--text-color), var(--text-color) 70%);
  content: "";
  position: absolute;
  border-radius: 100%;
  filter: blur(3px);
  left: 10%;
  top: 49%;
  /* Always-present base shadow: */
  box-shadow: 0 0 30px 0 var(--text-color), 0 0 0px 0 var(--text-color);
  /* Animate a second, larger shadow: */
  animation: shadow-glow var(--sp) ease-in-out 3s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes shadow-glow {

  0%,
  100% {
    box-shadow: 0 0 60px 0 var(--text-color), 0 0 0px 0 var(--text-color) / 0.1;
  }

  45%,
  55% {
    box-shadow: 0 0 60px 0 var(--text-color), 0 0 100px 0 var(--text-color) / 0.9;
  }
}

.down:before {
  width: .3vmin;
  height: .5vmin;
  filter: blur(3px);
  left: calc(50% - .5vmin);
  top: 45%;
  box-shadow: 0 0 10px 0 var(--text-color), 0 0 0px 0 var(--text-color);
  animation: shadow var(--sp) ease-in-out 3s infinite;
}

@keyframes shadow {

  0%,
  10%,
  100%,
  90% {
    opacity: 0
  }

  45%,
  55% {
    opacity: .25;
    height: .25vmin
  }
}

.down span,
.up span {
  animation-duration: var(--sp);
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite
}

.up-2-8 {
  animation-name: go-up-2-8
}

.up-3-7 {
  animation-name: go-up-3-7
}

.up-4-6 {
  animation-name: go-up-4-6
}

.up-5 {
  animation-name: go-up-5
}

.down-2-8 {
  animation-name: go-down-2-8
}

.down-3-7 {
  animation-name: go-down-3-7
}

.down-4-6 {
  animation-name: go-down-4-6
}

.down-5 {
  animation-name: go-down-5
}

@keyframes go-up-2-8 {

  0%,
  10%,
  100%,
  90% {
    top: 0
  }

  40%,
  60% {
    top: clamp(-0.5vmin, -1vw, -1.2vmin);
  }
}

@keyframes go-up-3-7 {

  0%,
  10%,
  100%,
  90% {
    top: 0
  }

  40%,
  60% {
    top: clamp(-0.5vmin, -1vw, -1.2vmin);
  }
}

@keyframes go-up-4-6 {

  0%,
  10%,
  100%,
  90% {
    top: 0
  }

  40%,
  60% {
    top: clamp(-0.5vmin, -1vw, -1.2vmin);
  }
}

@keyframes go-up-5 {

  0%,
  10%,
  100%,
  90% {
    top: 0
  }

  40%,
  60% {
    top: clamp(-0.5vmin, -1vw, -1.2vmin);
  }
}

@keyframes go-down-2-8 {

  0%,
  10%,
  100%,
  90% {
    top: 0
  }

  40%,
  60% {
    top: clamp(-0.5vmin, -1vw, -1.2vmin);
  }
}

@keyframes go-down-3-7 {

  0%,
  10%,
  100%,
  90% {
    top: 0
  }

  40%,
  60% {
    top: clamp(-0.5vmin, -1vw, -1.2vmin);
  }
}

@keyframes go-down-4-6 {

  0%,
  10%,
  100%,
  90% {
    top: 0
  }

  40%,
  60% {
    top: clamp(-0.5vmin, -1vw, -1.2vmin);
  }
}

@keyframes go-down-5 {

  0%,
  10%,
  100%,
  90% {
    top: 0
  }

  40%,
  60% {
    top: clamp(-0.5vmin, -1vw, -1.2vmin);
  }
}

.text-container {
  text-align: center;
  vertical-align: middle;
  padding-top: var(--space-xl);
}

.text-with-animation,
.text-with-animation-1 {
  width: max-content;
  margin-inline: auto;
  font-size: var(--step-1);
  padding-block: var(--space-s);
  font-family: var(--ff-monoton-regular);
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-regular);
  text-wrap: balance;
  overflow-wrap: break-word;
  word-wrap: break-word;
  animation: main-text-animation 4s ease forwards infinite;
}

.sub-text-with-animation,
.sub-text-with-animation-1,
.sub-text-with-animation-2,
.sub-text-with-animation-3 {
  font-size: var(--step-0);
  text-align: center;
  text-wrap: balance;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@keyframes main-text-animation {
  0% {
    letter-spacing: 2em;
    word-spacing: 4em;
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    letter-spacing: 10px;
    word-spacing: 1vw;
    opacity: 1;
  }
}

.large-button {
  margin-block: var(--space-3xl);
  background-color: color-mix(in srgb, var(--text-color) 30%, rgb(153, 144, 144));
  width: clamp(8rem, 50vw, 16rem);
  height: clamp(5rem, 30vw, 10rem);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
}

.large-button svg {
  width: var(--space-xl);
  height: var(--space-xl);
  transition: transform 0.3s;
}

.large-button span {
  text-align: center;
  font-size: var(--step-0);
  color: var(--base-color);
}

.large-button:hover {
  outline: #44777a solid 4px;
  box-shadow: 40px 10px 30px color-mix(in srgb, var(--text-color) 70%, rgb(119, 112, 112));
}

.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--text-color) / 0.8);
  background: rgba(var(--text-color-rgb), 0.8);
  opacity: .7;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
  /*box-shadow: 20px 30px 40px 50px rgba(233, 231, 231, 0.644);*/
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.4);
.large-button>svg {
  width: var(--space-xl);
  height: var(--space-xl);
  transition: transform 0.3s;
}
  height: var(--space-xl);
transition: transform 0.3s;
}

.large-button:hover>svg,
.large-button:focus>svg {
  transform: scale(1.3);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.title-1 {
  word-spacing: var(--space-2xs);
  margin-inline: auto;
}

.author {
  font-size: var(--step--1);
  margin-inline: auto;
  padding-bottom: var(--space-xs);
}

@container (max-width: 500px) {
  .title {
    word-spacing: var(--space-3xs);
    font-size: var(--step--1);
    text-align: center;
    margin-inline: auto;
  }

  .color-picker {
    position: absolute;
    top: var(--space-2xs);
    right: 50%;
    transform: translateX(50%);
    view-transition-name: match-element;
  }

  .color-picker>fieldset {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: min-content;
    border: 0;
    background: transparent;
    /*border-radius: 100vmax;*/
  }

  .text-with-animation,
  .text-with-animation-1 {
    width: max-content;
    animation: main-text-animation-mobile 4s ease forwards infinite;
  }

  .large-button {
    width: clamp(10rem, 80vw, 18rem);
    height: clamp(7rem, 50%, 12rem);
    margin-bottom: var(--space-4xl);
  }


@keyframes main-text-animation-mobile {
  0% {
    letter-spacing: 1em;
    word-spacing: 2em;
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    letter-spacing: 2px;
    word-spacing: .5vw;
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {

  .content div,
  .content-1 div,
  .text-with-animation,
  .text-with-animation-1 {
    animation: none;
  }

  .down:before,
  .up:before {
    animation: none;
  }

  .large-button:hover>svg,
  .large-button:focus>svg {
    transform: scale(1.2);
  }
}
}
