:root {
	--sp: 5s;

	--gradient: linear-gradient(45deg, #33ffc9a4, #6bdfff, #453d78, #646593);
	--glass-bg: rgba(255, 255, 255, 0.05);
	--shadow: 0 30px 100px rgba(85, 89, 134, 0.5);

	--clr-dark: 0, 0%, 0%;
	--clr-light: 195, 70%, 90%;
	--clr-span: 195, 36%, 45%;
	--clr-white: 0, 0%, 100%;
	--clr-accent: 231, 77%, 90%;

	/* Step -1: 14.2222px → 14.4px */
	--step--1: clamp(0.8889rem, 0.886rem + 0.0146cqi, 0.9rem);
	/* Step 0: 16px → 18px */
	--step-0: clamp(1rem, 0.9671rem + 0.1645cqi, 1.125rem);
	/* Step 1: 18px → 22.5px */
	--step-1: clamp(1.125rem, 1.051rem + 0.3701cqi, 1.4063rem);
	/* Step 2: 20.25px → 28.125px */
	--step-2: clamp(1.2656rem, 1.1361rem + 0.6476cqi, 1.7578rem);
	/* Step 3: 22.7813px → 35.1563px */
	--step-3: clamp(1.4238rem, 1.2203rem + 1.0177cqi, 2.1973rem);



	--space-3xs: clamp(0.25rem, 0.2336rem + 0.0822cqi, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4836rem + 0.0822cqi, 0.5625rem);
	--space-xs: clamp(0.75rem, 0.7171rem + 0.1645cqi, 0.875rem);
	--space-s: clamp(1rem, 0.9671rem + 0.1645cqi, 1.125rem);
	--space-m: clamp(1.5rem, 1.4507rem + 0.2467cqi, 1.6875rem);
	--space-l: clamp(2rem, 1.9342rem + 0.3289cqi, 2.25rem);
	--space-xl: clamp(3rem, 2.9013rem + 0.4934cqi, 3.375rem);
	--space-2xl: clamp(4rem, 3.8684rem + 0.6579cqi, 4.5rem);
	--space-3xl: clamp(6rem, 5.8026rem + 0.9868cqi, 6.75rem);
	--space-4xl: clamp(7rem, 6.7697rem + 1.1513cqi, 7.875rem);
	--space-5xl: clamp(8rem, 7.7368rem + 1.3158cqi, 9rem);
	--space-6xl: clamp(9rem, 8.7039rem + 1.4803cqi, 10.125rem);
	--space-7xl: clamp(10rem, 9.6711rem + 1.6447cqi, 11.25rem);
	--space-8xl: clamp(11rem, 10.6382rem + 1.8092cqi, 12.375rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.25rem, 0.1678rem + 0.4112cqi, 0.5625rem);
	--space-2xs-xs: clamp(0.5rem, 0.4013rem + 0.4934cqi, 0.875rem);
	--space-xs-s: clamp(0.75rem, 0.6513rem + 0.4934cqi, 1.125rem);
	--space-s-m: clamp(1rem, 0.8191rem + 0.9046cqi, 1.6875rem);
	--space-m-l: clamp(1.5rem, 1.3026rem + 0.9868cqi, 2.25rem);
	--space-l-xl: clamp(2rem, 1.6382rem + 1.8092cqi, 3.375rem);
	--space-xl-2xl: clamp(3rem, 2.6053rem + 1.9737cqi, 4.5rem);
	--space-2xl-3xl: clamp(4rem, 3.2763rem + 3.6184cqi, 6.75rem);
	--space-3xl-4xl: clamp(6rem, 5.5066rem + 2.4671cqi, 7.875rem);
	--space-4xl-5xl: clamp(7rem, 6.4737rem + 2.6316cqi, 9rem);
	--space-5xl-6xl: clamp(8rem, 7.4408rem + 2.7961cqi, 10.125rem);
	--space-6xl-7xl: clamp(9rem, 8.4079rem + 2.9605cqi, 11.25rem);
	--space-7xl-8xl: clamp(10rem, 9.375rem + 3.125cqi, 12.375rem);


	--ff-roboto-serif: "Roboto Serif",
		serif;
	--font-optical-sizing: auto;
	--font-weight: 100;
	--font-style: italic;
	--font-variation-settings: "wdth" 100,
		"GRAD" -50;

	--ff-monoton-regular: "Monoton",
		sans-serif;
	--font-wight-regular: 400;
	--font-style-regular: normal
}

.text-dark {
	color: hsl(var(--clr-dark))
}

.text-light {
	color: hsl(var(--clr-light))
}

.text-span {
	color: hsl(var(--clr-span))
}

.text-white {
	color: hsl(var(--clr-white))
}

.text-accent {
	color: hsl(var(--clr-accent))
}

html {
	scroll-behavior: smooth;
	line-height: 1.2;
	color-scheme: dark only;
	color: hsl(var(--clr-white));
	font-family: var(--ff-roboto-serif);
	font-weight: var(--font-weight);
	font-optical-sizing: var(--font-optical-sizing);
	font-style: var(--font-style);
	font-feature-settings: var(--font-variation-settings);
	font-size: var(--step--1);
}

body>* {
	container-type: inline-size;
	max-inline-size: 100%;
	margin-inline: auto
}

html {
	scroll-behavior: smooth;
	line-height: 1.2;
	color-scheme: dark only;
	color: hsl(var(--clr-white));
	font-family: var(--ff-roboto-serif);
	font-weight: var(--font-weight);
	font-optical-sizing: var(--font-optical-sizing);
	font-style: var(--font-style);
	font-feature-settings: var(--font-variation-settings)
}

body>* {
	container-type: inline-size;
	max-inline-size: 100%;
	margin-inline: auto
}

.wrapper {
	cursor: pointer;
	overflow: hidden;
	min-height: 100svh;
	padding-inline: var(--space-xs-s);
}

.quote {
	text-align: center;
	color: hsl(var(--clr-white));
	margin-top: var(--space-xs-s);
}

.author,
.title {
	font-size: var(--step--1)
}

.curve-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: var(--step-1);
	color: hsl(var(--clr-white));
	gap: var(--space-xl-2xl);
	padding-top: var(--space-xl-2xl);
}

.content,
.content-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	max-inline-size: 60ch;
	overflow: hidden
}

.content div,
.content-1 div {
	position: absolute;
	display: flex;
	animation: show-hide var(--sp) ease 0s infinite;
	mix-blend-mode: plus-lighter
}

.content div span,
.content-1 div span {
	margin-inline: auto;
	animation-duration: var(--sp);
	padding: var(--space-2xs-xs);
	position: relative;
	text-align: center;
	box-sizing: border-box;
	text-shadow: 0 0 7px hsl(var(--clr-white))
}

@keyframes show-hide {

	0%,
	100% {
		opacity: 0;
		transform: scale(.8)
	}

	20%,
	80% {
		opacity: 1;
		transform: scale(1)
	}
}

.down:before,
.up:before {
	width: 80%;
	height: .1vmin;
	background: radial-gradient(ellipse at 50% 50%, hsl(var(--clr-white)), #ffffff00 70%);
	content: "";
	position: absolute;
	border-radius: 100%;
	filter: blur(2px);
	left: 10%;
	top: 49%;
	box-shadow: 0 0 100px 0 hsl(var(--clr-white));
	animation: shadow var(--sp) ease 0s infinite
}

.down:before {
	width: 1vmin;
	height: .5vmin;
	filter: blur(3px);
	left: calc(50% - .5vmin);
	top: 45%;
	box-shadow: 0 0 10px 0 hsl(var(--clr-white))
}

@keyframes shadow {

	0%,
	10%,
	100%,
	90% {
		opacity: 0
	}

	45%,
	55% {
		opacity: .25;
		height: .25vmin
	}
}

.down span,
.up span {
	animation-duration: var(--sp);
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: infinite
}

.up-2-8 {
	animation-name: go-up-2-8
}

.up-3-7 {
	animation-name: go-up-3-7
}

.up-4-6 {
	animation-name: go-up-4-6
}

.up-5 {
	animation-name: go-up-5
}

.down-2-8 {
	animation-name: go-down-2-8
}

.down-3-7 {
	animation-name: go-down-3-7
}

.down-4-6 {
	animation-name: go-down-4-6
}

.down-5 {
	animation-name: go-down-5
}

@keyframes go-up-2-8 {

	0%,
	10%,
	100%,
	90% {
		top: 0
	}

	40%,
	60% {
		top: -.6vmin
	}
}

@keyframes go-up-3-7 {

	0%,
	10%,
	100%,
	90% {
		top: 0
	}

	40%,
	60% {
		top: -1.2vmin
	}
}

@keyframes go-up-4-6 {

	0%,
	10%,
	100%,
	90% {
		top: 0
	}

	40%,
	60% {
		top: -1.8vmin
	}
}

@keyframes go-up-5 {

	0%,
	10%,
	100%,
	90% {
		top: 0
	}

	40%,
	60% {
		top: -2.4vmin
	}
}

@keyframes go-down-2-8 {

	0%,
	10%,
	100%,
	90% {
		top: 0
	}

	40%,
	60% {
		top: .6vmin
	}
}

@keyframes go-down-3-7 {

	0%,
	10%,
	100%,
	90% {
		top: 0
	}

	40%,
	60% {
		top: 1.2vmin
	}
}

@keyframes go-down-4-6 {

	0%,
	10%,
	100%,
	90% {
		top: 0
	}

	40%,
	60% {
		top: 1.8vmin
	}
}

@keyframes go-down-5 {

	0%,
	10%,
	100%,
	90% {
		top: 0
	}

	40%,
	60% {
		top: 2.4vmin
	}
}

.container {
	flex-direction: column;
	padding-top: var(--space-xl-2xl);
}

.text-with-animation,
.text-with-animation-6,
.text-with-animation-7 {
	font-family: var(--ff-monoton-regular);
	font-weight: var(--font-wight-regular);
	font-style: var(--font-style-regular);
	font-size: var(--step-0);
	animation: 2s cubic-bezier(.455, .03, .515, .955) forwards text-animation;
	text-align: center;
	margin-block: var(--space-3xs-2xs);
	letter-spacing: var(--space-3xs-2xs);
	text-wrap: balance;
	overflow: hidden;
}

.text-with-animation-1,
.text-with-animation-2,
.text-with-animation-3,
.text-with-animation-4,
.text-with-animation-5 {
	position: relative;
	font-size: var(--step--1);
	animation: 2s cubic-bezier(.455, .03, .515, .955) forwards text-animation;
	text-align: center;
	margin-block: var(--space-3xs-2xs);
	letter-spacing: var(--space-3xs-2xs);
	text-wrap: balance;
}

@keyframes text-animation {
	0% {
		background-color: transparent;
		transform: scale(0);
		opacity: .4
	}

	100% {
		background-color: transparent;
		transform: scale(1);
		opacity: 1
	}
}

@keyframes main-text-animation {
	0% {
		letter-spacing: 10vw;
		word-spacing: 100vw;
		opacity: 0
	}

	100% {
		letter-spacing: var(--space-3xs-2xs);
		word-spacing: 100vw;
		opacity: 1
	}
}

@container (max-width:800px) {

	.text-with-animation-4,
	.text-with-animation-5 {
		letter-spacing: .3em
	}
}