:root {
  --sp: 5s;

  --gradient: linear-gradient(45deg, #33ffc9a4, #6bdfff, #453d78, #646593);
  --shadow: 0 30px 100px rgba(85, 89, 134, 0.5);

  --clr-dark: 0, 0%, 0%;
  --clr-light: 195, 70%, 90%;
  --clr-span: 195, 36%, 45%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;

  /* Step -1: 14.2222px → 14.4px */
  --step--1: clamp(0.8889rem, 0.886rem + 0.0146cqi, 0.9rem);
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9671rem + 0.1645cqi, 1.125rem);
  /* Step 1: 18px → 22.5px */
  --step-1: clamp(1.125rem, 1.051rem + 0.3701cqi, 1.4063rem);
  /* Step 2: 20.25px → 28.125px */
  --step-2: clamp(1.2656rem, 1.1361rem + 0.6476cqi, 1.7578rem);
  /* Step 3: 22.7813px → 35.1563px */
  --step-3: clamp(1.4238rem, 1.2203rem + 1.0177cqi, 2.1973rem);

  --space-3xs: clamp(0.25rem, 0.2336rem + 0.0822cqi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4836rem + 0.0822cqi, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7171rem + 0.1645cqi, 0.875rem);
  --space-s: clamp(1rem, 0.9671rem + 0.1645cqi, 1.125rem);
  --space-m: clamp(1.5rem, 1.4507rem + 0.2467cqi, 1.6875rem);
  --space-l: clamp(2rem, 1.9342rem + 0.3289cqi, 2.25rem);
  --space-xl: clamp(3rem, 2.9013rem + 0.4934cqi, 3.375rem);
  --space-2xl: clamp(4rem, 3.8684rem + 0.6579cqi, 4.5rem);
  --space-3xl: clamp(6rem, 5.8026rem + 0.9868cqi, 6.75rem);
  --space-4xl: clamp(7rem, 6.7697rem + 1.1513cqi, 7.875rem);
  --space-5xl: clamp(8rem, 7.7368rem + 1.3158cqi, 9rem);
  --space-6xl: clamp(9rem, 8.7039rem + 1.4803cqi, 10.125rem);
  --space-7xl: clamp(10rem, 9.6711rem + 1.6447cqi, 11.25rem);
  --space-8xl: clamp(11rem, 10.6382rem + 1.8092cqi, 12.375rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1678rem + 0.4112cqi, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.4013rem + 0.4934cqi, 0.875rem);
  --space-xs-s: clamp(0.75rem, 0.6513rem + 0.4934cqi, 1.125rem);
  --space-s-m: clamp(1rem, 0.8191rem + 0.9046cqi, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.3026rem + 0.9868cqi, 2.25rem);
  --space-l-xl: clamp(2rem, 1.6382rem + 1.8092cqi, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.6053rem + 1.9737cqi, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 3.2763rem + 3.6184cqi, 6.75rem);
  --space-3xl-4xl: clamp(6rem, 5.5066rem + 2.4671cqi, 7.875rem);
  --space-4xl-5xl: clamp(7rem, 6.4737rem + 2.6316cqi, 9rem);
  --space-5xl-6xl: clamp(8rem, 7.4408rem + 2.7961cqi, 10.125rem);
  --space-6xl-7xl: clamp(9rem, 8.4079rem + 2.9605cqi, 11.25rem);
  --space-7xl-8xl: clamp(10rem, 9.375rem + 3.125cqi, 12.375rem);


  --ff-roboto-serif: "Roboto Serif",
    serif;
  --font-optical-sizing: auto;
  --font-weight: 100;
  --font-style: italic;
  --font-variation-settings: "wdth" 100,
    "GRAD" -50;

  --ff-monoton-regular: "Monoton",
    sans-serif;
  --font-wight-regular: 400;
  --font-style-regular: normal
}

.text-dark {
  color: hsl(var(--clr-dark))
}

.text-light {
  color: hsl(var(--clr-light))
}

.text-span {
  color: hsl(var(--clr-span))
}

.text-white {
  color: hsl(var(--clr-white))
}

.text-accent {
  color: hsl(var(--clr-accent))
}

html {
  scroll-behavior: smooth;
  line-height: 1.2;
  color-scheme: dark only;
  color: hsl(var(--clr-white));
  font-family: var(--ff-roboto-serif);
  font-weight: var(--font-weight);
  font-optical-sizing: var(--font-optical-sizing);
  font-style: var(--font-style);
  font-feature-settings: var(--font-variation-settings);
  font-size: var(--step--1);
}

body:before {
  opacity: 1;
  pointer-events: all;
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(/docs/images/header-desktop-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transform-style: preserve-3d;
  transition: transform .3s ease-in-out, opacity 3s ease-in-out, background-position .3s ease-in-out;
  z-index: -1;
  overflow: hidden;
}

.logo {
  font-size: var(--step--1);
  letter-spacing: 0.05em;
  color: hsl(var(--clr-white));
  text-align: center;
  margin-left: var(--space-3xs-2xs);
  margin-top: var(--space-xs-s);
}

.logo span {
  color: hsl(var(--clr-span));
  /* fallback to blue if --clr-span not set */
  margin: 0 var(--space-2xs-xs) 0 0.1em;
  letter-spacing: 0.02em;
  transition: color 0.3s;
}

main {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crew-details.genesis,
.crew-details.beginnings,
.crew-details.early,
.crew-details.ryerson {
  display: none;
}

.user-button {
  margin-inline: auto;
  padding: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  anchor-name: --profile-button;
}

.profile-menu {
  display: none;
  position: absolute;
  position-anchor: --profile-button;
  margin: 0;
  inset: 0;
  bottom: anchor(bottom);
  left: anchor(right);
  opacity: 0;
  transition: opacity 1s display 1s, overlay 1s;
  transition-behavior: allow-discrete;

  position-try-fallbacks: --left;
  margin-left: 2rem;

  &>* {
    padding: 1.5rem;
  }

  &:popover-open {
    display: grid;
    opacity: 1;

    @starting-style {
      display: grid;
      opacity: 0;
    }
  }
}

@position-try --left {
  inset: 0;
  top: anchor(bottom);
  right: anchor(right);
}

@layer general-stlying {
  :root {
    --clr-surface-1: hsl(var(--clr-dark));
    --clr-surface-2: hsl(var(--clr-light));
    --clr-surface-3: hsl(var(--clr-white));

    --btn-border-radius: 0.25rem;

    --btn-default-surface: var(--clr-surface-2);
    --btn-default-text: var(--clr-dark);
    --btn-default-surface-hover: var(--clr-surface-3);
  }
}

:is(button, .button) {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  border: 0;
  border-radius: 1rem;
  transition: scale 0.1225s;
}

:is(button, .button):is(:hover, :focus-visible) {
  background-color: transparent;
  color: hsl(var(--clr-white));
}

:is(button, .button):active {
  scale: 0.95;
}

nav {
  max-inline-size: 500px;
  margin-inline: auto;
  background-color: transparent;
  border-radius: var(--space-2xl);
  box-shadow: var(--shadow);
  position: relative;
  z-index: 10;
  margin-top: var(--space-l);
  color: hsl(var(--clr-white));
}


ul {
  list-style: none;
  margin: 0;
  padding-inline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  margin: 0 var(--space-xs);
}

button,
a {
  text-decoration: none;
  color: hsl(var(--clr-white));
  font-size: var(--step-0);
  padding: var(--space-xs);
  border-radius: var(--space-s);
  transition: background-color 0.3s, color 0.3s;
}

button:hover,
a:hover,
button:focus-visible,
a:focus-visible {
  background-color: hsl(var(--clr-white), 0.1);
  color: hsl(var(--clr-dark));
}

button:active,
a:active {
  background-color: hsl(var(--clr-white), 0.2);
  color: hsl(var(--clr-dark));
}

button:focus-visible {
  outline: 2px solid hsl(var(--clr-white));
  outline-offset: 2px;
}

button:focus-visible:hover,
a:focus-visible:hover {
  background-color: hsl(var(--clr-white), 0.2);
  color: hsl(var(--clr-white));
}

.user-button {
  border: 3px solid hsl(var(--clr-white));

  &:hover,
  &:focus-visible {
    outline: 0;
    border-color: hsl(from white) h s l 45%;
  }
}

.profile-image {
  aspect-ratio: 1;
  border-radius: 100%;
  width: 75px;
  object-fit: cover;
}

.profile {
  display: grid;
  gap: 0.25rem;
}

.profile-menu {
  border: 0;
  padding: 0;
  border-radius: 0.25rem;
  background: transparent;
  color: hsl(var(--clr-white));
  font-size: var(--step-0);
  overflow: hidden;
}

.profile-menu button {
  padding: var(--space-xs);
  color: hsl(var(--clr-white));
  border-top: solid solid hsl(var(--clr-white));
  border-radius: 0;
  background-color: transparent;
}


svg {
  width: 1.5em;
  height: 1.5em;
  fill: hsl(var(--clr-white));
  transition: fill 0.3s;
}

.icons {
  position: absolute;
  right: 5%;
  /*font-size: 2.8rem;*/
  color: hsl(var(--clr-white));
  cursor: pointer;
  display: none;
}

.icons svg {
  width: var(--space-l);
  height: var(--space-l);
  cursor: pointer;
  transition: opacity 0.2s;
}


.crew-details.genesis.show,
.crew-details.beginnings.show,
.crew-details.early.show,
.crew-details.ryerson.show {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: var(--space-3xl);
  min-height: 100dvh;
  margin-inline: auto;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.crew-details.show>.icons {
  position: absolute;
  left: 10%;
  /* flush to the right edge */
  top: 5%;
  /* or try: right: 2%; or right: 32px; */
  transform: translate(0%, -30%);
  color: hsl(var(--clr-white));
  cursor: pointer;
  display: inline-flex;
  z-index: 10;
}

.crew-details.genesis .show.row-img,
.crew-details.beginnings .show.row-img,
.crew-details.early .show.row-img,
.crew-details.ryerson .show.row-img {
  margin-inline: auto;
  padding: var(--space-s);
}

.crew-details.genesis .show.row-text,
.crew-details.beginnings .show.row-text,
.crew-details.early .show.row-text,
.crew-details.ryerson .show.row-text {
  margin-inline: auto;
  padding: var(--space-s);
}

.crew-details.beginnings.row-img>img,
.crew-details.early .row-img>img,
.crew-details.genesis .row-img>img,
.crew-details.ryerson .row-img>img {
  display: block;
  width: 300px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-inline: auto;
}