:root {
  --sp: 5s;

  --burger-thickness: 4px;
  --navigation__transition: max-height 2s ease-in-out;

  --gradient: linear-gradient(45deg, #33ffc9a4, #6bdfff, #453d78, #646593);
  --glass-bg: rgba(255, 255, 255, 0.05);
  --shadow: 0 30px 100px rgba(148, 151, 189, 0.966);

  --clr-dark: 0, 0%, 0%;
  --clr-light: 195, 70%, 90%;
  --clr-span: 195, 36%, 45%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;

  /* Step -1: 14.2222px → 14.4px */
  --step--1: clamp(0.8889rem, 0.886rem + 0.0146cqi, 0.9rem);
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9671rem + 0.1645cqi, 1.125rem);
  /* Step 1: 18px → 22.5px */
  --step-1: clamp(1.125rem, 1.051rem + 0.3701cqi, 1.4063rem);
  /* Step 2: 20.25px → 28.125px */
  --step-2: clamp(1.2656rem, 1.1361rem + 0.6476cqi, 1.7578rem);
  /* Step 3: 22.7813px → 35.1563px */
  --step-3: clamp(1.4238rem, 1.2203rem + 1.0177cqi, 2.1973rem);

  --space-3xs: clamp(0.25rem, 0.2336rem + 0.0822cqi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4836rem + 0.0822cqi, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7171rem + 0.1645cqi, 0.875rem);
  --space-s: clamp(1rem, 0.9671rem + 0.1645cqi, 1.125rem);
  --space-m: clamp(1.5rem, 1.4507rem + 0.2467cqi, 1.6875rem);
  --space-l: clamp(2rem, 1.9342rem + 0.3289cqi, 2.25rem);
  --space-xl: clamp(3rem, 2.9013rem + 0.4934cqi, 3.375rem);
  --space-2xl: clamp(4rem, 3.8684rem + 0.6579cqi, 4.5rem);
  --space-3xl: clamp(6rem, 5.8026rem + 0.9868cqi, 6.75rem);
  --space-4xl: clamp(7rem, 6.7697rem + 1.1513cqi, 7.875rem);
  --space-5xl: clamp(8rem, 7.7368rem + 1.3158cqi, 9rem);
  --space-6xl: clamp(9rem, 8.7039rem + 1.4803cqi, 10.125rem);
  --space-7xl: clamp(10rem, 9.6711rem + 1.6447cqi, 11.25rem);
  --space-8xl: clamp(11rem, 10.6382rem + 1.8092cqi, 12.375rem);

  --ff-roboto-serif: "Roboto Serif",
    serif;
  --font-optical-sizing: auto;
  --font-weight: 100;
  --font-style: italic;
  --font-variation-settings: "wdth" 100,
    "GRAD" -50;

  --ff-monoton-regular: "Monoton",
    sans-serif;
  --font-wight-regular: 400;
  --font-style-regular: normal
}

.text-dark {
  color: hsl(var(--clr-dark))
}

.text-light {
  color: hsl(var(--clr-light))
}

.text-span {
  color: hsl(var(--clr-span))
}

.text-white {
  color: hsl(var(--clr-white))
}

.text-accent {
  color: hsl(var(--clr-accent))
}

html {
  scroll-behavior: smooth;
  line-height: 1.2;
  color-scheme: dark only;
  color: hsl(var(--clr-white));
  font-family: var(--ff-roboto-serif);
  font-weight: var(--font-weight);
  font-optical-sizing: var(--font-optical-sizing);
  font-style: var(--font-style);
  font-feature-settings: var(--font-variation-settings);
  font-size: var(--step--1);
}

body {
  margin-inline: auto;
}

body:before {
  opacity: 1;
  pointer-events: all;
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(/docs/images/header-desktop-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transform-style: preserve-3d;
  transition: transform .3s ease-in-out, opacity 3s ease-in-out, background-position .3s ease-in-out;
  z-index: -1;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--space-l);
  z-index: 10;
}

.logo {
  font-size: var(--step--1);
  letter-spacing: 0.05em;
  color: hsl(var(--clr-white));
  margin-left: var(--space-m);
  margin-top: var(--space-s);
}

.logo span {
  color: hsl(var(--clr-span));
  /* fallback to blue if --clr-span not set */
  margin: 0 var(--space-2xs) 0 0.1em;
  letter-spacing: 0.02em;
  transition: color 0.3s;
}

main {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.crew-details {
  display: none;
}

.profile-title {
  font-size: var(--step-1);
  color: hsl(var(--clr-white));
  margin: var(--space-2xl) 0 0 0;
  text-align: center;
}

.burger-check {
  display: none;
}

.burger {
  margin-inline: auto;
  position: fixed;
  /* Fixed to viewport */
  top: 32px;
  /* Adjust as needed */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  width: 28px;
  height: 28px;
  display: inline-block;
  background: none;
  color: hsl(var(--clr-white));
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  z-index: 200;
  transition: border-bottom 1s ease-in-out;
}

.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.crew-details {
  position: relative;
  /* Needed for absolute positioning of .burger inside */
}

.crew-details .burger {
  position: absolute;
  /* Fixed to viewport */
  top: 32px;
  /* Adjust as needed */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  width: 28px;
  height: 28px;
  display: inline-block;
  background: none;
  color: hsl(var(--clr-white));
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  z-index: 200;
  transition: border-bottom 1s ease-in-out;
}

.crew-details .burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger::before,
.burger::after,
.crew-details .burger::before,
.crew-details .burger::after {
  content: "";
  display: block;
  border-bottom: var(--burger-thickness) solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s, top 0.5s, opacity 0.5s;
}


.burger-check:checked~.burger {
  border-bottom: var(--burger-thickness) solid transparent;
  transition: transform 0.5s, top 0.5s, opacity 0.5s;
  -webkit-transition: border-bottom 1s ease-in-out;
}

&:before {
  border-bottom: var(--burger-thickness) solid currentColor;

  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: transform 0.5s, top 0.5s, opacity 0.5s;
  -webkit-transition: border-bottom 1s ease-in-out;
}

&:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: transform 0.5s, top 0.5s, opacity 0.5s;
  -webkit-transition: border-bottom 1s ease-in-out;
}

.crew-details {
  position: relative;
}

/* Navigation */
.navigation {
  display: flex;
  justify-content: center;
  max-height: 0;
  transition: var(--navigation__transition);
  overflow: hidden;
  margin-bottom: var(--space-2xl);

}

.burger-check:checked~.navigation {
  min-height: 100dvh;
  transition: var(--navigation__transition);
  margin-inline: auto;
}

.burger-check:checked~.navigation li {
  transform: translateY(0);
  opacity: 1;
  transition-delay: calc(.45s * var(--i));
}

.navigation li:hover::after,
.navigation li:focus-within::after {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) translateX(0);
}

.navigation ul {
  margin-top: var(--space-2xl);
  background-color: transparent;
  width: var(--space-8xl);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--space-l);
  gap: var(--space-m);
}

.social {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-inline: auto;
}

.social li {
  position: relative;
  width: var(--space-5xl);
  height: var(--space-xl);
  border-radius: var(--space-2xs);
}

.social li::after {
  position: absolute;
  /* content: "Tooltip"; */
  content: attr(data-tooltip);
  /*inset: -45% auto auto 50%;*/
  inset: 100% 0 0 50%;
  z-index: -1;
  transform: translateX(50%) translateY(50%);
  padding: 0 0.75rem;
  font-size: var(--step--1);
  color: #fff;
  /* background: #070707; */
  background: --bg hsl(var(--clr-accent));
  border-radius: var(--space-2xs);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transition: all 0.3s ease-in-out; */
  transition: inset 0.4s cubic-bezier(0.47, 2, 0.41, 1.5),
    visibility 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.social li:has(a:hover, a:focus-visible)::after {
  opacity: 1;
  visibility: visible;
  inset-block-start: -60%;
}

.social a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*aspect-ratio: 1;*/
  width: var(--space-5xl);
  height: var(--space-xl);
  border-radius: var(--space-2xs);
  margin-inline: auto;
  font-size: 1.75rem;
  color: #ffffff;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.social a>svg {
  width: var(--space-l);
  height: var(--space-l);
  fill: currentColor;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.social a::after {
  position: absolute;
  content: "";
  inset: 100% 0 0;
  /* background: #070707; */
  background: hsl(--bg, var(--clr-accent));
  pointer-events: none;
  transition: inset 0.3s ease-in-out;
}

.social a:hover,
.social a:focus-visible {
  color: #fff;
}

.social a:hover::after,
.social a:focus-visible::after {
  inset-block-start: 0;
}