:root {
  --sp: 5s;

  --burger-thickness: 4px;
  --navigation__transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
  --base-color: white;
  --text-color: #000;
  --text-span: #49879c;

  --gradient: linear-gradient(45deg, #3392ffa4, #6bdfff00, #8f88bb, #e3e4fa);
  --glass-bg: rgba(255, 255, 255, 0.05);
  --shadow: 0 30px 100px rgba(148, 151, 189, 0.966);


  /* Step -1: 14.1667px → 16px */
  --step--1: clamp(0.8854rem, 0.8553rem + 0.1508cqi, 1rem);
  /* Step 0: 17px → 20px */
  --step-0: clamp(1.0625rem, 1.0132rem + 0.2467cqi, 1.25rem);
  /* Step 1: 20.4px → 25px */
  --step-1: clamp(1.275rem, 1.1993rem + 0.3783cqi, 1.5625rem);
  /* Step 2: 24.48px → 31.25px */
  --step-2: clamp(1.53rem, 1.4187rem + 0.5567cqi, 1.9531rem);
  /* Step 3: 29.376px → 39.0625px */
  --step-3: clamp(1.836rem, 1.6767rem + 0.7966cqi, 2.4414rem);



  /* Space 3xs: 4px → 5px */
  --space-3xs: clamp(0.25rem, 0.2336rem + 0.0822cqi, 0.3125rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5461rem + 0.0822cqi, 0.625rem);
  /* Space xs: 13px → 15px */
  --space-xs: clamp(0.8125rem, 0.7796rem + 0.1645cqi, 0.9375rem);
  /* Space s: 17px → 20px */
  --space-s: clamp(1.0625rem, 1.0132rem + 0.2467cqi, 1.25rem);
  /* Space m: 26px → 30px */
  --space-m: clamp(1.625rem, 1.5592rem + 0.3289cqi, 1.875rem);
  /* Space l: 34px → 40px */
  --space-l: clamp(2.125rem, 2.0263rem + 0.4934cqi, 2.5rem);
  /* Space xl: 51px → 60px */
  --space-xl: clamp(3.1875rem, 3.0395rem + 0.7401cqi, 3.75rem);
  /* Space 2xl: 68px → 80px */
  --space-2xl: clamp(4.25rem, 4.0526rem + 0.9868cqi, 5rem);
  /* Space 3xl: 102px → 120px */
  --space-3xl: clamp(6.375rem, 6.0789rem + 1.4803cqi, 7.5rem);
  /* Space 4xl: 119px → 140px */
  --space-4xl: clamp(7.4375rem, 7.0921rem + 1.727cqi, 8.75rem);
  /* Space 5xl: 136px → 160px */
  --space-5xl: clamp(8.5rem, 8.1053rem + 1.9737cqi, 10rem);
  /* Space 6xl: 153px → 180px */
  --space-6xl: clamp(9.5625rem, 9.1184rem + 2.2204cqi, 11.25rem);
  /* Space 7xl: 170px → 200px */
  --space-7xl: clamp(10.625rem, 10.1316rem + 2.4671cqi, 12.5rem);

  /*--------Roboto Serif Font Family--------*/

  --ff-roboto-serif: "Roboto Serif", serif;
  --font-optical-sizing: auto;
  --font-weight: 100;
  --font-style: italic;
  --font-variation-settings: "wdth" 100, "GRAD" -50;

  /*----------Monoton Font Family-----------*/

  --ff-monoton-regular: "Monoton", sans-serif;
  --font-wight-regular: 400;
  --font-style-regular: normal;
}

/* --------------------------------------- */
/* ------------  Custom Colors ----------- */
/* --------------------------------------- */

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-span {
  color: hsl(var(--clr-span));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

html {
  scroll-behavior: smooth;
  line-height: 1.2;
  /* Base line height */
  color-scheme: dark only;
  color: hsl(var(--clr-white));
  font-family: var(--ff-roboto-serif);
  font-weight: var(--font-weight);
  font-optical-sizing: var(--font-optical-sizing);
  font-style: var(--font-style);
  font-feature-settings: var(--font-variation-settings);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: .5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* --------------------------------------- */

body:before {
  opacity: 1;
  pointer-events: all;
  content: "";
  width: 100%;
  /* Full viewport width */
  height: 100vh;
  /* Full viewport height */
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.664) 100%,
      /* Transparent at the top */
      rgba(20, 20, 20, 0.447) 100%
      /* Darker at the bottom */
    ),
    linear-gradient(90deg,
      color-mix(in hsl, canvasText, transparent 70%) 1px,
      transparent 1px 30px) 50% 50% / 30px 30px,
    linear-gradient(color-mix(in hsl, canvasText, transparent 70%) 1px,
      transparent 1px 30px) 50% 50% / 30px 30px;
  mask: linear-gradient(-20deg, transparent 25%, white) 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    background-position 0.3s ease-in-out;
  z-index: -1;
  /* Ensure it is behind other content */
  overflow: hidden;
}

header {
  position: relative;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}

header .logo {
  display: flex;
  align-items: center;
  padding: var(--space-s) var(--space-s);
}

header .logo p {
  padding-right: 0;
}

header .logo p span {
  color: hsl(var(--clr-span));
  padding-left: 0;
  padding-right: var(--space-s);
}

header .bars {
  position: relative;
  height: 3px;
  width: 20px;
  border-radius: 2px;
  background-color: #888888;
  margin-right: 10px;
  display: none;
}

header .bars.is-active {
  width: 35px;
  transform-origin: right;
  transform: translateY(15px) rotate(45deg);
}

header .bars::after,
header .bars::before {
  position: absolute;
  content: "";
  height: 3px;
  left: 0;
  width: 20px;
  border-radius: 2px;
  background: #888888;
  cursor: pointer;
}

header .bars::after {
  bottom: 7px;
}

header .bars::before {
  top: 7px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-m);
}

.nav-links li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  color: hsl(var(--clr-white));
}

.nav-links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.nav-links li a span {
  font-size: var(--step-0);
  letter-spacing: 1px;
  margin-top: 0.2rem;
}

.nav-links li svg {
  height: 1.3rem;
  width: 1.3rem;
  color: hsl(var(--clr-white));
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

main {
  width: 900px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-m);
  margin-inline: auto;
}

.crew-details {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  margin-inline: auto;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  margin-inline: auto;
  min-height: 100svh;
  gap: var(--space-xs);
  padding-inline: var(--space-2xl);
  margin-block: var(--space-2xl);
}

.intro .row-1 img {
  display: block;
  max-width: 100%;

  object-fit: cover;
  border-radius: 50%;

  margin-block: var(--space-2xl);
}

.intro .row {
  text-align: center;
}

.section-title {
  font-size: var(--step-1);
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s linear infinite;
  background-size: 300%;
  letter-spacing: -2px;
  margin-inline: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.intro p {
  margin-block: 0.12em;
}

.intro p span {
  color: hsl(var(--clr-span));
  padding-left: var(--space-s);
}

.intro h1,
.intro h2,
.intro h3 {
  margin: 0;
  padding: 0;
  font-size: var(--step-1);
  margin-block: 0.5em;
  /* Add margin for spacing */
}

.intro .ya {
  font-size: var(--step-2);
  color: hsl(var(--clr-span));
}

.wrapper-gradient-text {
  font-size: var(--step-1);
  margin: 0;
  /* Remove default margins */
  padding: 0;
  /* Remove default padding */
  text-align: center;
  /* Align text to the left */
  text-shadow: 0px 0px 0px rgb(255, 255, 255);
}

.text-layer {
  background: linear-gradient(0deg,
      rgb(213, 223, 230),
      rgb(78, 115, 136),
      rgba(65, 90, 105, 0.6),
      rgba(142, 186, 211, 0.1));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shadowDrip 3s infinite alternate ease-in-out;
  text-shadow: 0px 15px 0px rgba(255, 255, 255, 0.853);
}

@keyframes shadowDrip {
  0% {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.853);
  }

  100% {
    text-shadow: 0px 5px 10px rgb(255, 255, 255),
      /* Reduced vertical offset */
      0px 15px 20px rgb(255, 255, 255),
      /* Reduced vertical offset */
      0px 25px 5px rgb(232, 235, 238);
    /* Reduced vertical offset */
  }
}

.tab-list {
  --gap: var(--space-m);
}

.dot-indicators {
  display: flex;
  justify-content: center;
  gap: var(--space-2xl);
  /* Space between dots */
  width: 100%;
  /* Full width of the container */
  cursor: pointer;
  border: 0;
  /* Remove border from the container */
}

.dot-indicators>* {
  width: 6rem;
  /* Set a fixed width for the dots */
  height: 4rem;
  /* Set a fixed height for the dots (make it equal to width for a circle) */
  border-radius: 50%;
  /* Make the dots circular */
  aspect-ratio: 1 / 1;

  /* Add a background color */
  border: none;
  /* Remove default button border */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dot-indicators button:hover,
.dot-indicators button:focus {
  background-color: hsla(var(--clr-white) / 0.4);
  /* Highlight on hover/focus */
  transform: scale(1.1);
  /* Slightly enlarge the dot */
}

.dot-indicators [aria-selected="true"] {
  background-color: hsla(var(--clr-white) / 0.9);
  /* Highlight on hover/focus */
  transform: scale(1.1);
  /* Slightly enlarge the dot */
}

@media (max-width: 768px) {

  header .logo {
    margin-right: var(--space-s);
  }

  header .bars {
    display: block;
    transition: 0.5s;
  }

  nav {
    position: fixed;
    z-index: 3;
  }

  .nav-links {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100svh;
    width: 100%;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-links.open {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    transition: 0.5s;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-inline: auto;
    min-height: 100svh;
    padding-inline: auto;
  }

  .intro .row-1 img {
    display: block;
    width: 120px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin-inline: auto;
  }
}