:root {
  --sp: 5s;

  --gradient: linear-gradient(45deg, #33ffc9a4, #6bdfff, #453d78, #646593);
  --glass-bg: rgba(255, 255, 255, 0.05);
  --shadow: 0 30px 100px rgba(85, 89, 134, 0.5);

  --clr-dark: 0, 0%, 0%;
  --clr-light: 195, 70%, 90%;
  --clr-span: 195, 36%, 45%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;

  /* Step -1: 14.2222px → 14.4px */
  --step--1: clamp(0.8889rem, 0.886rem + 0.0146cqi, 0.9rem);
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9671rem + 0.1645cqi, 1.125rem);
  /* Step 1: 18px → 22.5px */
  --step-1: clamp(1.125rem, 1.051rem + 0.3701cqi, 1.4063rem);
  /* Step 2: 20.25px → 28.125px */
  --step-2: clamp(1.2656rem, 1.1361rem + 0.6476cqi, 1.7578rem);
  /* Step 3: 22.7813px → 35.1563px */
  --step-3: clamp(1.4238rem, 1.2203rem + 1.0177cqi, 2.1973rem);



  --space-3xs: clamp(0.25rem, 0.2336rem + 0.0822cqi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4836rem + 0.0822cqi, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7171rem + 0.1645cqi, 0.875rem);
  --space-s: clamp(1rem, 0.9671rem + 0.1645cqi, 1.125rem);
  --space-m: clamp(1.5rem, 1.4507rem + 0.2467cqi, 1.6875rem);
  --space-l: clamp(2rem, 1.9342rem + 0.3289cqi, 2.25rem);
  --space-xl: clamp(3rem, 2.9013rem + 0.4934cqi, 3.375rem);
  --space-2xl: clamp(4rem, 3.8684rem + 0.6579cqi, 4.5rem);
  --space-3xl: clamp(6rem, 5.8026rem + 0.9868cqi, 6.75rem);
  --space-4xl: clamp(7rem, 6.7697rem + 1.1513cqi, 7.875rem);
  --space-5xl: clamp(8rem, 7.7368rem + 1.3158cqi, 9rem);
  --space-6xl: clamp(9rem, 8.7039rem + 1.4803cqi, 10.125rem);
  --space-7xl: clamp(10rem, 9.6711rem + 1.6447cqi, 11.25rem);
  --space-8xl: clamp(11rem, 10.6382rem + 1.8092cqi, 12.375rem);

  --ff-roboto-serif: "Roboto Serif",
    serif;
  --font-optical-sizing: auto;
  --font-weight: 100;
  --font-style: italic;
  --font-variation-settings: "wdth" 100,
    "GRAD" -50;

  --ff-monoton-regular: "Monoton",
    sans-serif;
  --font-wight-regular: 400;
  --font-style-regular: normal
}

.text-dark {
  color: hsl(var(--clr-dark))
}

.text-light {
  color: hsl(var(--clr-light))
}

.text-span {
  color: hsl(var(--clr-span))
}

.text-white {
  color: hsl(var(--clr-white))
}

.text-accent {
  color: hsl(var(--clr-accent))
}

html {
  scroll-behavior: smooth;
  line-height: 1.2;
  color-scheme: dark only;
  color: hsl(var(--clr-white));
  font-family: var(--ff-roboto-serif);
  font-weight: var(--font-weight);
  font-optical-sizing: var(--font-optical-sizing);
  font-style: var(--font-style);
  font-feature-settings: var(--font-variation-settings);
  font-size: var(--step--1);
}


body>* {
  container-type: inline-size;
  max-inline-size: 100%;
  margin-inline: auto
}

body:before {
  opacity: 1;
  pointer-events: all;
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, 0) 100%), linear-gradient(rgba(0, 0, 0, 0), #fff), linear-gradient(to bottom, rgba(0, 0, 0, 0) 100%, #fff 100%), linear-gradient(90deg, color-mix(in hsl, canvasText, transparent 50%) 1px, transparent 1px 30px) 60% 60%/30px 30px, linear-gradient(color-mix(in hsl, canvasText, transparent 40%) 1px, transparent 1px 30px) 50% 50%/30px 30px;
  mask: linear-gradient(-60deg, transparent 50%, white) 60%;
  transform-style: preserve-3d;
  transition: transform .3s ease-in-out, opacity 3s ease-in-out, background-position .3s ease-in-out;
  z-index: -1;
  overflow: hidden
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  font-size: var(--step--1);
  letter-spacing: 0.05em;
  color: hsl(var(--clr-white));
  text-align: center;
  margin-left: var(--space-2xs);
  margin-top: var(--space-s);
}

.logo span {
  color: hsl(var(--clr-span));
  /* fallback to blue if --clr-span not set */
  margin: 0 var(--space-xs) 0 0.1em;
  letter-spacing: 0.02em;
  transition: color 0.3s;
}

.check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  color: hsl(var(--clr-white));
  cursor: pointer;
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  transition: height .3s ease-in;
  padding-inline: var(--space-s);
  margin-block: var(--space-xs);
  font-size: var(--step--1);
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-inline: auto;
}

.navbar li {
  display: flex;
}

.navbar li a {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: 0 var(--space-xs);
}

.navbar li a span {
  color: hsl(var(--clr-white));
  padding-top: var(--space-2xs);
  transition: all .3s ease-in-out;
}

.navbar li a svg {
  display: inline-block;
  width: var(--space-l);
  height: var(--space-l);
  margin-inline: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar li a:focus,
.navbar li a:hover {
  background-color: hsl(var(--clr-span));
  border-radius: var(--space-s);
  color: hsl(var(--clr-white));
  transition: background-color .2s ease-in-out;
  box-shadow: var(--shadow);
}

.check {
  display: none;
}

/* Hide icons by default (desktop) */
.icons {
  display: none;
}

.icons {
  color: hsl(var(--clr-white));
  cursor: pointer;
  width: var(--space-l);
  height: var(--space-l);
}

main {
  min-height: 100svh;
  display: grid;
  place-items: center;
}

.intro {
  display: grid;
  grid-template-rows: 1fr;
  text-align: center;
  padding: 0 var(--space-xs) 0 var(--space-xs);
  margin-inline: auto;
}

.intro p {
  font-size: var(--step--1);
  color: hsl(var(--clr-white));
}

.intro p span {
  padding-left: var(--space-s);
  color: hsl(var(--clr-accent));
}

.intro .ya,
.intro p span,
.text-span {
  color: hsl(var(--clr-white));
}

.intro h1,
.intro h2,
.intro h3 {
  margin: 0;
  padding: 0;
  font-size: var(--step-0);
  margin-block: 0.5em
}

.intro .ya {
  font-size: var(--step-1);
  color: hsl(var(--clr-white))
}

.intro .ya-1 {
  font-size: var(--step-1);
  color: hsl(var(--clr-white))
}

.wrapper-gradient-text {
  font-size: var(--step-1);
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 0 0 0 #fff
}

.text-layer {
  background: linear-gradient(0deg, #d5dfe6, #4e7388, rgba(65, 90, 105, .6), rgba(142, 186, 211, .1));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: 3s ease-in-out infinite alternate shadowDrip;
  text-shadow: 0 15px 0 rgba(255, 255, 255, .853)
}

@keyframes shadowDrip {
  0% {
    text-shadow: 0 0 0 rgba(255, 255, 255, .853)
  }

  100% {
    text-shadow: 0 5px 10px #fff, 0 15px 20px #fff, 0 25px 5px #e8ebee
  }
}

@keyframes gradient {

  0%,
  100% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }
}


/* BREAKPOINTS */


@container (max-width: 768px) {
  .icons {
    display: inline-flex;
    position: fixed;
    top: 2%;
    right: 5%;
  }

  .check:checked~.icons .menu-icon {
    display: none;
  }

  .icons .close-icon {
    display: none;
  }

  .check:checked~.icons .close-icon {
    display: block;
  }

  .navbar:before {
    opacity: 1;
    pointer-events: all;
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, 0) 100%), linear-gradient(rgba(0, 0, 0, 0), #fff), linear-gradient(to bottom, rgba(0, 0, 0, 0) 100%, #fff 100%), linear-gradient(90deg, color-mix(in hsl, canvasText, transparent 50%) 1px, transparent 1px 30px) 60% 60%/30px 30px, linear-gradient(color-mix(in hsl, canvasText, transparent 40%) 1px, transparent 1px 30px) 50% 50%/30px 30px;
    mask: linear-gradient(-60deg, transparent 50%, white) 60%;
    transform-style: preserve-3d;
    transition: transform .3s ease-in-out, opacity 3s ease-in-out, background-position .3s ease-in-out;
    z-index: -1;
    overflow: hidden
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: var(--space-2xs) 0;
    margin: 0;
    gap: var(--space-xl);
  }

  .check:checked~.navbar {
    height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }

  .check:checked~.navbar a {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.2s cubic-bezier(.4, 0, .2, 1), opacity 0.4s cubic-bezier(.4, 0, .2, 1);
    transition-delay: calc(.35s * var(--i));
  }
}