@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
  /* --------------------------------------- */
  /* ------------ Custom Colors ------------ */
  /* --------------------------------------- */

  --clr-dark: 0, 0%, 0%;
  --clr-light: 195, 70%, 90%;
  --clr-span: 187, 42%, 64%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;

  --br: 0.5em;
  --transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1);

  --ff-kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  

  --ff-kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

  --ff-kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

  --ff-kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  --ff-kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  

  --ff-kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  --ff-kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
} 

  


/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
		--fs-200: clamp(0.8rem, 0.17cqi + 0.76rem, 0.89rem);
		--fs-300: clamp(1rem, 0.34cqi + 0.91rem, 1.19rem);
		--fs-400: clamp(1.25rem, 0.61cqi + 1.1rem, 1.58rem);
		--fs-500: clamp(1.56rem, 1cqi + 1.31rem, 2.11rem);
		--fs-600: clamp(1.95rem, 1.56cqi + 1.56rem, 2.81rem);
		--fs-700: clamp(2.44rem, 2.38cqi + 1.85rem, 3.75rem);
		--fs-800: clamp(3.05rem, 3.54cqi + 2.17rem, 5rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
		--fs-200: 0.8rem;
		--fs-300: 1rem;
		--fs-400: 1.25rem;
		--fs-500: 1.56rem;
		--fs-600: 1.95rem;
		--fs-700: 2.44rem;
		--fs-800: 3.05rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
      --fs-200: 0.8rem;
      --fs-300: 1rem;
      --fs-400: 1.25rem;
      --fs-500: 1.56rem;
      --fs-600: 1.95rem;
      --fs-700: 2.44rem;
      --fs-800: 3.05rem;
    }
  }
}

/* --------------------------------------- */
/* ------------  Custom Colors ----------- */
/* --------------------------------------- */

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-span {
  color: hsl(var(--clr-span));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-accent));
}
  

body {
  font-family:var(--ff-kanit-regular);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background:hsl(var(--clr-dark));
  color: var(--clr-white);
}

h1,
h2,
h3,
p {
   margin: 0;
}

.game {
  position: relative;
  width:var(--space-6xl);
  cursor: pointer;
}

.game .front a {
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: var(--br);
}

.game .front h1 {
  font-size:var(--fs-400);
  color: hsl(var(--clr-white));
  font-family: var(--ff-kanit-regular-italic);
  text-align: center;
  padding:0;
}

.rank {
  z-index: 1000;
  font-family: var(--ff-kanit-regular);
  font-size:var(--fs-400);
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 0.75em 0.5em 0.75em;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  transition: var(--transition);
}

.front {
  transition: 250ms;
 }
 
 .front .thumbnail {
   display: block;
   opacity:1;
   width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: var(--br);
 }
 
 .game:hover .rank {
  transform: translate(0%, -100%);
  /*transform: translate(150%, -61%);*/
}

.game:hover .front .thumbnail {
  transform: translateY(0%) scale(0.8);
}

.game:hover .back {
  opacity: 1;
  transition: transform 250ms ease, opacity 150ms linear;
  transform: translateY(0);
}

.game:hover .background {
  transition: var(--transition), opacity 100ms linear;
  opacity: 1;
  transform: scale(1.35, 1.3) translateY(5%);
}

.back {
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  transform: translateY(35%);
}

.back .streaming-info {
  display: flex;
  min-height: 50%;
  gap: 1em;
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-rule: 1px solid rgba(255, 255, 255, 0.25);
          column-rule: 1px solid rgba(255, 255, 255, 0.25);
}

.back .game-stat {
  font-size:var(--fs-200);
  font-family: var(--ff-kanit-regular);
  color: hsl(var(--clr-white));
  text-align: center;
}

.back .game-stat span {
  font-size:var(--fs-300);
  font-family: var(--ff-kanit-regular);
  color: hsl(var(--clr-white));
  display: block;
}

.background {
  min-height: 100%;
  background:hsl(var(--clr-dark));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(0.2, 0.9);
  opacity: 0;
  border-radius: var(--br);
  overflow: hidden;
}

.background img {
  opacity:1;
  height:auto;
  width: 100%;
  object-fit: cover;
}









