@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap");

:root {
  /* ------------------------------------------------- */
  /* ------------------ Custom Colors ---------------- */
  /* ------------------------------------------------- */

  --clr-dark: 0, 0%, 0%;
  --clr-light: 195, 70%, 90%;
  --clr-span: 195, 36%, 45%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;

  /* -------------------------------------------------------- */
  /* ------------------ Custom Font-Sizes ------------------- */
  /* -------------------------------------------------------- */

  /* Step 0: 16px → 16px */
  --step-0: clamp(1rem, 1rem + 0cqi, 1rem);
  /* Step 1: 18px → 21.328px */
  --step-1: clamp(1.125rem, 1.0348rem + 0.3847cqi, 1.333rem);
  /* Step 2: 20.25px → 28.4302px */
  --step-2: clamp(1.2656rem, 1.044rem + 0.9457cqi, 1.7769rem);
  /* Step 3: 22.7813px → 37.8975px */
  --step-3: clamp(1.4238rem, 1.0142rem + 1.7475cqi, 2.3686rem);
  /* Step 4: 25.6289px → 50.5174px */
  --step-4: clamp(1.6018rem, 0.9274rem + 2.8773cqi, 3.1573rem);
  /* Step 5: 28.8325px → 67.3396px */
  --step-5: clamp(1.802rem, 0.7587rem + 4.4517cqi, 4.2087rem);
  /* Step 6: 32.4366px → 89.7637px */
  --step-6: clamp(2.0273rem, 0.474rem + 6.6274cqi, 5.6102rem);
  /* Step 7: 36.4912px → 119.655px */
  --step-7: clamp(2.2807rem, 0.0273rem + 9.6143cqi, 7.4784rem);
  /* Step 8: 41.0526px → 159.5002px */
  --step-8: clamp(2.5658rem, -0.6436rem + 13.6934cqi, 9.9688rem);

  /* ------------------------------------------------------- */
  /* ----------------- Custom Space-Sizes ------------------ */
  /* ------------------------------------------------------- */

  /* One-up pairs */
  /* Space s-m: 16px → 24px */
  --space-s-m: clamp(1rem, 0.7832rem + 0.9249cqi, 1.5rem);
  /* Space m-l: 24px → 32px */
  --space-m-l: clamp(1.5rem, 1.2832rem + 0.9249cqi, 2rem);
  /* Space l-xl: 32px → 48px */
  --space-l-xl: clamp(2rem, 1.5665rem + 1.8497cqi, 3rem);
  /* Space xl-2xl: 48px → 64px */
  --space-xl-2xl: clamp(3rem, 2.5665rem + 1.8497cqi, 4rem);
  /* Space 2xl-3xl: 64px → 96px */
  --space-2xl-3xl: clamp(4rem, 3.1329rem + 3.6994cqi, 6rem);
  /* Space 3xl-4xl: 96px → 112px */
  --space-3xl-4xl: clamp(6rem, 5.5665rem + 1.8497cqi, 7rem);
  /* Space 4xl-5xl: 112px → 128px */
  --space-4xl-5xl: clamp(7rem, 6.5665rem + 1.8497cqi, 8rem);
  /* Space 5xl-6xl: 128px → 144px */
  --space-5xl-6xl: clamp(8rem, 7.5665rem + 1.8497cqi, 9rem);
  /* Space 6xl-7xl: 144px → 160px */
  --space-6xl-7xl: clamp(9rem, 8.5665rem + 1.8497cqi, 10rem);
  /* Space 7xl-8xl: 160px → 176px */
  --space-7xl-8xl: clamp(10rem, 9.5665rem + 1.8497cqi, 11rem);
  /* Space 8xl-9xl: 176px → 192px */
  --space-8xl-9xl: clamp(11rem, 10.5665rem + 1.8497cqi, 12rem);
  /* Space 9xl-10xl: 192px → 208px */
  --space-9xl-10xl: clamp(12rem, 11.5665rem + 1.8497cqi, 13rem);
  /* Space 10xl-11xl: 208px → 224px */
  --space-10xl-11xl: clamp(13rem, 12.5665rem + 1.8497cqi, 14rem);
}
/* ------------------------------------------------------- */
/* ------------------- Custom Colors --------------------- */
/* ------------------------------------------------------- */

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-span {
  color: hsl(var(--clr-span));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

body {
  font-family: var(--ff-kanit-regular-italic);
  min-height: 100svh;
  display: grid;
  justify-content: center;
  align-content: center;
  background: hsl(var(--clr-dark));
  color: var(--clr-white);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  text-wrap: balance;
}

.game {
  position: relative;
  width: 15rem;
  border-radius: var(--br);
  overflow: hidden;
  cursor: pointer;
}

.game .front a {
  color: hsl(var(--clr-white));
  font-size: var(--fs-600);
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: var(--br);
}

.front p {
  font-family: var(--ff-kanit-bold-italic);
  font-size: var(--fs-700);
  position: relative;
  z-index: 1;
}

.game .front a:hover {
  text-decoration: none;
}

.rank {
  font-family: var(--ff-kanit-regular-italic);
  font-size: var(--fs-600);
  text-align: center;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 0.75em 0.5em 0.75em;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  transition: var(--transition);
}

.front {
  transition: 250ms;
}

.front .thumbnail {
  display: block;
  opacity: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--br);
}

.game:hover .rank {
  transform: translate(-150%, -60%);
  /*transform: translate(150%, -61%);*/
}

.game:hover .front .thumbnail {
  transform: translateY(0%) scale(1);
}

.game:hover .back {
  opacity: 1;
  transition: transform 250ms ease, opacity 150ms linear;
  transform: translateY(0);
}

.game:hover .background {
  transition: var(--transition), opacity 100ms linear;
  opacity: 1;
  transform: scale(1.35, 1.3) translateY(5%);
}

.back {
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  transform: translateY(35%);
}

.background {
  min-height: 100%;
  background: hsl(var(--clr-dark));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(0.2, 0.9);
  opacity: 0;
  border-radius: var(--br);
  overflow: hidden;
}

.background img {
  opacity: 1;
  height: auto;
  width: 100%;
  object-fit: cover;
}
