@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap");

:root {
  --gradient: linear-gradient(45deg, #33ff99f1, #6bfff3c9, #90a2d3, #68b0e098);
  --glass-bg: rgba(255, 255, 255, 0.11);
  --border: 1px solid rgba(255, 255, 255, 0.1);
  --shadow-1: 30px 30px 30px 0 rgba(99, 103, 161, 0.733),
    30px 30px 30px 0 rgba(255, 255, 255, 0.507);
  /* ------------------------------------------------- */
  /* ------------------ Custom Colors ---------------- */
  /* ------------------------------------------------- */

  --clr-dark: 0, 0%, 0%;
  --clr-light: 195, 70%, 90%;
  --clr-span: 195, 36%, 45%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;

  /* -------------------------------------------------------- */
  /* ------------------ Custom Font-Sizes ------------------- */
  /* -------------------------------------------------------- */

  /* Step -1: 12.8px → 14.4px */
  --step--1: clamp(0.8rem, 0.7652rem + 0.1739cqi, 0.9rem);
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9565rem + 0.2174cqi, 1.125rem);
  /* Step 1: 20px → 22.5px */
  --step-1: clamp(1.25rem, 1.1957rem + 0.2717cqi, 1.4063rem);
  /* Step 2: 25px → 28.125px */
  --step-2: clamp(1.5625rem, 1.4946rem + 0.3397cqi, 1.7578rem);
  /* Step 3: 31.25px → 35.1563px */
  --step-3: clamp(1.9531rem, 1.8682rem + 0.4246cqi, 2.1973rem);
  /* Step 4: 39.0625px → 43.9453px */
  --step-4: clamp(2.4414rem, 2.3353rem + 0.5307cqi, 2.7466rem);
  /* Step 5: 48.8281px → 54.9316px */
  --step-5: clamp(3.0518rem, 2.9191rem + 0.6634cqi, 3.4332rem);
  /* Step 6: 61.0352px → 68.6646px */
  --step-6: clamp(3.8147rem, 3.6488rem + 0.8293cqi, 4.2915rem);

  /* ------------------------------------------------------- */
  /* ----------------- Custom Space-Sizes ------------------ */
  /* ------------------------------------------------------- */

  /* Space 2xs: 12px → 14px */
  --space-2xs: clamp(0.75rem, 0.7065rem + 0.2174cqi, 0.875rem);
  /* Space xs: 12px → 14px */
  --space-xs: clamp(0.75rem, 0.7065rem + 0.2174cqi, 0.875rem);
  /* Space s: 16px → 18px */
  --space-s: clamp(1rem, 0.9565rem + 0.2174cqi, 1.125rem);
  /* Space m: 24px → 27px */
  --space-m: clamp(1.5rem, 1.4348rem + 0.3261cqi, 1.6875rem);
  /* Space l: 32px → 36px */
  --space-l: clamp(2rem, 1.913rem + 0.4348cqi, 2.25rem);
  /* Space xl: 48px → 54px */
  --space-xl: clamp(3rem, 2.8696rem + 0.6522cqi, 3.375rem);
  /* Space 2xl: 64px → 72px */
  --space-2xl: clamp(4rem, 3.8261rem + 0.8696cqi, 4.5rem);
  /* Space 3xl: 96px → 108px */
  --space-3xl: clamp(6rem, 5.7391rem + 1.3043cqi, 6.75rem);

  --font-turret-road: "Turret Road", sans-serif;
  --font-turret-road-light: 100;
  --font-turret-road-regular: 400;
  --font-turret-road-bold: 700;

  --font-big-shoulders-inline: "Big Shoulders Inline", sans-serif;
  --font-big-shoulders-inline-light: 100;
}

/* --------------------------------------- */
/* ------------  Custom Colors ----------- */
/* --------------------------------------- */

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-span {
  color: hsl(var(--clr-span));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

/* --------------------------------------- */
html {
  color-scheme: dark only;
}
/* -------------------------------------------------------- */

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100rem;
  margin: auto;
  font-size: 1rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  background: linear-gradient(267deg, #4274ba 1%, #f9a11b 100%);
  font-size: 1.2rem;
  text-decoration: none;
}

.animation {
  cursor: pointer;
  transition: 0.5s;
}

.animation:hover {
  transform: scale(1.03);
}

.flex {
  display: flex;
  align-items: center;
}

.text-effect {
  background: linear-gradient(267deg, #4274ba 1%, #f9a11b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  margin: 4rem 10rem 10rem;
}

.container-title {
  position: relative;
}

.container-title h2 {
  padding: 0 2rem;
  font-size: 2.5rem;
}

.container-title img {
  position: absolute;
  bottom: -1rem;
  right: 0;
  z-index: -1;
  width: 6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 7rem;
  gap: 3rem;
}

.grid-container img {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.5rem;
}

#home,
#about,
#services,
#work,
#contact {
  scroll-margin-top: 100px;
}

/* nav */
.navbar {
  justify-content: space-around;
  padding: 1rem 6rem;
  box-sizing: border-box;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  max-width: 100rem;
}

.navbar img:nth-child(1) {
  width: 3rem;
  padding-right: 6.5rem;
}

.nav-menu {
  gap: 2rem;
}

.nav-menu a {
  text-decoration: none;
}

.navbar-placeholder {
  height: 60px;
}

.fa-bars,
.fa-x {
  display: none;
}

/* hero */
#home {
  justify-content: center;
  height: 100vh;
}

.hero {
  flex-direction: column;
  gap: 2rem;
}

.hero img {
  width: 15%;
  max-width: 15rem;
}

.hero h1,
.hero span {
  font-size: 3rem;
  text-align: center;
}

.hero-resume {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 2px solid #fff;
  background-color: black;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  text-decoration: none;
}

/* about */
.about-sections {
  gap: 4rem;
}

.about-right {
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}

.about-left img {
  width: 40%;
  margin: auto;
}

.about-skills {
  width: 85%;
  gap: 1rem;
}

.about-skill {
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 1rem 1rem;
}

.about-skills h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.about-skill hr {
  border: none;
  width: 50%;
  height: 0.5rem;
  border-radius: 4rem;
  background: linear-gradient(267deg, #4274ba 1%, #f9a11b 100%);
}

.about-achievements {
  align-items: normal;
  width: 100%;
  justify-content: space-around;
}

.about-achievement {
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

/* services */
.services-format {
  align-items: start;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  padding: 4rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  line-height: 2.4rem;
}

.services-format h3 {
  font-size: 1.5rem;
}

/* work */
.work-name {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

/* contact */
.contact-section {
  gap: 4rem;
}

.contact-left {
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}

.contact-left p {
  line-height: 2rem;
}

.contact-details {
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}

.contact-detail {
  align-items: center;
  gap: 1rem;
}

.contact-right {
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  font-size: 1.2rem;
}

.contact-right input,
.contact-right textarea {
  border: none;
  width: 20rem;
  height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #000;
}

/* footer */
footer {
  margin: 4rem 10rem;
  align-items: normal;
  flex-direction: column;
  gap: 2rem;
}

.footer-top {
  width: 100%;
  justify-content: space-between;
}

.footer-top-left img {
  width: 3rem;
}

.footer-top-right {
  align-items: center;
  width: 30%;
  gap: 2rem;
}

.footer-bottom {
  text-align: center;
}

footer hr {
  width: 100%;
}

@media (max-width: 1200px) {
  .navbar {
    justify-content: space-between;
  }

  .fa-bars,
  .fa-x {
    display: block;
    font-size: 2rem;
  }

  .fa-bars:active,
  .fa-x:active {
    transform: rotate(-10deg);
  }

  .nav-btn {
    display: none;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 3rem;
    font-size: 2rem;
    background-color: #222222;
    width: 20rem;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    padding: 1rem;
    right: -20rem;
    box-sizing: border-box;
  }

  .container {
    margin: 4rem 8rem 10rem;
  }

  .about-sections img {
    display: none;
  }

  .footer-top {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-top-right {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 60%;
  }

  .container {
    margin-bottom: 20rem;
  }

  .navbar-placeholder {
    display: none;
  }

  .about-achievements {
    flex-direction: column;
  }

  .about-achievements hr {
    width: 30%;
    margin: auto;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 668px) {
  .contact-section {
    flex-direction: column;
  }
}
