/* CSS Reset */
/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* min body height */
body {
  min-height: 100svh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0.4em;
  margin-inline: 0;
  text-wrap: balance;
}

/*improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p {
  margin-block: 0.3em;
  margin-inline: 0;
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
