@layer reset {
    html {
        color-scheme: light dark;
        font:
            clamp(1rem, 1rem + 0.5vw, 2rem) / 1.25 system-ui,
            sans-serif;
        tab-size: 2;
        hanging-punctuation: first allow-end last;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
    }
}

h1,
h2 {
    font-weight: 700;
    letter-spacing: -0.02rem;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

/* Grouped text-wrap and word-break rules for headings, paragraphs, figcaption */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figcaption {
    word-break: normal;
    overflow-wrap: break-word;
    text-wrap: balance;
    word-wrap: normal;
    display: block;
}

/* Consolidated margin/padding resets for common elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
li,
figcaption {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
}

/* Prevent font size inflation (allow user-agent zooming) now merged above */

/* Set core body defaults */
body,
html {
    line-height: 1.25;
    min-height: 100dvh;

}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

a {
    color: oklch(0.68 0.17 228);
    text-underline-offset: 2px;
    &:not(:is(:hover, :focus)) {
        text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);
    }
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    inset-block-end: -0.25em;
}

sup {
    inset-block-start: -0.5em;
}

ul,
ol,
dl {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul ul,
ul ol,
ul dl,
ol ul,
ol ol,
ol dl,
dl ul,
dl ol,
dl dl {
    padding-inline-start: 2ch;
}

/* Make images easier to work with */
img,
picture {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}



svg {
    fill: currentColor;
}


video,
iframe {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
    border-style: none;
}

figure {
    inline-size: fit-content;
    margin-inline: auto;
}

figcaption {
    contain: inline-size;
    font-size: 90%;
}

input,
select,
textarea,
button {
    font: inherit;
    /* FUTURE: appearance: base; */
}

label {
    display: block;
}

input:not( :where([type="submit"],
        [type="checkbox"],
        [type="radio"],
        [type="button"],
        [type="reset"])) {
    inline-size: 100%;
}

button,
input:where([type="submit"],
    [type="reset"],
    [type="button"]) {
    background: CanvasText;
    color: Canvas;
    border: 1px solid transparent;
}

@supports (field-sizing: content) {
    textarea {
        field-sizing: content;
    }
}

pre,
code,
kbd,
samp {
    font-family: ui-monospace, SFMono-Regular, monospace;
}

pre {
    white-space: pre-wrap;
    background: CanvasText;
    color: Canvas;
    padding: 1.5rem;
}

[aria-disabled="true" i],
[disabled] {
    cursor: not-allowed;
}

[disabled],
label:has(input[disabled]) {
    opacity: 0.5;
}

hr {
    border-style: solid;
    border-width: 1px 0 0;
    color: inherit;

    overflow: visible;
    margin-block: 2.5rem;
}

:target {
    scroll-margin: 3rlh;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

table td,
table th {
    text-align: left;
}

table caption {
    font-size: 90%;
}

table td,
table th {
    word-break: normal;
    border: 1px solid gray;
    padding: 0.5rem;
}

[role="region"][aria-labelledby][tabindex] {
    overflow: auto;
}

[hidden] {
    display: none;
}

.screenreader-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

:focus-visible {
    outline-offset: 2px;
}

@media (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }

    html {
        interpolate-size: allow-keywords;
        &:focus-within {
            scroll-behavior: smooth;
        }
    }
}