:root {
	
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	container-type: inline-size;
	inline-size: 100svh;
	inline-size: 100%;
	position: relative;
	font-weight: 700;
	color: #ffffff;
	font-family: "Monoton", sans-serif;
    background-color: var(--main-bg);
	overflow: hidden;
}

.index-content {
	container-type: inline-size;
	inline-size: 100%;
	min-height: 100svh;
    margin:0 auto;
	position: relative;

}

a {
	

