:root {
	--main-bg: #1d1e22;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	container-type: inline-size;
	inline-size: 100svh;
	inline-size: 100%;
	position: relative;
	font-weight: 700;
	color: #ffffff;
	font-family: "Monoton", sans-serif;
    background-color: var(--main-bg);
	overflow: hidden;
}

.index-content {
	container-type: inline-size;
	inline-size: 100%;
	min-height: 100svh;
    margin:0 auto;
	position: relative;

}

a {
	margin: 0 auto;
	color: #ffffff;
	text-decoration: none;
}

svg {
	position: absolute;
}

.wrapper {
	text-align: center;

	& p {
		font-size: 10rem;
	}
}

.water {
	filter: url("#water");
}

.smoke {
	position: absolute;
	width: 100%;
	filter: url(#smoke) blur(5px) opacity(0.8);
}

.smoke::before {
	content: attr(data-text);
	position: absolute;
	filter: url(#smoke) drop-shadow(0 0 40px #ffffff) blur(40px);
}

@container (inline-size >600px) {
                   
}

@container (inline-size > 800px) {
}


@container (inline-size > 1200px) {
	.wrapper {
		& p {
			font-size: 10rem;
		}
	}
}
