[data-theme="dark"] {
    --base-color: oklch(0% 0 0);
    --text-color: oklch(100% 0.00011 271.152);
    --text-span: oklch(67.53% 0.04556 196.219 / 0.966);

    --body-grid-line: oklch(100% 0.00011 271.152 / 0.123);

    --shadow: 0 30px 100px oklch(100% 0.00011 271.152);
    --navbar-shadow: 0 30px 100px oklch(72.926% 0.03553 17.87 / 0.863), 0 30px 100px oklch(81.308% 0.01583 17.164 / 0.603);

    /* Darker shadow colors for animation */
    --shadow-color: oklch(100% 0.00011 271.152 / 0.877);
    --shadow-color2: oklch(100% 0.00011 271.152 / 0.726);
    --shadow-color3: oklch(100% 0.00011 271.152 / 0.534);

    --gradient: linear-gradient(90deg, oklch(87.496% 0.01591 248.156 / 0.431), oklch(69.426% 0.07915 211.737), oklch(76.915% 0.07434 325.46 / 0.698), oklch(69.099% 0.15164 327.036));
    --gradient-header: linear-gradient(90deg, oklch(87.496% 0.01591 248.156 / 0.431), oklch(69.426% 0.07915 211.737 / 0.337), oklch(76.915% 0.07434 325.46 / 0.176), oklch(35.825% 0.01521 325.764));
}

[data-theme="light"] {
    --base-color: oklch(100% 0.00011 271.152);
    --text-color: oklch(0% 0 0);
    --text-span: oklch(30.097% 0.03588 210.108 / 0.795);

    --body-grid-line: oklch(0% 0 0 / 0.63);

    --shadow: 0 30px 100px oklch(0% 0 0);
    --navbar-shadow: 0 30px 100px oklch(72.926% 0.03553 17.87 / 0.863), 0 30px 100px oklch(81.308% 0.01583 17.164 / 0.603);

    /* Darker shadow colors for animation */
    --shadow-color: oklch(0% 0 0 / 0.877);
    --shadow-color2: oklch(0% 0 0 / 0.726);
    --shadow-color3: oklch(0% 0 0 / 0.534);

    --gradient: linear-gradient(90deg, oklch(87.496% 0.01591 248.156 / 0.431), oklch(69.426% 0.07915 211.737), oklch(76.915% 0.07434 325.46 / 0.698), oklch(69.099% 0.15164 327.036));
    --gradient-header: linear-gradient(90deg, oklch(87.496% 0.01591 248.156 / 0.431), oklch(69.426% 0.07915 211.737 / 0.337), oklch(76.915% 0.07434 325.46 / 0.176), oklch(35.825% 0.01521 325.764));
}

html,
body {
    color: var(--text-color);
    font-family: var(--font-family-primary), sans-serif;
    font-size: var(--step-0);
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    word-spacing: var(--word-spacing);
    letter-spacing: var(--letter-spacing);
}

body::before {
    opacity: 1;
    pointer-events: none;
    content: "";
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background:
        linear-gradient(90deg,
            var(--body-grid-line) 1px,
            transparent 1px) 0 0 / 30px 30px,
        linear-gradient(180deg,
            var(--body-grid-line) 1px,
            transparent 1px) 0 0 / 30px 30px,
        var(--base-color);
    mask-image: linear-gradient(-135deg, transparent 0%, var(--base-color) 20%);
    mask-size: 400% 100%;
    mask-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out, opacity 0.7s ease-in-out,
        background-position 0.3s ease-in-out;
    isolation: isolate;
    z-index: -2000;
    overflow: hidden;
}