@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');

:root {
/* ------------------------------------------------- */
/* ------------------ Custom Colors ---------------- */
/* ------------------------------------------------- */

--clr-dark: 0, 0%, 0%;
--clr-light: 195, 70%, 90%;
--clr-span: 195, 36%, 45%;
--clr-white: 0, 0%, 100%;
--clr-accent: 231, 77%, 90%;


/* -------------------------------------------------------- */
/* ------------------ Custom Font-Sizes ------------------- */
/* -------------------------------------------------------- */

/* Step -1: 13.3333px → 15.0038px */
--step--1: clamp(0.8333rem, 0.797rem + 0.1816vw, 0.9377rem);
/* Step 0: 16px → 20px */
--step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
/* Step 1: 19.2px → 26.66px */
--step-1: clamp(1.2rem, 1.0378rem + 0.8109vw, 1.6663rem);
/* Step 2: 23.04px → 35.5378px */
--step-2: clamp(1.44rem, 1.1683rem + 1.3585vw, 2.2211rem);
/* Step 3: 27.648px → 47.3719px */
--step-3: clamp(1.728rem, 1.2992rem + 2.1439vw, 2.9607rem);
/* Step 4: 33.1776px → 63.1467px */
--step-4: clamp(2.0736rem, 1.4221rem + 3.2575vw, 3.9467rem);
/* Step 5: 39.8131px → 84.1745px */
--step-5: clamp(2.4883rem, 1.5239rem + 4.8219vw, 5.2609rem);
/* Step 6: 47.7757px → 112.2047px */
--step-6: clamp(2.986rem, 1.5854rem + 7.0031vw, 7.0128rem);
/* Step 7: 57.3309px → 149.5688px */
--step-7: clamp(3.5832rem, 1.578rem + 10.0259vw, 9.3481rem);
/* Step 8: 68.7971px → 199.3752px */
--step-8: clamp(4.2998rem, 1.4612rem + 14.1933vw, 12.461rem);
/* Step 9: 82.5565px → 264.2502px */
--step-9: clamp(5.1598rem, 1.1914rem + 19.4381vw, 16.602rem);

/* ------------------------------------------------------- */
/* ----------------- Custom Space-Sizes ------------------ */
/* ------------------------------------------------------- */

/* Space xs: 12px → 15px */
--space-xs: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
/* Space s: 16px → 20px */
--space-s: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
/* Space m: 24px → 30px */
--space-m: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
/* Space l: 32px → 40px */
--space-l: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
/* Space xl: 48px → 60px */
--space-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
/* Space 2xl: 64px → 80px */
--space-2xl: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);
/* Space 3xl: 96px → 120px */
--space-3xl: clamp(6rem, 5.4783rem + 2.6087vw, 7.5rem);
/* Space 4xl: 112px → 140px */
--space-4xl: clamp(7rem, 6.3913rem + 3.0435vw, 8.75rem);
/* Space 5xl: 128px → 160px */
--space-5xl: clamp(8rem, 7.3043rem + 3.4783vw, 10rem);
/* Space 6xl: 144px → 180px */
--space-6xl: clamp(9rem, 8.2174rem + 3.913vw, 11.25rem);
/* Space 7xl: 160px → 200px */
--space-7xl: clamp(10rem, 9.1304rem + 4.3478vw, 12.5rem);
/* Space 8xl: 176px → 220px */
--space-8xl: clamp(11rem, 10.0435rem + 4.7826vw, 13.75rem);
/* Space 9xl: 192px → 240px */
--space-9xl: clamp(12rem, 10.9565rem + 5.2174vw, 15rem);

/* One-up pairs */
/* Space xs-s: 12px → 20px */
--space-xs-s: clamp(0.75rem, 0.5761rem + 0.8696vw, 1.25rem);
/* Space s-m: 16px → 30px */
--space-s-m: clamp(1rem, 0.6957rem + 1.5217vw, 1.875rem);
/* Space m-l: 24px → 40px */
--space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vw, 2.5rem);
/* Space l-xl: 32px → 60px */
--space-l-xl: clamp(2rem, 1.3913rem + 3.0435vw, 3.75rem);
/* Space xl-2xl: 48px → 80px */
--space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vw, 5rem);
/* Space 2xl-3xl: 64px → 120px */
--space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vw, 7.5rem);
/* Space 3xl-4xl: 96px → 140px */
--space-3xl-4xl: clamp(6rem, 5.0435rem + 4.7826vw, 8.75rem);
/* Space 4xl-5xl: 112px → 160px */
--space-4xl-5xl: clamp(7rem, 5.9565rem + 5.2174vw, 10rem);
/* Space 5xl-6xl: 128px → 180px */
--space-5xl-6xl: clamp(8rem, 6.8696rem + 5.6522vw, 11.25rem);
/* Space 6xl-7xl: 144px → 200px */
--space-6xl-7xl: clamp(9rem, 7.7826rem + 6.087vw, 12.5rem);
/* Space 7xl-8xl: 160px → 220px */
--space-7xl-8xl: clamp(10rem, 8.6957rem + 6.5217vw, 13.75rem);
/* Space 8xl-9xl: 176px → 240px */
--space-8xl-9xl: clamp(11rem, 9.6087rem + 6.9565vw, 15rem);

/* Custom pairs */
/* Space s-l: 16px → 40px */
--space-s-l: clamp(1rem, 0.4783rem + 2.6087vw, 2.5rem);
}

/* ------------------------------------------------------- */
/* ------------------- Custom Colors --------------------- */
/* ------------------------------------------------------- */
/* --------------------------------------- */
/* ------------  Custom Colors ----------- */
/* --------------------------------------- */

.text-dark {
color: hsl(var(--clr-dark));
}

.text-light {
color: hsl(var(--clr-light));
}

.text-span {
color: hsl(var(--clr-span));
}

.text-white {
color: hsl(var(--clr-white));
}

.text-accent {
color: hsl(var(--clr-accent));
}

/* --------------------------------------- */
/* ----------------- Reset --------------- */
/* --------------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
box-sizing: border-box;
}

/* --------------------------------------- */
/* ---------------- Set Body ------------- */
/* --------------------------------------- */
html,
body,
main {
font-family:'big shoulders inline', sans-serif;
font-weight: 100;
overflow: clip;
background-color: hsl(var(--clr-dark));
color: hsl(var(--clr-white));
line-height: 1.1;
}

/* --------------------------------------- */
/* -------------- Reset Margins----------- */
/* --------------------------------------- */
html,
body,
main,
h1,
h2,
h3
{
margin: 0;
padding: 0;
}

h1{
font-family:'big shoulders inline', sans-serif;
font-weight: 100;
font-size: var(--fs-400);
text-wrap: balance;
overflow-wrap: break-word;
text-align: center;
line-height: 1;
margin-inline: auto;
margin-block:.4em;
padding: 0 auto;
}

h2,
h3,
h4
{
font-family:'big shoulders inline', sans-serif;
font-weight: 100;
font-size: var(--fs-300);
text-wrap: balance;
overflow-wrap: break-word;
text-align: center;
line-height: 1.1;
margin-inline: auto;
margin-block:0.2em;
padding: 0 auto;
}

p {
margin-block: 0.2em;
margin-inline: auto;
text-align: center;
font-size: var(--fs-300);
text-wrap: balance;
overflow-wrap: break-word;
}

/* Set core root defaults */
html:focus-within {
scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
font: inherit;
}

a{
text-decoration: none;
color: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

*,
*::before,
*::after {
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
}

}

/* --------------------------------------- */
/* ----------- Utility Classes ----------- */
/* --------------------------------------- */

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
/* added line */
border: 0;
}

.skip-to-content {
position: absolute;
background: hsl(var(--clr-accent) / 1);
color: hsl(var(--clr-dark));
padding: 0.5em 1em;
margin-inline: auto;
transform: translateY(-100%);
transition: transform 250ms ease-in;
}

.skip-to-content:focus {
transform: translateY(0);
}

.numbered-title {
font-size: var(--fs-400);
letter-spacing: 2.72px;
}

.numbered-title span {
margin-right: .5em;
font-size: var(--fs-500);
color: hsl(var(--clr-accent) / .25);
}

/* --------------------------------------- */
/* ------------  Custom Colors ----------- */
/* --------------------------------------- */

.text-dark {
color: hsl(var(--clr-dark));
}

.text-light {
color: hsl(var(--clr-light));
}

.text-span {
color: hsl(var(--clr-span));
}

.text-white {
color: hsl(var(--clr-white));
}

.text-accent {
color: hsl(var(--clr-accent));
}

/* --------------------------------------- */
/* ------------- Components -------------- */
/* --------------------------------------- */

.large-button {
font-size: 2rem;
position: relative;
z-index: 1;
display: inline-flex;
place-items: center;
padding: 0 2em;
border-radius: 50%;
aspect-ratio: 2 / 1;
text-decoration: none;
}

.large-button::after {
content: "";
position: absolute;
z-index: -1;
width: 50%;
height: 50%;
background: hsl(var(--clr-white) / 0.8);
border-radius: 50%;
opacity: 0;
transition: opacity 500ms linear,
transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
opacity: 1;
transform: scale(1.5);
}

html {
color-scheme: dark only;
}

[data-theme='light'] {
color-scheme: light only;
}

[data-theme='dark'] {
color-scheme: dark only;
}

@layer base {
html {
color-scheme: dark only;
}

[data-theme='light'] {
color-scheme: light only;
}

}

.intro-page {
display: grid;
grid-template-columns:12rem 1fr;
color: hsl(var(--clr-white));
overflow: hidden;
}

.intro-page >* {
container-type: inline-size;
}

.intro-main{
display:grid;
grid-template-columns: 1fr 1fr;
/*grid-template-columns:repeat(auto-fit, minmax(min(400px,100%), 1fr));*/
}


.intro-page::before {
content: '';
min-height: 100svh;
width: 100%;
position: fixed;
background:
linear-gradient(90deg,
color-mix(in hsl, canvasText, transparent 70%) 1px,
transparent 1px 30px) 50% 50% / 30px 30px,
linear-gradient(color-mix(in hsl, canvasText, transparent 70%) 1px, transparent 1px 30px) 50% 50% / 30px 30px;
mask: linear-gradient(-20deg, transparent 50%, white) 100%;
transform-style: preserve-3d;
transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-position 0.3s ease-in-out;
}

.row{
justify-content: center;
align-content: center;
text-align: center;
margin-inline: auto;
padding: 0 auto;
}

.row img{
max-inline-size:100%;
height: auto;
display: block;
object-fit: cover;
object-position: center;
border-radius: 50%;
margin-inline: auto;
box-shadow: 0px 50px 50px 50px rgba(248, 246, 246, 0.5);
}

.row p{
font-family: 'Big Shoulders Inline', sans-serif;
font-weight: 100;
font-size: var(--fs-300);
text-wrap: balance;
overflow-wrap: break-word;
}

/* --------------------------------------- */
/* ------------- Sidebar Nav ------------- */
/* --------------------------------------- */

#sidebar{
box-sizing: border-box;
height: 100vh;
background-color:transparent;
position: sticky;
top: 0;
align-self: start;
transition: 300ms ease-in-out;
overflow: hidden;
text-wrap: nowrap;
color: hsl(var(--clr-white));
}

#sidebar.close{
padding-left: 11px;
width: 81px;
}

#sidebar.close{
.logo{
display: none;
}
}


#sidebar ul{
list-style: none;

}

#sidebar > ul > li:first-child{
display: flex;
justify-content: flex-end;
margin-bottom: 16px;
.logo{
font-weight: 600;
}
}

#sidebar ul li a{
color:hsl(var(--clr-white));
height: auto;
width: auto;


svg{
fill:hsl(var(--clr-white));
}
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
color: hsl(var(--clr-white));
font-size: var(--fs-300);

font-weight: 100;

text-decoration: none;
display: flex;
align-items: center;

padding: 0.3em;

}
.dropdown-btn{
width: 100%;
text-align: left;
background: none;
border: none;
font: inherit;
cursor: pointer;
}
#sidebar svg{
flex-shrink: 0;
fill:hsl(var(--clr-white));
}
#sidebar a span, #sidebar .dropdown-btn span{
flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
background-color:transparent;
}
#sidebar .sub-menu{
display: grid;
grid-template-rows: 0fr;
transition: 300ms ease-in-out;


> div{
overflow: hidden;
}
}
#sidebar .sub-menu.show{
grid-template-rows: 1fr;
color: hsl(var(--clr-white));
}
.dropdown-btn svg{
transition: 200ms ease;
}
.rotate svg:last-child{
rotate: 180deg;
}
#sidebar .sub-menu a{
padding-left: 2em;
}
#toggle-btn{
margin-left: auto;
padding: 1em;
border: none;
border-radius: .5em;
background: none;
cursor: pointer;

svg{
transition: rotate 150ms ease;
}
}
#toggle-btn:hover{
background-color:transparent;
}


/* --------------------------------------- */
/* ------------- Media Query ------------- */
/* --------------------------------------- */

@media(max-width: 600px) {
.intro-page {
grid-template-columns: 1fr;
overflow: hidden;
}
.intro-main {
grid-template-columns: 1fr;
}

.row {
grid-template-columns: 1fr;
max-inline-size: 100%;
justify-content: center;
align-content: center;
}

.row img {
max-inline-size: 80px;
height: auto;
display: block;
object-fit: cover;
object-position: center;
border-radius: 50%;
justify-content: center;
align-content: center;
margin: 0 auto;
}


@media(max-width: 600px){
.intro-page{
grid-template-columns: 1fr;
}

.intro-main{
grid-template-columns: 1fr;
}
#sidebar{
height: 100px;
width: 100%;
padding-inline:0 auto;
margin-inline: auto;
color: hsl(var(--clr-white));


> ul{
display: grid;
grid-auto-flow: column;
width: 100%;
margin-inline:0 auto;
}

ul li:first-child{
display:none;
}


.dropdown-btn{
display: flex;
flex-direction:column;
}

ul a { 
display: flex;
width: auto;
flex-direction: column;
margin-inline: 0 auto ;
}

ul li span,svg:last-child{
display:flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

ul li .sub-menu.show{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
margin-inline: 0 auto;
color: hsl(var(--clr-white));
left: 0;
box-sizing: border-box;



> div{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
color: hsl(var(--clr-white));

}
li{
display: inline-flex;
}
a{
box-sizing: border-box;
padding: 1em;
width: auto;
justify-content: center;
}
}
}
}
}