@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap");

:root {
  /* ------------------------------------------------- */
  /* ------------------ Custom Colors ---------------- */
  /* ------------------------------------------------- */

  --clr-dark: 0, 0%, 0%;
  --clr-light: 195, 70%, 90%;
  --clr-span: 195, 36%, 45%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;

  /* -------------------------------------------------------- */
  /* ------------------ Custom Font-Sizes ------------------- */
  /* -------------------------------------------------------- */

  /* Step -1: 13.3333px → 15px */
  --step--1: clamp(0.8333rem, 0.7971rem + 0.1812cqi, 0.9375rem);
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9565rem + 0.2174cqi, 1.125rem);
  /* Step 1: 19.2px → 21.6px */
  --step-1: clamp(1.2rem, 1.1478rem + 0.2609cqi, 1.35rem);
  /* Step 2: 23.04px → 25.92px */
  --step-2: clamp(1.44rem, 1.3774rem + 0.313cqi, 1.62rem);
  /* Step 3: 27.648px → 31.104px */
  --step-3: clamp(1.728rem, 1.6529rem + 0.3757cqi, 1.944rem);
  /* Step 4: 33.1776px → 37.3248px */
  --step-4: clamp(2.0736rem, 1.9834rem + 0.4508cqi, 2.3328rem);
  /* Step 5: 39.8131px → 44.7898px */
  --step-5: clamp(2.4883rem, 2.3801rem + 0.5409cqi, 2.7994rem);
  /* Step 6: 47.7757px → 53.7477px */
  --step-6: clamp(2.986rem, 2.8562rem + 0.6491cqi, 3.3592rem);
  /* Step 7: 57.3309px → 64.4973px */
  --step-7: clamp(3.5832rem, 3.4274rem + 0.779cqi, 4.0311rem);

  /* ------------------------------------------------------- */
  /* ----------------- Custom Space-Sizes ------------------ */
  /* ------------------------------------------------------- */

  /* Space s: 16px → 18px */
  --space-s: clamp(1rem, 0.9565rem + 0.2174cqi, 1.125rem);
  /* Space m: 24px → 27px */
  --space-m: clamp(1.5rem, 1.4348rem + 0.3261cqi, 1.6875rem);
  /* Space l: 32px → 36px */
  --space-l: clamp(2rem, 1.913rem + 0.4348cqi, 2.25rem);
  /* Space xl: 48px → 54px */
  --space-xl: clamp(3rem, 2.8696rem + 0.6522cqi, 3.375rem);
  /* Space 2xl: 64px → 72px */
  --space-2xl: clamp(4rem, 3.8261rem + 0.8696cqi, 4.5rem);
  /* Space 3xl: 96px → 108px */
  --space-3xl: clamp(6rem, 5.7391rem + 1.3043cqi, 6.75rem);
  /* Space 4xl: 112px → 126px */
  --space-4xl: clamp(7rem, 6.6957rem + 1.5217cqi, 7.875rem);
  /* Space 5xl: 128px → 144px */
  --space-5xl: clamp(8rem, 7.6522rem + 1.7391cqi, 9rem);
  /* Space 6xl: 144px → 162px */
  --space-6xl: clamp(9rem, 8.6087rem + 1.9565cqi, 10.125rem);
  /* Space 7xl: 160px → 180px */
  --space-7xl: clamp(10rem, 9.5652rem + 2.1739cqi, 11.25rem);

  /* One-up pairs */
  /* Space s-m: 16px → 27px */
  --space-s-m: clamp(1rem, 0.7609rem + 1.1957cqi, 1.6875rem);
  /* Space m-l: 24px → 36px */
  --space-m-l: clamp(1.5rem, 1.2391rem + 1.3043cqi, 2.25rem);
  /* Space l-xl: 32px → 54px */
  --space-l-xl: clamp(2rem, 1.5217rem + 2.3913cqi, 3.375rem);
  /* Space xl-2xl: 48px → 72px */
  --space-xl-2xl: clamp(3rem, 2.4783rem + 2.6087cqi, 4.5rem);
  /* Space 2xl-3xl: 64px → 108px */
  --space-2xl-3xl: clamp(4rem, 3.0435rem + 4.7826cqi, 6.75rem);
  /* Space 3xl-4xl: 96px → 126px */
  --space-3xl-4xl: clamp(6rem, 5.3478rem + 3.2609cqi, 7.875rem);
  /* Space 4xl-5xl: 112px → 144px */
  --space-4xl-5xl: clamp(7rem, 6.3043rem + 3.4783cqi, 9rem);
  /* Space 5xl-6xl: 128px → 162px */
  --space-5xl-6xl: clamp(8rem, 7.2609rem + 3.6957cqi, 10.125rem);
  /* Space 6xl-7xl: 144px → 180px */
  --space-6xl-7xl: clamp(9rem, 8.2174rem + 3.913cqi, 11.25rem);
}

/* --------------------------------------- */
/* -------------- Reset Margins----------- */
/* --------------------------------------- */

h1,
h2,
h3 {
  margin-block: 0;
  margin-inline: 0;
  word-wrap: balance;
  overflow-wrap: break-word;
  line-height: 1.3;
}

p {
  margin-block: 0.5em;
  margin-inline: 0;
  word-wrap: balance;
  overflow-wrap: break-word;
  line-height: 1.1;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100px;
  height: 75px;
  display: block;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------------------- */
/* ----------- Utility Classes ----------- */
/* --------------------------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-to-content {
  position: absolute;
  background: hsl(var(--clr-accent) / 1);
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

.numbered-title {
  font-size: var(--fs-400);
  letter-spacing: 2.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-size: var(--fs-500);
  color: hsl(var(--clr-accent) / 0.25);
}

/* --------------------------------------- */
/* ------------  Custom Colors ----------- */
/* --------------------------------------- */

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-span {
  color: hsl(var(--clr-span));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

/* --------------------------------------- */
/* ------------- Components -------------- */
/* --------------------------------------- */

.large-button {
  font-size: 2rem;
  position: relative;
  z-index: 1;
  display: inline-flex;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 2 / 1;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 50%;
  background: hsl(var(--clr-white) / 0.8);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-gradient-text {
  position: relative;
  top: -50px;
  right: -50px;
  z-index: 0;
}

.wrapper-gradient-text {
  font-family: var(--ff-Kanit);
  font-size: var(--fs-400);
  font-weight: bold;
  display: flex;
  color: transparent;
  /*perspective: 270px;*/
  perspective: 100%;
}

.text-layer {
  position: relative;
  transform: rotateX(-30deg) translateZ(70px);
  background: linear-gradient(
    109.6deg,
    rgb(110, 139, 156, 0.9) 20%,
    rgb(142, 186, 211, 0.3) 42%,
    rgba(146, 165, 189, 0.5) 71.5%,
    rgb(106, 131, 143, 0.7) 100.2%
  );
  text-shadow: 0px 15px 0px rgb(94, 134, 150);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shadowDrip 3s infinite alternate ease-in-out;
  margin-bottom: 0.5em;
}

@keyframes melt {
  0% {
    transform: scaleY(1) translateY(0);
  }

  100% {
    transform: scaleY(1.1) translateY(5px);
  }
}

@keyframes shadowDrip {
  0% {
    text-shadow: 0px 5px 0px rgba(78, 136, 170, 0.853);
  }

  100% {
    text-shadow: 0px 20px 30px rgba(80, 121, 148, 0.996),
      0px 30px 40px rgba(70, 118, 138, 0.822),
      0px 70px 5px rgba(69, 107, 150, 0.781);
  }
}

/* --------------------------------------- */
/* --------------- Navigation ------------ */
/* --------------------------------------- */

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background: transparent;
  color: hsl(var(--clr-light));
  padding: 0.5rem;
  position: relative;
}

header h1 {
  font-size: var(--fs-300);
  font-family: var(--ff-kanit);
  color: hsl(var(--clr-accent));
  margin: 0;
  padding: 0;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  font-family: var(--ff-kanit);
  /*font-size: var(--fs-400);*/
  color: hsl(var(--clr-accent));
  margin: 0;
  padding: 0 0 0 0.6em;
}

.logo span {
  font-family: var(--ff-kanit);
  color: hsl(var(--clr-span));
  margin: 0 0.5em 0 0.5em;
}

.primary-navigation {
  position: absolute;
  top: 100%;
  right: 0%;
  background: transparent;
  transition: clip-path ease-in-out 700ms;
  margin: 0;
  padding: 0;
  list-style: none;
}
.primary-navigation[data-state="opened"] {
  animation: clipPathCircleOpen 750ms ease-in-out forwards;
  display: block;
}

.primary-navigation[data-state="closing"] {
  animation: clipPathCircleClose 750ms ease-in-out forwards;
}
.primary-navigation[data-state="closed"] {
  display: none;
}

@keyframes clipPathCircleOpen {
  0% {
    clip-path: circle(0% at top right);
  }
  100% {
    clip-path: circle(250% at top right);
  }
}
@keyframes clipPathCircleClose {
  0% {
    clip-path: circle(250% at top right);
  }
  100% {
    clip-path: circle(0% at top right);
  }
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: hsl(var(--clr-span));
  background: transparent;
  display: block;
  padding: 0.3rem 4rem 0 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: transparent;
  color: transparent;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
}

.menu-toggle {
  padding: 1em;
  background: transparent;
  border: 0;
  position: absolute;
  top: 2em;
  right: 0.9em;
  cursor: pointer;
}

.menu-toggle:focus-visible {
  outline: 4px solid hsl(var(--clr-span));
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: hsl(var(--clr-white));
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

[aria-expanded="true"] .hamburger {
  transform: rotate(45deg);
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
}

[aria-expanded="true"] .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul {
  @media (hover) and (prefers-reduced-motion: no-preference) {
    & > li {
      opacity: 1;
      transform-origin: left center;
      transition: transform 1s var(--ease-spring-3), opacity 0.3s var(--ease-3);
    }

    &:hover > li:not(:hover) {
      opacity: 0.25;
      transform: scale(0.8);
    }
  }
}

@layer support.demo {
  ul {
    list-style: none;
  }
}
/* --------------------------------------- */
/* ---------- End of Navigation ---------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* ------------- Intro Page -------------- */
/* --------------------------------------- */

.intro {
  display: grid;
  grid-template-rows: 3rem 1fr;
  min-height: 100svh;
  overflow: clip;
}

html {
  color-scheme: dark only;
}

[data-theme="light"] {
  color-scheme: light only;
}

[data-theme="dark"] {
  color-scheme: dark only;
}

@layer base {
  html {
    color-scheme: dark only;
  }

  [data-theme="light"] {
    color-scheme: light only;
  }
}
.intro-content > * {
  container-type: inline-size;
  width: 100%;
  margin-inline: 0 auto;
  padding-inline: 0 auto;
  text-align: center;
}

.intro::before {
  content: "";
  min-height: 100svh;
  width: 100%;
  position: fixed;
  background: linear-gradient(
        90deg,
        color-mix(in hsl, canvasText, transparent 70%) 1px,
        transparent 1px 30px
      )
      50% 50% / 30px 30px,
    linear-gradient(
        color-mix(in hsl, canvasText, transparent 70%) 1px,
        transparent 1px 30px
      )
      50% 50% / 30px 30px;
  mask: linear-gradient(-20deg, transparent 50%, white) 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    background-position 0.3s ease-in-out;
}

.intro-content img {
  width: 100px; /* Set the width to 100px */
  height: 70px; /* Set the height to 100px */
  display: block;
  margin: 0 auto; /* Center the image */
  object-fit: cover; /* Ensure the image covers the specified dimensions */
  object-position: center;
}

.intro-content p span {
  font-size: var(--fs-400);
  color: hsl(var(--clr-span));
  letter-spacing: 0.1em;
  font-weight: 100;
  font-family: "Big Shoulders Inline", sans-serif;
  padding-left: var(--padding-s);
}

.intro-content > a {
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  font-family: "Big Shoulders Inline", sans-serif;
  font-weight: 100;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--padding-s) var(--padding-m);
  text-decoration: none;
  color: hsl(var(--clr-white));
}

.intro-content a > span {
  font-size: var(--fs-700);
  color: hsl(var(--clr-span));
  font-family: "Big Shoulders Inline", sans-serif;
  font-weight: 100;
}

.intro-content ion-icon {
  font-size: var(--fs-700);
  z-index: 5;
  --ionicon-stroke-width: 32px;
  color: hsl(var(--clr-white));
  text-align: center;
  vertical-align: middle;
}

@container (max-width: 600px) {
  .logo {
    display: none;
  }

  .intro-content img {
    width: 50px; /* Set the width to 100px */
    height: 35px; /* Set the height to 100px */
  }

  .intro-content p span {
    font-size: var(--fs-300);
  }

  .intro-content a {
    font-size: var(--fs-300);
  }

  .intro-content a > span {
    font-size: var(--fs-600);
  }

  .intro-content ion-icon {
    font-size: var(--fs-600);
  }
}

/* --------------------------------------- */
/* ---------- End of Intro Home ---------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* ------ Page Specific -- Profile ------- */
/* --------------------------------------- */
html {
  color-scheme: dark only;
}

[data-theme="light"] {
  color-scheme: light only;
}

[data-theme="dark"] {
  color-scheme: dark only;
}

@layer base {
  html {
    color-scheme: dark only;
  }

  [data-theme="light"] {
    color-scheme: light only;
  }
}
.profile-page > * {
  container-type: inline-size;
  width: 100%;
  margin-inline: 0 auto;
  padding-inline: 0 auto;
  text-align: center;
}

.profile-page::before {
  content: "";
  min-height: 100svh;
  width: 100%;
  position: fixed;
  background: linear-gradient(
        90deg,
        color-mix(in hsl, canvasText, transparent 70%) 1px,
        transparent 1px 30px
      )
      50% 50% / 30px 30px,
    linear-gradient(
        color-mix(in hsl, canvasText, transparent 70%) 1px,
        transparent 1px 30px
      )
      50% 50% / 30px 30px;
  mask: linear-gradient(-20deg, transparent 50%, white) 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    background-position 0.3s ease-in-out;
}

.main {
  display: grid;
}

.profile-page img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/* --------------------------------------- */
/* ------- Page Specific -- SideBar ------ */
/* --------------------------------------- */

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);

  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.close {
  padding: 5px;
  width: 60px;
}

#sidebar ul {
  list-style: none;
}

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  color: var(--accent-clr);

  svg {
    fill: var(--accent-clr);
  }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.dropdown-btn svg {
  transition: 200ms ease;
}

.rotate svg:last-child {
  rotate: 180deg;
}

#sidebar .sub-menu a {
  padding-left: 2em;
}

#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}

#toggle-btn:hover {
  background-color: var(--hover-clr);
}
/* --------------------------------------- */
/* --------- End of Profile Page --------- */
