@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');

:root {
  /* --------------------------------------- */
  /* ------------ Custom Colors ------------ */
  /* --------------------------------------- */

  --clr-dark: 0, 0%, 0%;
  --clr-light: 195, 70%, 90%;
  --clr-span: 187, 42%, 64%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;

  --br: 0.5em;
  --transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1);

  /* --------------------------------------- */
  /* ----------- Custom Margins ------------ */
  /* --------------------------------------- */

  /* Space xs: 12px → 15px */
  --padding-xs: clamp(0.75rem, 0.6848rem + 0.3261cqi, 0.9375rem);
  /* Space s: 16px → 20px */
  --padding-s: clamp(1rem, 0.913rem + 0.4348cqi, 1.25rem);
  /* Space m: 24px → 30px */
  --padding-m: clamp(1.5rem, 1.3696rem + 0.6522cqi, 1.875rem);
  /* Space l: 32px → 40px */
  --padding-l: clamp(2rem, 1.8261rem + 0.8696cqi, 2.5rem);
  /* Space xl: 48px → 60px */
  --padding-xl: clamp(3rem, 2.7391rem + 1.3043cqi, 3.75rem);
  /* Space 2xl: 64px → 80px */
  --padding-2xl: clamp(4rem, 3.6522rem + 1.7391cqi, 5rem);
  /* Space 3xl: 96px → 120px */
  --padding-3xl: clamp(6rem, 5.4783rem + 2.6087cqi, 7.5rem);
  /* Space 4xl: 112px → 140px */
  --padding-4xl: clamp(7rem, 6.3913rem + 3.0435cqi, 8.75rem);
  /* Space 5xl: 128px → 160px */
  --padding-5xl: clamp(8rem, 7.3043rem + 3.4783cqi, 10rem);
  /* Space 6xl: 144px → 180px */
  --padding-6xl: clamp(9rem, 8.2174rem + 3.913cqi, 11.25rem);
  /* Space 7xl: 160px → 200px */
  --padding-7xl: clamp(10rem, 9.1304rem + 4.3478cqi, 12.5rem);
  /* Space 8xl: 192px → 240px */
  --padding-8xl: clamp(12rem, 10.9565rem + 5.2174cqi, 15rem);
}

/* --------------------------------------- */
/* ---------- Custom Font Sizes ---------- */
/* --------------------------------------- */

/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --fs-200: clamp(0.8rem, 0.17cqi + 0.76rem, 0.89rem);
    --fs-300: clamp(1rem, 0.34cqi + 0.91rem, 1.19rem);
    --fs-400: clamp(1.25rem, 0.61cqi + 1.1rem, 1.58rem);
    --fs-500: clamp(1.56rem, 1cqi + 1.31rem, 2.11rem);
    --fs-600: clamp(1.95rem, 1.56cqi + 1.56rem, 2.81rem);
    --fs-700: clamp(2.44rem, 2.38cqi + 1.85rem, 3.75rem);
    --fs-800: clamp(3.05rem, 3.54cqi + 2.17rem, 5rem);
  }
}


/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --fs-200: 0.8rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.56rem;
    --fs-600: 1.95rem;
    --fs-700: 2.44rem;
    --fs-800: 3.05rem;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --fs-200: 0.89rem;
    --fs-300: 1.19rem;
    --fs-400: 1.58rem;
    --fs-500: 2.11rem;
    --fs-600: 2.81rem;
    --fs-700: 3.75rem;
    --fs-800: 5rem;
  }
}

/* --------------------------------------- */
/* ----------------- Reset --------------- */
/* --------------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* --------------------------------------- */
/* ---------------- Set Body ------------- */
/* --------------------------------------- */
html,
body,
main {
  font-family:'big shoulders inline', sans-serif;
  font-weight: 100;
  min-height: 100svh;
  overflow: clip;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  line-height: 1.1;
}

/* --------------------------------------- */
/* ---------------- Reset ---------------- */
/* --------------------------------------- */

h1,
h2,
h3
 {
  font-family:'big shoulders inline', sans-serif;
  font-weight: 100;
  font-size: var(--fs-400);
  text-wrap: balance;
  overflow-wrap: break-word;
  margin-block: 0.5em;
  text-align: center;
  line-height: 1.1;
  margin-inline: auto;
}

p {
  margin-block: 0.2em;
  margin-inline: auto;
  text-align: center;
  font-size: var(--fs-300);
  text-wrap: balance;
  overflow-wrap: break-word;
 }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
     
}

/* --------------------------------------- */
/* ----------- Utility Classes ----------- */
/* --------------------------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  background: hsl(var(--clr-accent) / 1);
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

.numbered-title {
  font-size: var(--fs-400);
  letter-spacing: 2.72px;
}

.numbered-title span {
  margin-right: .5em;
  font-size: var(--fs-500);
  color: hsl(var(--clr-accent) / .25);
}

/* --------------------------------------- */
/* ------------  Custom Colors ----------- */
/* --------------------------------------- */

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-span {
  color: hsl(var(--clr-span));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

/* --------------------------------------- */
/* ------------- Components -------------- */
/* --------------------------------------- */

.large-button {
  font-size: 2rem;
  position: relative;
  z-index: 1;
  display: inline-flex;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 2 / 1;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 50%;
  background: hsl(var(--clr-white) / 0.8);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear,
    transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-gradient-text {
  position: relative;
  top: -50px;
  right: -50px;
  z-index: 0;
}

.wrapper-gradient-text {
  font-family:var(--ff-Kanit);
  font-size:var(--fs-400);
  font-weight: bold;
  display: flex;
  color: transparent;
  /*perspective: 270px;*/
  perspective: 100%;
}

.text-layer {
  position: relative;
  transform: rotateX(-30deg) translateZ(70px);
  background: linear-gradient(
     109.6deg,
     rgb(110, 139, 156, 0.9) 20%,
     rgb(142, 186, 211, 0.3) 42%,
     rgba(146, 165, 189, 0.5) 71.5%,
     rgb(106, 131, 143, 0.7) 100.2%
  );
  text-shadow: 0px 15px 0px rgb(94, 134, 150);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shadowDrip 3s infinite alternate
     ease-in-out;
  margin-bottom: 0.5em;
}

@keyframes melt {
  0% {
     transform: scaleY(1) translateY(0);
  }

  100% {
     transform: scaleY(1.1) translateY(5px);
  }
}

@keyframes shadowDrip {
  0% {
     text-shadow: 0px 5px 0px
        rgba(78, 136, 170, 0.853);
  }

  100% {
     text-shadow: 0px 20px 30px
           rgba(80, 121, 148, 0.996),
        0px 30px 40px rgba(70, 118, 138, 0.822),
        0px 70px 5px rgba(69, 107, 150, 0.781);
  }
}

/* --------------------------------------- */
/* --------------- Navigation ------------ */
/* --------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:transparent;
  color: hsl(var(--clr-white));
  padding: 0.5rem;
  position: relative;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  font-family:'Big Shoulders Inline', sans-serif;
  font-weight: 100;
  font-size: var(--fs-300);
  margin: 0;
  padding: 0 0 0 0.6em;
  }

.logo span {
  font-family:'Big Shoulders Inline', sans-serif;
  font-weight: 100;
  font-size: var(--fs-400);
  font-weight: 100;
  font-style: normal;
  color:hsl(var(--clr-span));
  margin: 0 1em 0 0.3em;
}

.primary-navigation {
  position: absolute;
  top: 100%;
  right: 0%;
  background:transparent;
  transition: clip-path ease-in-out 700ms;
  margin: 0;
  padding: 0;
  list-style: none;
}
.primary-navigation[data-state="opened"] {
  animation: clipPathCircleOpen 750ms ease-in-out forwards;
  display: block;
}

.primary-navigation[data-state="closing"] {
  animation: clipPathCircleClose 750ms ease-in-out forwards;
}
.primary-navigation[data-state="closed"] {
  display: none;
}

@keyframes clipPathCircleOpen {
  0% { clip-path: circle(0% at top right); }
  100% { clip-path: circle(250% at top right); }
}
@keyframes clipPathCircleClose {
  0% { clip-path: circle(250% at top right); }
  100% { clip-path: circle(0% at top right); }
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color:hsl(var(--clr-white));
  display: block;
  padding: 0.3rem 4rem 0 1.5rem;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background:transparent;
  color:hsl(var(--clr-white));
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color:hsl(var(--clr-light));
}

.menu-toggle{
  padding: 1em;
  background: transparent;
  border: 0;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.menu-toggle:focus-visible {
  outline: 4px solid hsl(var(--clr-white));
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: hsl(var(--clr-white));
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

[aria-expanded="true"] .hamburger {
  transform: rotate(45deg);
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
}

[aria-expanded="true"] .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul {
  @media (hover) and (prefers-reduced-motion: no-preference) {
    &>li {
      opacity: 1;
      transform-origin: left center;
      transition:
        transform 1s var(--ease-spring-3),
        opacity .3s var(--ease-3);
    }

    &:hover>li:not(:hover) {
      opacity: .25;
      transform: scale(0.8);
    }
  }
}

@layer support.demo {
  ul {
     list-style: none;
  }
}
/* --------------------------------------- */
/* ---------- End of Navigation ---------- */
/* --------------------------------------- */


/* --------------------------------------- */
/* ------------- Intro Page -------------- */
/* --------------------------------------- */

.intro {
  display: grid;
  grid-template-rows: 3rem 1fr;
  min-height: 100svh;
  overflow: clip;
}

.intro>* {
  container-type: inline-size;
 }

html {
  color-scheme: dark only;
}

[data-theme='light'] {
  color-scheme: light only;
}

[data-theme='dark'] {
  color-scheme: dark only;
}

@layer base {
  html {
    color-scheme: dark only;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

}

.intro::before {
  content: '';
  min-height: 100svh;
  width: 100%;
  position: fixed;
  background:
    linear-gradient(90deg,
      color-mix(in hsl, canvasText, transparent 70%) 1px,
      transparent 1px 30px) 50% 50% / 30px 30px,
    linear-gradient(color-mix(in hsl, canvasText, transparent 70%) 1px, transparent 1px 30px) 50% 50% / 30px 30px;
  mask: linear-gradient(-20deg, transparent 50%, white) 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-position 0.3s ease-in-out;
}

.intro-content {
  margin-inline: auto;
  place-items: center;
  min-height: 100%;
}

.intro-content p span {
  font-size: var(--fs-400);
  color: hsl(var(--clr-span));
  letter-spacing:0.1em;
  font-weight: 100;
  font-family:'Big Shoulders Inline', sans-serif;
  padding-left: var(--padding-s);
} 

.intro-content img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 0 auto;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-400);
  font-family: 'Big Shoulders Inline', sans-serif;
  font-weight: 100;
  color: hsl(var(--clr-white));
  padding: 0 1rem;
  text-decoration: none;
  margin: 0 auto;

  >span{
  font-size: var(--fs-700);
  color: hsl(var(--clr-span));
  font-family: 'Big Shoulders Inline', sans-serif;
  font-weight: 100;
 }

>ion-icon {
  font-size: var(--fs-800);
  z-index: 5; 
  --ionicon-stroke-width: 32px;
  color:hsl(var(--clr-white));
  text-align: center;
  vertical-align: middle;
}
  
}







@container (max-width: 600px) {
   .logo {
    display: none
   }
}

/* --------------------------------------- */
/* ---------- End of Intro Home ---------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* ------ Page Specific -- Profile ------- */
/* --------------------------------------- */

.profile {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  transition: 300ms ease-in-out;
  overflow: hidden;
}

.profile > *:not(.sidebar) {
  container-type: inline-size;
  width: 100%;
  margin-inline: 0 auto;
}

.profile::before {
  content: '';
  min-height: 100svh;
  width: 100%;
  position: fixed;
  background:
    linear-gradient(90deg,
      color-mix(in hsl, canvasText, transparent 70%) 1px,
      transparent 1px 30px) 50% 50% / 30px 30px,
    linear-gradient(color-mix(in hsl, canvasText, transparent 70%) 1px, transparent 1px 30px) 50% 50% / 30px 30px;
  mask: linear-gradient(-20deg, transparent 50%, white) 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-position 0.3s ease-in-out;
}

[data-theme='light'] {
  color-scheme: light only;
}

[data-theme='dark'] {
  color-scheme: dark only;
}

@layer base {
  [data-theme='light'] {
    color-scheme: light only;
  }

  #main {
    display: flex;
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    transition: 300ms ease-in-out;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    justify-content: center;
    align-items: center;
    margin-inline: 0 auto;
    gap: var(--space-5xl);
    font-family: var(--ff-serif);
    font-size: var(--fs-400);
    text-align: left;
  }

  .profile img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  #sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
  }
}

/* --------------------------------------- */
/* ------- Page Specific -- SideBar ------ */
/* --------------------------------------- */


#sidebar.close {
  padding: 5px;
  width: 60px;
}

#sidebar ul {
  list-style: none;
}

#sidebar>ul>li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  color: var(--accent-clr);

  svg {
    fill: var(--accent-clr);
  }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  >div {
    overflow: hidden;
  }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
  }

  .dropdown-btn svg {
    transition: 200ms ease;
  }

  .rotate svg:last-child {
    rotate: 180deg;
  }

  #sidebar .sub-menu a {
    padding-left: 2em;
  }

  #toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg {
      transition: rotate 150ms ease;
    }
  }

  #toggle-btn:hover {
    background-color: var(--hover-clr);
  }
/* --------------------------------------- */
/* --------- End of Profile Page --------- */