@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');

:root {
/* ------------------------------------------------- */
/* ------------------ Custom Colors ---------------- */
/* ------------------------------------------------- */

--clr-dark: 0, 0%, 0%;
--clr-light: 195, 70%, 90%;
--clr-span: 195, 36%, 45%;
--clr-white: 0, 0%, 100%;
--clr-accent: 231, 77%, 90%;



/* ---------------------------------------------------- */
/* ---------------- Custom Font-Sizes ----------------- */
/* ---------------------------------------------------- */

/* Step -1: 15px → 16px */
--step--1: clamp(0.9375rem, 0.9077rem + 0.119vw, 1rem);
/* Step 0: 18px → 20px */
--step-0: clamp(1.125rem, 1.0655rem + 0.2381vw, 1.25rem);
/* Step 1: 21.6px → 25px */
--step-1: clamp(1.35rem, 1.2488rem + 0.4048vw, 1.5625rem);
/* Step 2: 25.92px → 31.25px */
--step-2: clamp(1.62rem, 1.4614rem + 0.6345vw, 1.9531rem);
/* Step 3: 31.104px → 39.0625px */
--step-3: clamp(1.944rem, 1.7071rem + 0.9474vw, 2.4414rem);
/* Step 4: 37.3248px → 48.8281px */
--step-4: clamp(2.3328rem, 1.9904rem + 1.3694vw, 3.0518rem);
/* Step 5: 44.7898px → 61.0352px */
--step-5: clamp(2.7994rem, 2.3159rem + 1.934vw, 3.8147rem);
/* Step 6: 53.7477px → 76.2939px */
--step-6: clamp(3.3592rem, 2.6882rem + 2.6841vw, 4.7684rem);
/* Step 7: 64.4973px → 95.3674px */
--step-7: clamp(4.0311rem, 3.1123rem + 3.675vw, 5.9605rem);


/* ---------------------------------------------------- */
/* ---------------- Custom Space-Sizes ---------------- */
/* ---------------------------------------------------- */

/* Space xs: 9px → 10px */
--space-xs: clamp(0.5625rem, 0.5446rem + 0.119vw, 0.625rem);
/* Space s: 18px → 20px */
--space-s: clamp(1.125rem, 1.0655rem + 0.2381vw, 1.25rem);
/* Space m: 27px → 30px */
--space-m: clamp(1.6875rem, 1.5982rem + 0.3571vw, 1.875rem);
/* Space l: 36px → 40px */
--space-l: clamp(2.25rem, 2.131rem + 0.4762vw, 2.5rem);
/* Space xl: 54px → 60px */
--space-xl: clamp(3.375rem, 3.1964rem + 0.7143vw, 3.75rem);
/* Space 2xl: 72px → 80px */
--space-2xl: clamp(4.5rem, 4.2619rem + 0.9524vw, 5rem);
/* Space 3xl: 108px → 120px */
--space-3xl: clamp(6.75rem, 6.3929rem + 1.4286vw, 7.5rem);
/* Space 4xl: 126px → 140px */
--space-4xl: clamp(7.875rem, 7.4583rem + 1.6667vw, 8.75rem);
/* Space 5xl: 144px → 160px */
--space-5xl: clamp(9rem, 8.5238rem + 1.9048vw, 10rem);
/* Space 6xl: 162px → 180px */
--space-6xl: clamp(10.125rem, 9.5893rem + 2.1429vw, 11.25rem);
/* Space 7xl: 180px → 200px */
--space-7xl: clamp(11.25rem, 10.6548rem + 2.381vw, 12.5rem);

/* One-up pairs */
/* Space s-m: 18px → 30px */
--space-s-m: clamp(1.125rem, 0.7679rem + 1.4286vw, 1.875rem);
/* Space m-l: 27px → 40px */
--space-m-l: clamp(1.6875rem, 1.3006rem + 1.5476vw, 2.5rem);
/* Space l-xl: 36px → 60px */
--space-l-xl: clamp(2.25rem, 1.5357rem + 2.8571vw, 3.75rem);
/* Space xl-2xl: 54px → 80px */
--space-xl-2xl: clamp(3.375rem, 2.6012rem + 3.0952vw, 5rem);
/* Space 2xl-3xl: 72px → 120px */
--space-2xl-3xl: clamp(4.5rem, 3.0714rem + 5.7143vw, 7.5rem);
/* Space 3xl-4xl: 108px → 140px */
--space-3xl-4xl: clamp(6.75rem, 5.7976rem + 3.8095vw, 8.75rem);
/* Space 4xl-5xl: 126px → 160px */
--space-4xl-5xl: clamp(7.875rem, 6.8631rem + 4.0476vw, 10rem);
/* Space 5xl-6xl: 144px → 180px */
--space-5xl-6xl: clamp(9rem, 7.9286rem + 4.2857vw, 11.25rem);
/* Space 6xl-7xl: 162px → 200px */
--space-6xl-7xl: clamp(10.125rem, 8.994rem + 4.5238vw, 12.5rem);
}

/* --------------------------------------- */
/* ------------  Custom Colors ----------- */
/* --------------------------------------- */

.text-dark {
color: hsl(var(--clr-dark));
}

.text-light {
color: hsl(var(--clr-light));
}

.text-span {
color: hsl(var(--clr-span));
}

.text-white {
color: hsl(var(--clr-white));
}

.text-accent {
color: hsl(var(--clr-accent));
}

/* --------------------------------------- */
/* ----------------- Reset --------------- */
/* --------------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
box-sizing: border-box;
}

/* --------------------------------------- */
/* ---------------- Set Body ------------- */
/* --------------------------------------- */
html,
body,
main {
font-family:'big shoulders inline', sans-serif;
font-weight: 100;
overflow: clip;
background-color: hsl(var(--clr-dark));
color: hsl(var(--clr-white));
line-height: 1.1;
}

/* --------------------------------------- */
/* -------------- Reset Margins----------- */
/* --------------------------------------- */
html,
body,
main,
h1,
h2,
h3
{
margin: 0;
padding: 0;
}

h1{
font-family:'big shoulders inline', sans-serif;
font-weight: 100;
font-size: var(--fs-400);
text-wrap: balance;
overflow-wrap: break-word;
text-align: center;
line-height: 1;
margin-inline: auto;
margin-block:.4em;
padding: 0 auto;
}

h2,
h3,
h4
{
font-family:'big shoulders inline', sans-serif;
font-weight: 100;
font-size: var(--fs-300);
text-wrap: balance;
overflow-wrap: break-word;
text-align: center;
line-height: 1.1;
margin-inline: auto;
margin-block:0.2em;
padding: 0 auto;
}

p {
margin-block: 0.2em;
margin-inline: auto;
text-align: center;
font-size: var(--fs-300);
text-wrap: balance;
overflow-wrap: break-word;
}

/* Set core root defaults */
html:focus-within {
scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
font: inherit;
}

a{
text-decoration: none;
color: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

*,
*::before,
*::after {
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
}

}

/* --------------------------------------- */
/* ----------- Utility Classes ----------- */
/* --------------------------------------- */

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
/* added line */
border: 0;
}

.skip-to-content {
position: absolute;
background: hsl(var(--clr-accent) / 1);
color: hsl(var(--clr-dark));
padding: 0.5em 1em;
margin-inline: auto;
transform: translateY(-100%);
transition: transform 250ms ease-in;
}

.skip-to-content:focus {
transform: translateY(0);
}

.numbered-title {
font-size: var(--fs-400);
letter-spacing: 2.72px;
}

.numbered-title span {
margin-right: .5em;
font-size: var(--fs-500);
color: hsl(var(--clr-accent) / .25);
}

/* --------------------------------------- */
/* ------------  Custom Colors ----------- */
/* --------------------------------------- */

.text-dark {
color: hsl(var(--clr-dark));
}

.text-light {
color: hsl(var(--clr-light));
}

.text-span {
color: hsl(var(--clr-span));
}

.text-white {
color: hsl(var(--clr-white));
}

.text-accent {
color: hsl(var(--clr-accent));
}

/* --------------------------------------- */
/* ------------- Components -------------- */
/* --------------------------------------- */

.large-button {
font-size: 2rem;
position: relative;
z-index: 1;
display: inline-flex;
place-items: center;
padding: 0 2em;
border-radius: 50%;
aspect-ratio: 2 / 1;
text-decoration: none;
}

.large-button::after {
content: "";
position: absolute;
z-index: -1;
width: 50%;
height: 50%;
background: hsl(var(--clr-white) / 0.8);
border-radius: 50%;
opacity: 0;
transition: opacity 500ms linear,
transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
opacity: 1;
transform: scale(1.5);
}

html {
color-scheme: dark only;
}

[data-theme='light'] {
color-scheme: light only;
}

[data-theme='dark'] {
color-scheme: dark only;
}

@layer base {
html {
color-scheme: dark only;
}

[data-theme='light'] {
color-scheme: light only;
}

}

.intro-page {
display: grid;
grid-template-columns:12rem 1fr;
color: hsl(var(--clr-white));
overflow: hidden;
}

.intro-page >* {
container-type: inline-size;
}

.intro-main{
display:grid;
grid-template-columns: 1fr 1fr;
/*grid-template-columns:repeat(auto-fit, minmax(min(400px,100%), 1fr));*/
}


.intro-page::before {
content: '';
min-height: 100svh;
width: 100%;
position: fixed;
background:
linear-gradient(90deg,
color-mix(in hsl, canvasText, transparent 70%) 1px,
transparent 1px 30px) 50% 50% / 30px 30px,
linear-gradient(color-mix(in hsl, canvasText, transparent 70%) 1px, transparent 1px 30px) 50% 50% / 30px 30px;
mask: linear-gradient(-20deg, transparent 50%, white) 100%;
transform-style: preserve-3d;
transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-position 0.3s ease-in-out;
}

.row{
justify-content: center;
align-content: center;
text-align: center;
margin-inline: auto;
padding: 0 auto;
}

.row img{
max-inline-size:100%;
height: auto;
display: block;
object-fit: cover;
object-position: center;
border-radius: 50%;
margin-inline: auto;
box-shadow: 0px 50px 50px 50px rgba(248, 246, 246, 0.5);
}

.row p{
font-family: 'Big Shoulders Inline', sans-serif;
font-weight: 100;
font-size: var(--fs-300);
text-wrap: balance;
overflow-wrap: break-word;
}

/* --------------------------------------- */
/* ------------- Sidebar Nav ------------- */
/* --------------------------------------- */

#sidebar{
box-sizing: border-box;
height: 100vh;
background-color:transparent;
position: sticky;
top: 0;
align-self: start;
transition: 300ms ease-in-out;
overflow: hidden;
text-wrap: nowrap;
color: hsl(var(--clr-white));
}

#sidebar.close{
padding-left: 11px;
width: 81px;
}

#sidebar.close{
.logo{
display: none;
}
}


#sidebar ul{
list-style: none;

}

#sidebar > ul > li:first-child{
display: flex;
justify-content: flex-end;
margin-bottom: 16px;
.logo{
font-weight: 600;
}
}

#sidebar ul li a{
color:hsl(var(--clr-white));
height: auto;
width: auto;


svg{
fill:hsl(var(--clr-white));
}
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
color: hsl(var(--clr-white));
font-size: var(--fs-300);

font-weight: 100;

text-decoration: none;
display: flex;
align-items: center;

padding: 0.3em;

}
.dropdown-btn{
width: 100%;
text-align: left;
background: none;
border: none;
font: inherit;
cursor: pointer;
}
#sidebar svg{
flex-shrink: 0;
fill:hsl(var(--clr-white));
}
#sidebar a span, #sidebar .dropdown-btn span{
flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
background-color:transparent;
}
#sidebar .sub-menu{
display: grid;
grid-template-rows: 0fr;
transition: 300ms ease-in-out;


> div{
overflow: hidden;
}
}
#sidebar .sub-menu.show{
grid-template-rows: 1fr;
color: hsl(var(--clr-white));
}
.dropdown-btn svg{
transition: 200ms ease;
}
.rotate svg:last-child{
rotate: 180deg;
}
#sidebar .sub-menu a{
padding-left: 2em;
}
#toggle-btn{
margin-left: auto;
padding: 1em;
border: none;
border-radius: .5em;
background: none;
cursor: pointer;

svg{
transition: rotate 150ms ease;
}
}
#toggle-btn:hover{
background-color:transparent;
}


/* --------------------------------------- */
/* ------------- Media Query ------------- */
/* --------------------------------------- */

@media(max-width: 600px) {
.intro-page {
grid-template-columns: 1fr;
overflow: hidden;
}
.intro-main {
grid-template-columns: 1fr;
}

.row {
grid-template-columns: 1fr;
max-inline-size: 100%;
justify-content: center;
align-content: center;
}

.row img {
max-inline-size: 80px;
height: auto;
display: block;
object-fit: cover;
object-position: center;
border-radius: 50%;
justify-content: center;
align-content: center;
margin: 0 auto;
}


@media(max-width: 600px){
.intro-page{
grid-template-columns: 1fr;
}

.intro-main{
grid-template-columns: 1fr;
}
#sidebar{
height: 100px;
width: 100%;
padding-inline:0 auto;
margin-inline: auto;
color: hsl(var(--clr-white));


> ul{
display: grid;
grid-auto-flow: column;
width: 100%;
margin-inline:0 auto;
}

ul li:first-child{
display:none;
}


.dropdown-btn{
display: flex;
flex-direction:column;
}

ul a { 
display: flex;
width: auto;
flex-direction: column;
margin-inline: 0 auto ;
}

ul li span,svg:last-child{
display:flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

ul li .sub-menu.show{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
margin-inline: 0 auto;
color: hsl(var(--clr-white));
left: 0;
box-sizing: border-box;



> div{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
color: hsl(var(--clr-white));

}
li{
display: inline-flex;
}
a{
box-sizing: border-box;
padding: 1em;
width: auto;
justify-content: center;
}
}
}
}
}