@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");


:root {
  /* --------------------------------------- */
  /* ------------ Custom Colors ------------ */
  /* --------------------------------------- */

  --clr-dark: 0, 0%, 0%;
  --clr-light: 195, 70%, 90%;
  --clr-span: 187, 42%, 64%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;

  /* --------------------------------------- */
  /* ---------- Custom Font Sizes ---------- */
  /* --------------------------------------- */

  /* Step 0: 16px → 20px */
  --fs-300: clamp(1rem, 0.913rem + 0.4348cqi, 1.25rem);
  /* Step 1: 19.2px → 25px */
  --fs-400: clamp(1.2rem, 1.0739rem + 0.6304cqi, 1.5625rem);
  /* Step 2: 23.04px → 31.25px */
  --fs-500: clamp(1.44rem, 1.2615rem + 0.8924cqi, 1.9531rem);
  /* Step 3: 27.648px → 39.0625px */
  --fs-600: clamp(1.728rem, 1.4799rem + 1.2407cqi, 2.4414rem);
  /* Step 4: 33.1776px → 48.8281px */
  --fs-700: clamp(2.0736rem, 1.7334rem + 1.7011cqi, 3.0518rem);
  /* Step 5: 39.8131px → 61.0352px */
  --fs-800: clamp(2.4883rem, 2.027rem + 2.3067cqi, 3.8147rem);
  /* Step 6: 47.7757px → 76.2939px */
  --fs-900: clamp(2.986rem, 2.366rem + 3.0998cqi, 4.7684rem);
  /* Step 7: 57.3309px → 95.3674px */
  --fs-1000: clamp(3.5832rem, 2.7563rem + 4.1344cqi, 5.9605rem);
  /* Step 8: 68.7971px → 119.2093px */
  --fs-1100: clamp(4.2998rem, 3.2039rem + 5.4796cqi, 7.4506rem);

  /* --------------------------------------- */
  /* ----------- Custom Margins ------------ */
  /* --------------------------------------- */
  /* Space xs: 12px → 15px */
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261cqi, 0.9375rem);
  /* Space s: 16px → 20px */
  --space-s: clamp(1rem, 0.913rem + 0.4348cqi, 1.25rem);
  /* Space m: 24px → 30px */
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522cqi, 1.875rem);
  /* Space l: 32px → 40px */
  --space-l: clamp(2rem, 1.8261rem + 0.8696cqi, 2.5rem);
  /* Space xl: 48px → 60px */
  --space-xl: clamp(3rem, 2.7391rem + 1.3043cqi, 3.75rem);
  /* Space 2xl: 64px → 80px */
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391cqi, 5rem);
  /* Space 3xl: 96px → 120px */
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087cqi, 7.5rem);
  /* Space 4xl: 112px → 140px */
  --space-4xl: clamp(7rem, 6.3913rem + 3.0435cqi, 8.75rem);
  /* Space 5xl: 128px → 160px */
  --space-5xl: clamp(8rem, 7.3043rem + 3.4783cqi, 10rem);
  /* Space 6xl: 144px → 180px */
  --space-6xl: clamp(9rem, 8.2174rem + 3.913cqi, 11.25rem);
  /* Space 7xl: 160px → 200px */
  --space-7xl: clamp(10rem, 9.1304rem + 4.3478cqi, 12.5rem);
  /* Space 8xl: 192px → 240px */
  --space-8xl: clamp(12rem, 10.9565rem + 5.2174cqi, 15rem);
  /* --------------------------------------- */
  /* ------------ Custom Fonts ------------- */
  /* --------------------------------------- */

  --ff-serif: "Caveat", serif;
  --ff-Kanit: "Kanit", sans-serif;
}


/* --------------------------------------- */
/* ----------- Utility Classes ----------- */
/* --------------------------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-to-content {
  position: absolute;
  background: hsl(var(--clr-accent) / 1);
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

.numbered-title {
  font-size: var(--fs-400);
  letter-spacing: 2.72px;
}

.numbered-title span {
  margin-right: .5em;
  font-size: var(--fs-500);
  color: hsl(var(--clr-accent) / .25);
}

/* --------------------------------------- */
/* ------------  Custom Colors ----------- */
/* --------------------------------------- */

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-span {
  color: hsl(var(--clr-span));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-accent));
}

/* --------------------------------------- */
/* --------------- Navigation ------------ */
/* --------------------------------------- */

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background:transparent;
  color: hsl(var(--clr-white));
  padding: 0.5rem;
  position: relative;
}

header h1 {
  font-size: var(--fs-300);
  font-family:var(--ff-Kanit);
  color: hsl(var(--clr-white));
  margin: 0;
  padding: 0;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  font-family:var(--ff-Kanit);
  color: hsl(var(--clr-white));
  margin: 0;
  padding: 0 0 0 0.6em;
  }

.logo span {
  font-family:var(--ff-Kanit);
  color:hsl(var(--clr-span));
  margin: 0 0.5em 0 0.5em;
}

.primary-navigation {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  transition: clip-path ease-in-out 700ms;
  margin: 0;
  padding: 0;
  list-style: none;
}
.primary-navigation[data-state="opened"] {
  animation: clipPathCircleOpen 750ms ease-in-out forwards;
  display: block;
}

.primary-navigation[data-state="closing"] {
  animation: clipPathCircleClose 750ms ease-in-out forwards;
}
.primary-navigation[data-state="closed"] {
  display: none;
}

@keyframes clipPathCircleOpen {
  0% { clip-path: circle(0% at top right); }
  100% { clip-path: circle(250% at top right); }
}
@keyframes clipPathCircleClose {
  0% { clip-path: circle(250% at top right); }
  100% { clip-path: circle(0% at top right); }
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #ebebd3;
  display: block;
  padding: 0.3rem 4rem 0 1.5rem;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #e4b363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
}


.menu-toggle {
  padding: 1em;
  background: transparent;
  border: 0;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.menu-toggle:focus-visible {
  outline: 4px solid #e4b363;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

[aria-expanded="true"] .hamburger {
  transform: rotate(45deg);
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
}

[aria-expanded="true"] .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul {
  @media (hover) and (prefers-reduced-motion: no-preference) {
    &>li {
      opacity: 1;
      transform-origin: left center;
      transition:
        transform 1s var(--ease-spring-3),
        opacity .3s var(--ease-3);
    }

    &:hover>li:not(:hover) {
      opacity: .25;
      transform: scale(0.8);
    }
  }
}

@layer support.demo {
  ul {
     list-style: none;
  }
}
/* --------------------------------------- */
/* ---------- End of Navigation ---------- */
/* --------------------------------------- */


/* --------------------------------------- */
/* ------------- Components -------------- */
/* --------------------------------------- */

.large-button {
  font-size: 2rem;
  position: relative;
  z-index: 1;
  display: inline-flex;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 2 / 1;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 50%;
  background: hsl(var(--clr-white) / 0.8);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear,
    transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* --------------------------------------- */
/* ------- Page Specific Index Home ------ */
/* --------------------------------------- */

/* --------------------------------------- */
/* ---------- End of Index Home ---------- */
/* --------------------------------------- */



/* --------------------------------------- */
/* --------------- Navigation ------------ */
/* --------------------------------------- */

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background:transparent;
  color: hsl(var(--clr-white));
  padding: 0.5rem;
  position: relative;
}

header h1 {
  font-size: var(--fs-300);
  font-family:var(--ff-Kanit);
  color: hsl(var(--clr-white));
  margin: 0;
  padding: 0;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  font-family:var(--ff-Kanit);
  color: hsl(var(--clr-white));
  margin: 0;
  padding: 0 0 0 0.6em;
  }

.logo span {
  font-family:var(--ff-Kanit);
  color:hsl(var(--clr-span));
  margin: 0 0.5em 0 0.5em;
}

.primary-navigation {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  transition: clip-path ease-in-out 700ms;
  margin: 0;
  padding: 0;
  list-style: none;
}
.primary-navigation[data-state="opened"] {
  animation: clipPathCircleOpen 750ms ease-in-out forwards;
  display: block;
}

.primary-navigation[data-state="closing"] {
  animation: clipPathCircleClose 750ms ease-in-out forwards;
}
.primary-navigation[data-state="closed"] {
  display: none;
}

@keyframes clipPathCircleOpen {
  0% { clip-path: circle(0% at top right); }
  100% { clip-path: circle(250% at top right); }
}
@keyframes clipPathCircleClose {
  0% { clip-path: circle(250% at top right); }
  100% { clip-path: circle(0% at top right); }
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #ebebd3;
  display: block;
  padding: 0.3rem 4rem 0 1.5rem;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #bdeeb1;
  color:hsl(var(--clr-white));
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
}


.menu-toggle {
  padding: 1em;
  background: transparent;
  border: 0;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.menu-toggle:focus-visible {
  outline: 4px solid hsl(var(--clr-white));
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: hsl(var(--clr-white));
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

[aria-expanded="true"] .hamburger {
  transform: rotate(45deg);
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
}

[aria-expanded="true"] .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul {
  @media (hover) and (prefers-reduced-motion: no-preference) {
    &>li {
      opacity: 1;
      transform-origin: left center;
      transition:
        transform 1s var(--ease-spring-3),
        opacity .3s var(--ease-3);
    }

    &:hover>li:not(:hover) {
      opacity: .25;
      transform: scale(0.8);
    }
  }
}

@layer support.demo {
  ul {
     list-style: none;
  }
}
/* --------------------------------------- */
/* ---------- End of Navigation ---------- */
/* --------------------------------------- */


/* --------------------------------------- */
/* ------------- Intro Page -------------- */
/* --------------------------------------- */

.intro {
  display: grid;
  grid-template-rows: 3rem 1fr;
  min-height: 100svh;
  overflow: clip;
}

.intro>* {
  container-type: inline-size;
}

.intro-content {
  display: grid;
  place-items: center;
/* Center items horizontally and vertically */
}

.intro::before {
  content: '';
  min-height: 100svh;
  width: 100%;
  position: fixed;
  background:
    linear-gradient(90deg,
      color-mix(in hsl, canvasText, transparent 70%) 1px,
      transparent 1px 45px) 50% 50% / 45px 45px,
    linear-gradient(color-mix(in hsl, canvasText, transparent 70%) 1px, transparent 1px 45px) 50% 50% / 45px 45px;
  mask: linear-gradient(-20deg, transparent 50%, white) 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-position 0.3s ease-in-out;
}

.intro-content h1, h2, h3 {
  font-size: var(--fs-400);
  font-family:var(--ff-Kanit);
  letter-spacing: 0.05em;
  padding:0;
  color: hsl(var(--clr-white));
  font-style: italic;
  text-align: center;
}

.intro-content p {
  font-size: var(--fs-300);
  font-family:var(--ff-Kanit);
  letter-spacing: 0.05em;
 }

.intro-content p span {
  font-size: var(--fs-400);
  font-family:var(--ff-Kanit);
  letter-spacing:var(--letter-spacing);
  color: hsl(var(--clr-white));
}

.intro-content img
{
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 0 auto;
}

.streamers {
  display: block;
  text-align: center;
  margin-inline:0 auto;
  position: relative; /* Ensure the container is positioned relative */
}

.streamers p {
  font-size: var(--fs-300);
  font-family:var(--ff-Kanit);
  color: hsl(var(--clr-white));
  text-align: center;
  margin: 0 auto;
}

.streamers a {
  color:hsl(var(--clr-white));
  text-decoration: none;
  touch-action: manipulation;
 }

.streamers ion-icon {
  font-size: var(--fs-400);
  z-index: 5; 
  --ionicon-stroke-width: 32px;
  color:hsl(var(--clr-white));
  text-align: center;
  vertical-align: middle;
}

.streamers a:hover::after {
  transform: translate(-50%, -0%) scale(1);
  opacity: 1;
  background: hsl(var(--clr-white));
  z-index: 1;
  animation: pulse 1000ms ease-in-out infinite; /* Apply pulsing animation */
}

.streamers a::before,
.streamers a::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  height: 100%;
  transform: translate(-50%, -0%); /* Center the pseudo-elements */
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(2);
    opacity: 0.75;
  }
  100% {
    transform: scale(2); /* Reduced scale for smaller pulsing */
    opacity: 0;
  }
}

/* --------------------------------------- */
/* --------- Container Query Intro  ------ */
/* --------------------------------------- */

/* --------------------------------------- */
/* ---------- End of Intro Home ---------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* ------ Page Specific -- Profile ------- */
/* --------------------------------------- */

.profile {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  transition: 300ms ease-in-out;
  overflow: hidden;
}

.profile > *:not(.sidebar) {
  container-type: inline-size;
  width: 100%;
  margin-inline: 0 auto;
}

.profile::before {
  content: '';
  min-height: 100vh;
  width: 100%;
  position: fixed;
  background:
    linear-gradient(90deg,
      color-mix(in hsl, canvasText, transparent 70%) 1px,
      transparent 1px 45px) 50% 50% / 45px 45px,
    linear-gradient(color-mix(in hsl, canvasText, transparent 70%) 1px, transparent 1px 45px) 50% 50% / 45px 45px;
  mask: linear-gradient(-20deg, transparent 50%, white) 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-position 0.3s ease-in-out;
}

[data-theme='light'] {
  color-scheme: light only;
}

[data-theme='dark'] {
  color-scheme: dark only;
}

@layer base {
  [data-theme='light'] {
    color-scheme: light only;
  }

  #main {
    display: flex;
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    transition: 300ms ease-in-out;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    justify-content: center;
    align-items: center;
    margin-inline: 0 auto;
    gap: var(--space-5xl);
    font-family: var(--ff-serif);
    font-size: var(--fs-400);
    text-align: left;
  }

  .profile img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  #sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
  }
}

/* --------------------------------------- */
/* --- Page Specific -- Intro-Welcome ---- */
/* --------------------------------------- */

.intro-welcome {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  /* Center items horizontally and vertically */
  overflow: clip;
}

#sidebar.close {
  padding: 5px;
  width: 60px;
}

#sidebar ul {
  list-style: none;
}

#sidebar>ul>li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;

  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  color: var(--accent-clr);

  svg {
    fill: var(--accent-clr);
  }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  >div {
    overflow: hidden;
  }
}

.profile>*::not .sidebar {
  container-type: inline-size;
  width: 100%;
  margin-inline: 0 auto;
}

.profile::before {
  content: '';
  min-height: 100vh;
  width: 100%;
  position: fixed;
  background:
    linear-gradient(90deg,
      color-mix(in hsl, canvasText, transparent 70%) 1px,
      transparent 1px 45px) 50% 50% / 45px 45px,
    linear-gradient(color-mix(in hsl, canvasText, transparent 70%) 1px, transparent 1px 45px) 50% 50% / 45px 45px;
  mask: linear-gradient(-20deg, transparent 50%, white) 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-position 0.3s ease-in-out;
}

[data-theme='light'] {
  color-scheme: light only;
}

[data-theme='dark'] {
  color-scheme: dark only;
}

@layer base {
  html {
    color-scheme: dark only;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  #main {
    display: flex;
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    transition: 300ms ease-in-out;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    justify-content: center;
    align-items: center;
    margin-inline: 0 auto;
    gap: var(--space-5xl);
    font-family: var(--ff-serif);
    font-size: var(--fs-400);
    text-align: left;
  }

  .profile img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
  }

  .dropdown-btn svg {
    transition: 200ms ease;
  }

  .rotate svg:last-child {
    rotate: 180deg;
  }

  #sidebar .sub-menu a {
    padding-left: 2em;
  }

  #toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg {
      transition: rotate 150ms ease;
    }
  }

  #toggle-btn:hover {
    background-color: var(--hover-clr);
  }
}

/* --------------------------------------- */
/* --------- End of Profile Page --------- */